@CHARSET "UTF-8";

[data-translate] { visibility: hidden; }
.nimbus-hidden { display: none; }
.search-option-extensions { }

#menu-button::before, #menu-button::after,
#search-options::before, #search-options::after { display: none; }
#search-group { width: auto; }
#search-input { width: 170px; }
#add-file-input { display: none; }
#progress { display: none; }
#progress > :first-child { flex: auto; }
#progress > :last-child { flex: none; min-width: 6em; text-align: center; font-size: .75rem; }
#alert-container { padding: 10px 10px 0; }
#alert-container:empty { display: none; }
#alert-container > .alert { margin-bottom: 10px; }
#usage-menu-entry { height: 2.5em; }
#itemcount:empty { display: none; }
#itemcount::before { content: "("; }
#itemcount::after { content: ")"; }
#move-dialog ul { margin: 0; padding: 0; }
#move-dialog li { margin: 0; padding: 0 0 0 15px; }
#move-dialog li > div { padding: 8px 15px 8px 0; cursor: pointer; display: flex; justify-content: space-between; align-items: center; }
#move-dialog li:not(.expanded) > ul { display: none; }

[data-theme=bootstrap] body { padding-top: 56px; }
[data-theme=united] body { padding-top: 56px; }
[data-theme=darkly] body { padding-top: 71px; }
[data-theme=flatly] body { padding-top: 71px; }
[data-theme=materia] body { padding-top: 80px; }

#main:not(.nimbus-selecting) #delete-button,
#main:not(.nimbus-selecting) #download-button,
#main:not(.nimbus-selecting) #move-button,
#main:not(.nimbus-selecting) #all-selected-checkbox,
#main.nimbus-selecting #search-group,
#main.nimbus-selecting #logout-button { display: none; }

#items { width: 100%; table-layout: fixed; }
#items .icon { width: 40px; text-align: center; }
#items .name { width: auto; }
#items .name > .badge { float: right; margin-right: 0.5em;  }
#items .name > .description { font-size: small; display: inline; }
#items .actions { width: 50px; text-align: center; }
#items > thead th[data-sort] { cursor: pointer; }
#items > tbody { cursor: pointer; }
#items > tbody > tr > td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; }
#items > tbody > tr:not(.folder) > td.icon > .material-icons { color: gray; }
#items > tbody > tr:not(.active) > td.icon > :first-child { display:none; }
#items > tbody > tr.active td.icon > :last-child { display: none; }

@media (max-width: 1023px) {
	#path .nav-item:not(.active) { display: none; }
	#search-input { width: 100px; }
}
