@charset "UTF-8";

[data-translate] { visibility: hidden; }
.nimbus-hidden { display: none; }

#menu-button::before, #menu-button::after,
#search-options::before, #search-options::after { display: none; }
#search-group { width: auto; }
#search-input { width: 170px; }
#add-file-input { display: none; }
#progress { display: none; }
#progress > :first-child { flex: auto; }
#progress > :last-child { flex: none; min-width: 6em; text-align: center; font-size: .75rem; }
#alert-container { padding: 5px; }
#alert-container:empty { display: none; }
#alert-container > .alert { margin: 5px; }
#usage-menu-entry { height: 2.5em; }
#itemcount:empty { display: none; }
#itemcount::before { content: "("; }
#itemcount::after { content: ")"; }
#move-dialog ul { margin: 0 0 1rem; padding: 0; }
#move-dialog li { margin: 0; padding: 0 0 0 15px; }
#move-dialog li > div { padding: 8px 15px 8px 0; cursor: pointer; display: flex; justify-content: space-between; align-items: center; }
#move-dialog li:not(.expanded) > ul { display: none; }

#main { padding-top: 71px; }
#main:not(.nimbus-selecting) #delete-button,
#main:not(.nimbus-selecting) #download-button,
#main:not(.nimbus-selecting) #move-button,
#main:not(.nimbus-selecting) #all-selected-checkbox,
#main.nimbus-selecting #search-group,
#main.nimbus-selecting #logout-button { display: none; }

#items { width: 100%; table-layout: fixed; }
#items .icon { width: 40px; text-align: center; }
#items .icon img { max-width: 24px; max-height: 24px; }
#items .name { width: auto; }
#items .name > .badge { float: right; margin-right: 0.5em;  }
#items .name > .description { font-size: small; display: inline; }
#items .actions { width: 50px; text-align: center; }
#items > thead th.sortable { cursor: pointer; }
#items > tbody { cursor: pointer; }
#items > tbody > tr > td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; }
#items > tbody > tr:not(.folder) > td.icon > .material-icons { color: gray; }
#items > tbody > tr:not(.active) > td.icon > :first-child { display:none; }
#items > tbody > tr.active td.icon > :last-child { display: none; }

@media (max-width: 1023px) {
	#path .nav-item:not(.active) { display: none; }
	#search-input { width: 100px; }
}

.nimbus-viewer { width: 100%; height: 100%; }
.nimbus-viewer .nimbus-toolbar-separator { display: inline-block; height: 24px; margin: 6px; width: 3px; border-width: 0 1px 0 1px; border-style: dashed; border-color: #888; }
.nimbus-viewer header { z-index: 2; background-color: #333; padding: 5px 10px; text-align: center; }
.nimbus-viewer footer { z-index: 2; background-color: #333; padding: 5px 10px; text-align: center; }
.nimbus-viewer header:empty { display: none; }
.nimbus-viewer footer:empty { display: none; }
.nimbus-viewer.nimbus-static-toolbars body { width: 100%; height: 100%; display: flex; flex-direction: column; }
.nimbus-viewer.nimbus-static-toolbars header { flex: none; }
.nimbus-viewer.nimbus-static-toolbars main { flex: auto; z-index: 0; overflow: auto; }
.nimbus-viewer.nimbus-static-toolbars footer { flex: none; }
.nimbus-viewer.nimbus-hideable-toolbars body { width: 100%; height: 100%; }
.nimbus-viewer.nimbus-hideable-toolbars header { position: fixed; top: 0; left: 0; right: 0; }
.nimbus-viewer.nimbus-hideable-toolbars main { width: 100%; height: 100%; z-index: 0; overflow: auto; }
.nimbus-viewer.nimbus-hideable-toolbars footer { position: fixed; bottom: 0; left: 0; right: 0; }
.nimbus-viewer.nimbus-hidden-toolbars header { display: none; }
.nimbus-viewer.nimbus-hidden-toolbars footer { display: none; }
