<!DOCTYPE html>
<html class="nimbus-viewer nimbus-static-toolbars">
<head>
<title data-translate="text">CalendarTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="${stylesheet}" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<style>
#sourceMenu div.dropdown-item { display: flex; align-items: center; }
#sourceMenu div.dropdown-item span { flex: auto; padding-right: 1.25rem; padding-left: 34px; }
#sourceMenu div.dropdown-item .btn { flex: none; padding: 0.25rem; }

#days { position: sticky; top: 0; display: flex; flex-direction: row; font-weight: bold; }
#days > div { flex: 1 1 1px; text-align: center; text-transform: capitalize; }
#days > div:first-child { flex: 0 0 2em; }
#weeks .popover { max-width: unset; }

.week { display: flex; flex-direction: row; }
.week-number { flex: 0 0 2em; text-align: right; padding: 2px; }
.day { flex: 1 1 1px; }
.day-header { max-height: 1.5em; text-align: right; padding: 0 0.5em; }
.day-header > .month-name { float: left; font-weight: bold; text-transform: capitalize; }
.day-header > .day-name { display: none; }
.day-content { min-height: 4em; padding: 0.2em; }
.day-content > * { margin: 2px; border-left-width: 6px; border-left-style: solid; padding: 0.3em; }

@media (max-width: 1023px) {
	#periodLongDescription { display: none; }
	.month-name { display: none; }
}
@media (min-width: 1024px) {
	#periodShortDescription { display: none; }
}

@media (max-width: 639px) {
	#days { display: none; }
	.week { display: block; }
	.week-number { display: block; }
	.day-header > .day-name { display: inline; padding-right: 0.5em; }
	.day-header > .month-name { display: inline; }
}
</style>
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/moment/moment.min.js"></script>
<#if lang == "fr"><script type="text/javascript" src="/libs/moment/fr.js"></script></#if>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body class="nimbus-hidden">
	<header class="bg-primary">
		<div class="float-left">
			<a href="#" class="btn btn-link back" style="display: none;"><i class="material-icons">arrow_back</i></a>
			<button id="saveButton" type="button" class="btn btn-link nimbus-hidden" data-translate="title" title="CalendarSave"><i class="material-icons">save</i></button>
		</div>

		<div class="btn-group">
			<button id="prevButton" type="button" class="btn btn-link btn-sm" data-translate="title" title="CalendarPreviousPeriod"><i class="material-icons">chevron_left</i></button>
			<div class="btn btn-link" data-translate="title" title="CalendarSelectDate">
				<i class="material-icons">event</i>
				<input id="selectInput" type="date" style="opacity: 0; position: absolute; left: 0; width: 100%; top: 0; height: 100%; "/>
			</div>
			<div class="btn-group">
				<button id="viewButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="CalendarSelectView" aria-haspopup="true" aria-expanded="false"><i class="material-icons">visibility</i></button>
				<div id="viewMenu" class="dropdown-menu" aria-labelledby="viewButton"></div>
			</div>
			<button id="nextButton" type="button" class="btn btn-link btn-sm" data-translate="title" title="CalendarNextPeriod"><i class="material-icons">chevron_right</i></button>
		</div>

		<div class="float-right">
			<div class="btn-group">
				<button id="sourceButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="CalendarSelectSource" aria-haspopup="true" aria-expanded="false"><i class="material-icons">view_list</i></button>
				<div id="sourceMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="sourceButton"></div>
			</div>
			<button id="closeButton" type="button" class="btn btn-link" data-translate="title" title="CalendarClose"><i class="material-icons">close</i></button>
		</div>
	</header>
	<main>
		<div id="days" class="bg-primary text-white border-bottom border-dark">
			<div>&nbsp;</div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div id="weeks"></div>
	</main>
	<footer class="bg-secondary">
		<span id="periodShortDescription" class="text-white"></span>
		<span id="periodLongDescription" class="text-white"></span>
	</footer>
	<form>
		<div id="eventTypeModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title insert" data-translate="text">CalendarEventTypeModalTitle</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="eventTypeLabel" data-translate="text">CalendarEventTypeLabelLabel</label>
							<input id="eventTypeLabel" type="text" class="form-control" data-translate="placeholder" placeholder="CalendarEventTypeLabelPlaceholder" autofocus="autofocus" />
						</div>
						<div class="form-group">
							<label for="eventTypeColor" data-translate="text">CalendarEventTypeColorLabel</label>
							<input id="eventTypeColor" type="color" class="form-control" data-translate="placeholder" placeholder="CalendarEventTypeColorPlaceholder" />
						</div>
						<div class="form-group">
							<label for="eventTypeRepeat" data-translate="text">CalendarEventTypeRepeatLabel</label>
							<select id="eventTypeRepeat" class="form-control">
								<option value="" data-translate="text">CalendarRepeatNone</option>
								<option value="daily" data-translate="text">CalendarRepeatDaily</option>
								<option value="weekly" data-translate="text">CalendarRepeatWeekly</option>
								<option value="monthly" data-translate="text">CalendarRepeatMonthly</option>
								<option value="quarterly" data-translate="text">CalendarRepeatQuarterly</option>
								<option value="yearly" data-translate="text">CalendarRepeatYearly</option>
							</select>
						</div>
						<div class="form-group">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="eventTypeActive">
								<label class="custom-control-label" for="eventTypeActive" data-translate="text">CalendarEventTypeActiveLabel</label>
							</div>
						</div>
						<div class="form-group">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="eventTypeEditOnCreation">
								<label class="custom-control-label" for="eventTypeEditOnCreation" data-translate="text">CalendarEventTypeEditOnCreationLabel</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-translate="text" data-dismiss="modal">CalendarEventTypeCancelButton</button>
						<button id="eventTypeValidateButton" type="button" class="btn btn-primary">
							<span class="add" data-translate="text">CalendarEventTypeAddButton</span>
							<span class="apply" data-translate="text">CalendarEventTypeApplyButton</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form>
		<div id="eventModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title insert" data-translate="text">CalendarEventModalTitle</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="eventModalType" data-translate="text">CalendarEventModalTypeLabel</label>
							<select id="eventModalType" class="form-control" required="required" autofocus="autofocus"></select>
						</div>
						<div class="form-group">
							<label for="eventModalDate" data-translate="text">CalendarEventModalDateLabel</label>
							<input id="eventModalDate" type="date" class="form-control" required="required" data-translate="placeholder" placeholder="CalendarEventModalDatePlaceholder" />
						</div>
						<div class="form-group">
							<label for="eventModalRepeat" data-translate="text">CalendarEventModalRepeatLabel</label>
							<select id="eventModalRepeat" class="form-control">
								<option value="" data-translate="text">CalendarRepeatNone</option>
								<option value="daily" data-translate="text">CalendarRepeatDaily</option>
								<option value="weekly" data-translate="text">CalendarRepeatWeekly</option>
								<option value="monthly" data-translate="text">CalendarRepeatMonthly</option>
								<option value="quarterly" data-translate="text">CalendarRepeatQuarterly</option>
								<option value="yearly" data-translate="text">CalendarRepeatYearly</option>
							</select>
						</div>
						<div class="form-group">
							<label for="eventModalLabel" data-translate="text">CalendarEventModalLabelLabel</label>
							<input id="eventModalLabel" type="text" class="form-control" data-translate="placeholder" placeholder="CalendarEventModalLabelPlaceholder" />
						</div>
						<div class="form-group">
							<label for="eventModalEndDate" data-translate="text">CalendarEventModalEndDateLabel</label>
							<input id="eventModalEndDate" type="date" class="form-control" data-translate="placeholder" placeholder="CalendarEventModalEndDatePlaceholder" />
						</div>
						<div class="form-group">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="eventModalDone">
								<label class="custom-control-label" for="eventModalDone" data-translate="text">CalendarEventModalDoneLabel</label>
							</div>
						</div>
						<div class="form-group">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="eventModalImportant">
								<label class="custom-control-label" for="eventModalImportant" data-translate="text">CalendarEventModalImportantLabel</label>
							</div>
						</div>
						<div class="form-group">
							<label for="eventModalNote" data-translate="text">CalendarEventModalNoteLabel</label>
							<textarea id="eventModalNote" class="form-control" data-translate="placeholder" placeholder="CalendarEventModalNotePlaceholder"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-translate="text" data-dismiss="modal">CalendarEventModalCancelButton</button>
						<button id="eventModalValidateButton" type="button" class="btn btn-primary">
							<span class="add" data-translate="text">CalendarEventModalAddButton</span>
							<span class="apply" data-translate="text">CalendarEventModalApplyButton</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
<script>
"use strict";

// Le format de date moment correspondant aux "input[type=date]"
var inputDateFormat = 'YYYY-MM-DD';

function prepareCalendar(items, itemId) {
	// Récupération de l'API
	var api = NIMBUS.utils.calendar;
	// Création d'un calendrier
	var calendar = new api.Calendar();
	// Ajout des vues disponibles ("Semaine", "Multi-semaines", "Mois", "Multi-mois" et "Année")
	calendar.views.push(api.createWeekCalendarView(NIMBUS.translate('CalendarSelectViewWeek')));
	calendar.views.push(api.createWeeksCalendarView(NIMBUS.translate('CalendarSelectViewWeeks'), 4, 1));
	calendar.views.push(api.createMonthCalendarView(NIMBUS.translate('CalendarSelectViewMonth')));
	calendar.views.push(api.createMonthsCalendarView(NIMBUS.translate('CalendarSelectViewMonths'), 2, 1));
	calendar.views.push(api.createYearCalendarView(NIMBUS.translate('CalendarSelectViewYear')));
	// Affichage en vue "Mois" par défaut
	calendar.view = calendar.views[2];
	// Ajout d'une source par fichier ".calendar"
	return Promise.all(items.map((item) => api.createNimbusFileCalendarSource(item, itemId === null || itemId === item.id))).then((sources) => {
		Array.prototype.push.apply(calendar.sources, sources);
	}).then(function() {
		// Ajout d'une source pour les jours fériés en France 
		calendar.sources.push(api.createFrenchSpecialDaysCalendarSource(NIMBUS.translate('CalendarFrenchSpecialDays'), '#eee', true));
	}).then(function() {
		// Finalisation en retournant le calendrier
		// console.log(calendar);
		return calendar;
	});
}

function connectNavigation(calendar) {
	// Ajuster le calendrier quand la date de l'input change
	$('#selectInput').on('input', (event) => calendar.showMoment(moment(event.target.value, inputDateFormat)));
	// Reculer d'une période quand on clique sur <
	$('#prevButton').on('click', () => calendar.showPrevious());
	// Avancer d'une période quand on clique sur >
	$('#nextButton').on('click', () => calendar.showNext());
	// Ajuster l'IHM quand la date du calendrier change
	$(calendar).on('calendarupdate', function(event, data) {
		$('#selectInput').val(data.currentMoment.format(inputDateFormat))
		$('#periodShortDescription').text(data.view.formatPeriod(data.startMoment, data.endMoment, false));
		$('#periodLongDescription').text(data.view.formatPeriod(data.startMoment, data.endMoment, true));
	});
}

function connectViewMenu(calendar) {
	// Récupérer le menu affichant les vues
	var menu = $('#viewMenu');
	// Initialiser le menu
	menu.append(calendar.views.map(function(view) {
		return $('<button class="dropdown-item" />')
			.toggleClass('active', calendar.view === view)
			.text(view.name)
			.get(0);
	}));
	// Ajuster le calendrier quand l'utilisateur change de vue
	menu.on('click', '.dropdown-item', function(event) {
		var menuItem = $(event.target).closest('.dropdown-item');
		calendar.showView(menuItem.index());
		menuItem.addClass('active').siblings().removeClass('active');
	});
}

function connectSourceMenu(calendar) {
	// Récupérer le menu affichant les sources
	var menu = $('#sourceMenu');
	// Modèle du bouton d'ajout de nouveaux types
	var addEventTypeHTML = '<button type="button" class="dropdown-item calendar-add-type"><span style="padding-left: 34px; ">' + NIMBUS.translate('CalendarAddEventTypeButton') + '</span></button>';
	// Modèle de bouton pour remonter un type
	var upEventTypeHTML = '<button type="button" class="btn btn-link calendar-up-type" title="' + NIMBUS.translate('CalendarUpEventTypeTitle') + '"><i class="material-icons">keyboard_arrow_up</i></button>';
	// Modèle de bouton pour descendre un type
	var downEventTypeHTML = '<button type="button" class="btn btn-link calendar-down-type" title="' + NIMBUS.translate('CalendarDownEventTypeTitle') + '"><i class="material-icons">keyboard_arrow_down</i></button>';
	// Modèle de bouton de modification d'un type
	var editEventTypeHTML = '<button type="button" class="btn btn-link calendar-edit-type" title="' + NIMBUS.translate('CalendarEditEventTypeTitle') + '"><i class="material-icons">edit</i></button>';
	// Modèle de bouton de suppression d'un type
	var deleteEventTypeHTML = '<button type="button" class="btn btn-link calendar-delete-type" title="' + NIMBUS.translate('CalendarDeleteEventTypeTitle') + '"><i class="material-icons text-danger">delete</i></button>';
	// Initialiser le menu
	function buildMenu() {
		menu.empty();
		calendar.sources.forEach(function(source, sourceIndex) {
			// Séparateur entre les sources
			if (sourceIndex > 0)
				menu.append('<div class="dropdown-divider"></div>');
			// Bouton avec l'icone et le nom de la source, permettant de choisir les sources actives 
			$('<button type="button" class="dropdown-item calendar-toggle-source" />')
				.data('source', source)
				.append($('<i class="material-icons text-muted indicator" style="float: right; margin: 0.25rem; ">check</i>').toggle(source.active))
				.append($('<i class="material-icons text-muted" />').text(source.icon))
				.append($('<span style="padding-right: 40px; padding-left: 10px; " />').text(source.name))
				.appendTo(menu);
			// Pour les sources en lecture-seule, aucune autre action
			if (source.readonly || !source.active)
				return;
			// Boutons pour éditer/ déplacer / supprimer chaque type d'évènement de cette source  
			source.types.forEach(function(type) {
				$('<div class="dropdown-item" />')
					.data('type', type)
					.data('source', source)
					.append($('<span />').text(type.label))
					.append(upEventTypeHTML)
					.append(downEventTypeHTML)
					.append(editEventTypeHTML)
					.append(deleteEventTypeHTML)
					.appendTo(menu);
			});
			// Bouton pour ajouter un type d'évènement à cette source  
			$(addEventTypeHTML)
				.data('source', source)
				.appendTo(menu);
		});
	}
	buildMenu();
	// Ajuster le calendrier quand l'utilisateur active ou désactive une source
	menu.on('click', '.calendar-toggle-source', function(event) {
		var menuItem = $(event.target).closest('.dropdown-item');
		calendar.toggleSource(menuItem.data('source'));
		buildMenu();
	});
	// Ajouter un type d'évènement quand l'utilisateur clique sur un bouton d'ajout
	menu.on('click', '.calendar-add-type', function() {
		var api = NIMBUS.utils.calendar;
		var button = $(this).closest('button');
		var source = button.data('source');
		var type = new api.CalendarEventType();
		// Afficher la fenêtre modale
		editEventType(calendar, source, type, true, function() {
			// Ajuster le menu
			buildMenu();
		});
	});
	// Remonter un type d'évènement quand l'utilisateur clique sur le chevron haut
	menu.on('click', '.calendar-up-type', function() {
		var item = $(this).closest('.dropdown-item');
		var source = item.data('source');
		var type = item.data('type');
		var index = source.types.indexOf(type);
		if (index > 0) {
			// Ajuster le menu
			item.insertBefore(item.prev());
			// Ajuster les données
			source.types.splice(index, 1);
			source.types.splice(index - 1, 0, type);
			// Gérer la sauvegarde
			source.modified = true;
			$(calendar).trigger('calendar.change');
		}
		// Laisser le menu visible
		return false;
	});
	// Descendre un type d'évènement quand l'utilisateur clique sur le chevron bas
	menu.on('click', '.calendar-down-type', function() {
		var item = $(this).closest('.dropdown-item');
		var source = item.data('source');
		var type = item.data('type');
		var index = source.types.indexOf(type);
		if (index < source.types.length - 1) {
			// Ajuster le menu
			item.insertAfter(item.next());
			// Ajuster les données
			source.types.splice(index, 1);
			source.types.splice(index + 1, 0, type);
			// Gérer la sauvegarde
			source.modified = true;
			$(calendar).trigger('calendar.change');
		}
		// Laisser le menu visible
		return false;
	});
	// Editer un type d'évènement quand l'utilisateur clique sur un crayon
	menu.on('click', '.calendar-edit-type', function() {
		var item = $(this).closest('.dropdown-item');
		var source = item.data('source');
		var type = item.data('type');
		// Afficher la fenêtre modale
		editEventType(calendar, source, type, false, function() {
			// Ajuster le menu
			item.children('span').text(type.label);
		});
	});
	// Supprimer un type d'évènement quand l'utilisateur clique sur un crayon
	menu.on('click', '.calendar-delete-type', function() {
		var item = $(this).closest('.dropdown-item');
		var source = item.data('source');
		var type = item.data('type');
		// Ajuster les données
		source.types.splice(source.types.indexOf(type), 1);
		// Gérer la sauvegarde
		source.modified = true;
		$(calendar).trigger('calendar.change');
		// Ajuster le menu
		item.remove();
	});
}

function connectMainView(calendar) {
	// Récupérer quelques infos dépendant de la langue
	var localeData = moment.localeData();
	var weekdays = localeData.weekdays();
	var firstDayOfWeek = localeData.firstDayOfWeek();
	// Indiquer le nom des jours sur une ligne fixe en haut
	$('#days > :gt(0)').each(function(index, div) {
		div.textContent = weekdays[(firstDayOfWeek + index) % 7];
	})
	// Ecouter les modifications du calendrier pour mettre à jour l'IHM
	$(calendar).on('calendarupdate', function(event, data) {
		// Génération de la grille
		var m = moment(data.startOfWeek);
		var weeks = $('#weeks').empty();
		do {
			var week = $('<div class="week border-bottom border-dark" />')
				.append($('<div class="week-number" />').text(m.isoWeek()));
			for (var i = 0; i < 7; i++) {
				var out = m.isBefore(data.startMoment) || m.isAfter(data.endMoment);
				$('<div class="day border-left border-dark" />')
					.toggleClass('day-out', out)
					.attr('data-day', m.format(inputDateFormat))
					.append($('<div class="day-header text-white" />')
							.toggleClass('bg-secondary', out)
							.toggleClass('bg-primary', !out)
							.append($('<span class="month-name" />').text(m.date() === 1 ? m.format('MMMM') : ''))
							.append($('<span class="day-name" />').text(weekdays[(firstDayOfWeek + m.weekday()) % 7]))
							.append($('<span class="day-number" />').text(m.format(m.date() === 1 ? 'Do' : 'D'))))
					.append($('<div class="day-content" />'))
					.appendTo(week);
				m.add(1, 'day');
			}
			week.appendTo(weeks);
		} while (m.isBefore(data.endOfWeek));

		// Ajustement de la hauteur
		// Si le calendrier montre 6 semaines ou moins (autrement dit en vues semaine, multi-semaines et mois),
		// et que l'affichage ne descend pas en dessous de 640px (cf @media queries ci-dessus qui passent les n° de semaine en bloc),
		// on donne une hauteur min à chaque semaine pour utiliser l'espace disponible en hauteur, s'il y en a.
		// Cette hauteur min vaut (hauteurTotale - hauteurHeader - hauteurFooter - hauteurDays) / nbSemaine - bordDeChaqueSemaine)
		var weekNumbers = $('#weeks > .week > .week-number');
		if (weekNumbers.length <= 6 && weeks.innerWidth() >= 640)
			weekNumbers.css('min-height', 'calc((100vh - 93px - 0.75rem) / ' + weekNumbers.length + ' - 1px)');

		// Génération des évènements
		var days = weeks.find('.day-content').get();
		var minMoment = moment(data.startOfWeek);
		var maxMoment = moment(data.endOfWeek);
		data.events.forEach(function(event) {
			var eventMoment = event.date.toMoment();
			var periods = [];
			if (event.repeat !== null) {
				// Evènement sur une date avec répétition (début et fin mais pas de répétition)
				var momentRepeat = null;
				switch (event.repeat) {
					case 'yearly' : momentRepeat = 'years'; break;
					case 'quarterly' : momentRepeat = 'quarters'; break;
					case 'monthly' : momentRepeat = 'months'; break;
					case 'weekly' : momentRepeat = 'weeks'; break;
					case 'daily' : momentRepeat = 'days'; break;
				}
				if (eventMoment.isBefore(minMoment))
					eventMoment.add(minMoment.diff(eventMoment, momentRepeat) + 1, momentRepeat);
				var stopMoment = event.endDate != null ? moment.min(maxMoment, event.endDate.toMoment()) : maxMoment;
				while (eventMoment.isSameOrBefore(stopMoment)) {
					periods.push(eventMoment.diff(minMoment, 'days'));
					eventMoment.add(1, momentRepeat);
				}
			} else if (event.endDate != null) {
				// Evènement sur un intervalle de dates (début et fin mais pas de répétition)
				var i = eventMoment.diff(minMoment, 'days');
				var c = event.endDate.toMoment().diff(eventMoment, 'days');
				while (c >= 0) {
					periods.push(i);
					i++;
					c--;
				}
			} else {
				// Evènement sur une seule date (pas de fin, pas de répétition)
				periods.push(eventMoment.diff(minMoment, 'days'));
			}
			var source = calendar.findSourceOfEvent(event);
			periods.forEach(function(p) {
				if (p >= 0 && p < days.length)
					$('<div />').data('event', event).data('source', source)
						.text(event.label || event.type.label).css('border-color', event.type.color).prop('draggable', true)
						.appendTo(days[p]);
			});
		});
	});
}

function connectEventDragAndDrop(calendar) {
	var container = $('#weeks');
	var draggable = null;

	// Activer le "drag" sur tous les div d'évènement
	container.on('dragstart', '.day-content > div', function(e) {
		// Vérifier avant que la source n'est pas en lecture seule
		if ($(e.target).data('source').readonly)
			return false;
		draggable = e.target;
		e.originalEvent.dataTransfer.setData('text/plain', e.target.innerText);
		e.originalEvent.dataTransfer.dropEffect = 'move';
	});

	// Activer le "drop" sur chaque jour
	container.on('dragover', '.day-content', function(e) {
		// Vérifier avant qu'on a bien attrapé un évènement
		if (draggable === null)
			return;
		// Bloquer aussi le "drop" sur le même jour qu'au départ
		var overSameDayFreeSpace = e.target === draggable.parentNode;
		var overOneEventOfSameDay = e.target.parentNode === draggable.parentNode;
		if (overSameDayFreeSpace || overOneEventOfSameDay)
			return;
		return false;
	});

	// Déplacer l'évènement quand on relâche la souris
	container.on('drop', '.day-content', function(e) {
		var drag = $(draggable);
		var drop = $(e.target);
		var dragDay = moment(drag.closest('.day').attr('data-day'), inputDateFormat);
		var dropDay = moment(drop.closest('.day').attr('data-day'), inputDateFormat);
		var daysToAdd = dropDay.diff(dragDay, 'days');
		var event = drag.data('event');
		var source = drag.data('source');
		var api = NIMBUS.utils.calendar;
		// Ajuster les données
		event.date = api.CalendarDate.from(event.date.toMoment().add(daysToAdd, 'days'));
		if (event.endDate)
			event.endDate = api.CalendarDate.from(event.endDate.toMoment().add(daysToAdd, 'days'));
		// Ajuster le calendrier
		calendar.update();
		// Gérer la sauvegarde
		source.modified = true;
		$(calendar).trigger('calendar.change');
		// S'assurer de vider le contexte (car "dragend" ne sera pas appelé maintenant que la source a disparu)
		draggable = null;
		// Rester sur la page
		return false;
	});

	// Vider le contexte si on relâche ailleurs (car "drop" ne sera pas appelé)
	container.on('dragend', '.day-content > div', function(e) {
		draggable = null;
	});
}

function connectPopover(calendar) {
	var container = $('#weeks');

	container.popover({
		trigger: 'click',
		selector: '.day-header, .day-content > div',
		container: '#weeks',
		html: true,
		content: function() {
			// Get clicked element
			var self = $(this);
			// Get clicked day
			var day = self.closest('.day').attr('data-day');
			// Create menu container
			var menu = $('<div class="list-group list-group-flush day-menu" />').attr('data-day', day);
			// Cacher le menu précédent, au cas où on clique sur plusieurs en-têtes
			hidePopover();
			if (self.parent().is('.day-content')) {
				// Création du menu quand on clique sur un évènement
				var event = self.data('event');
				$('<button type="button" class="list-group-item list-group-item-action calendar-archive-event" />')
					.text(NIMBUS.translate('CalendarArchiveEventButton'))
					.attr('title', NIMBUS.translate('CalendarArchiveEventTitle'))
					.data('event', event)
					.appendTo(menu);
				$('<button type="button" class="list-group-item list-group-item-action calendar-edit-event" />')
					.text(NIMBUS.translate('CalendarEditEventButton'))
					.data('event', event)
					.appendTo(menu);
				$('<button type="button" class="list-group-item list-group-item-action calendar-delete-event text-danger" />')
					.text(NIMBUS.translate('CalendarDeleteEventButton'))
					.data('event', event)
					.appendTo(menu);
			} else {
				// Création du menu de création rapide d'évènement quand on clique sur l'en-tête d'un jour
				calendar.sources.filter((source) => source.active && !source.readonly).forEach(function(source) {
					source.types.filter((type) => type.active).forEach(function(type) {
						$('<button type="button" class="list-group-item list-group-item-action calendar-fast-event" />')
							.text(type.label) // Show type label as main text
							.prepend($('<span class="text-muted" style="float: right; " />').text(' (' + source.name + ')')) // Show source name as muted text
							.data('type', type).data('source', source)
							.appendTo(menu);
					});
				});
				// Bouton de création d'évènement personnalisé via la fenêtre modale
				$('<button type="button" class="list-group-item list-group-item-action calendar-new-event" />')
					.text(NIMBUS.translate('CalendarAddCustomEventButton'))
					.appendTo(menu);
			}
			return menu;
		}
	});

	// Création simplifiée pour le jour "day" d'un évènement en choisissant son type "type"
	container.on('click', '.calendar-fast-event', function() {
		var api = NIMBUS.utils.calendar;
		var entry = $(this).closest('.list-group-item');
		var source = entry.data('source');
		var type = entry.data('type');
		var day = entry.parent().attr('data-day');
		var event = new api.CalendarEvent({ type: type, date: moment(day, inputDateFormat), repeat: type.defaultRepeat });
		hidePopover();
		if (type.editOnCreation)
			// Afficher la fenêtre modale, si le type le demande
			editEvent(calendar, event, true, function() {
				// Ajuster le calendrier
				calendar.update();
			});
		else {
			// Ajuster les données
			source.add(event);
			// Gérer la sauvegarde
			source.modified = true;
			$(calendar).trigger('calendar.change');
			// Ajuster le calendrier
			calendar.update();
		}
	});

	// Création pour le jour "day" d'un évènement personnalisé via la fenêtre modale
	container.on('click', '.calendar-new-event', function() {
		var api = NIMBUS.utils.calendar;
		var entry = $(this).closest('.list-group-item');
		var day = entry.parent().attr('data-day');
		var event = new api.CalendarEvent({ date: moment(day, inputDateFormat) });
		hidePopover();
		// Afficher la fenêtre modale
		editEvent(calendar, event, true, function() {
			// Ajuster le calendrier
			calendar.update();
		});
	});

	// Archivage d'un évènement existant
	container.on('click', '.calendar-archive-event', function() {
		var api = NIMBUS.utils.calendar;
		var entry = $(this).closest('.list-group-item');
		var event = entry.data('event');
		var source = calendar.findSourceOfEvent(event);
		hidePopover();
		// Ajuster les données
		event.done = true;
		event.important = false;
		if (event.repeat != null && event.endDate == null)
			event.endDate = api.CalendarDate.from(moment());
		// Gérer la sauvegarde
		source.modified = true;
		$(calendar).trigger('calendar.change');
		// Ajuster le calendrier
		calendar.update();
	});

	// Edition d'un évènement existant par la fenêtre modale
	container.on('click', '.calendar-edit-event', function() {
		var entry = $(this).closest('.list-group-item');
		var event = entry.data('event');
		hidePopover();
		// Afficher la fenêtre modale
		editEvent(calendar, event, false, function() {
			// Ajuster le calendrier
			calendar.update();
		});
	});

	// Suppression d'un évènement existant
	container.on('click', '.calendar-delete-event', function() {
		var entry = $(this).closest('.list-group-item');
		var event = entry.data('event');
		var source = calendar.findSourceOfEvent(event);
		hidePopover();
		// Ajuster les données
		source.remove(event);
		// Gérer la sauvegarde
		source.modified = true;
		$(calendar).trigger('calendar.change');
		// Ajuster le calendrier
		calendar.update();
	});

	function hidePopover() {
		var popover = container.children('.popover');
		if (popover.length > 0)
			$('[aria-describedby="' + popover.attr('id') + '"]').popover('hide');
	}
}

function editEventType(calendar, source, type, isNew, callback) {
	// Préparer le formulaire
	if (! isNew) {
		$('#eventTypeLabel').val(type.label);
		$('#eventTypeColor').val(type.color);
		$('#eventTypeActive').prop('checked', type.active);
		$('#eventTypeEditOnCreation').prop('checked', type.editOnCreation);
		$('#eventTypeRepeat').val(type.defaultRepeat);
	} else {
		// Pour les nouveaux types, on vide la libellé (car a priori différent) mais on garde le reste (couleur, ...)
		$('#eventTypeLabel').val('');
	}
	// Ajuster le bouton de validation (ajout ou modification ?)
	$('#eventTypeValidateButton .add').toggle(isNew).siblings('.apply').toggle(!isNew);
	// Ajuster l'action de validation au contexte en cours
	$('#eventTypeValidateButton').off('click').on('click', function() {
		// Ajuster les données
		type.label = $('#eventTypeLabel').val();
		type.color = $('#eventTypeColor').val();
		type.active = $('#eventTypeActive').prop('checked');
		type.editOnCreation = $('#eventTypeEditOnCreation').prop('checked');
		type.defaultRepeat = $('#eventTypeRepeat').val();
		if (isNew)
			source.types.push(type);
		// Gérer la sauvegarde
		source.modified = true;
		$(calendar).trigger('calendar.change');
		// Fermer la fenêtre modale
		$('#eventTypeModal').modal('hide');
		// Prévenir l'appelant
		callback();
	});
	// Afficher la fenêtre modale
	$('#eventTypeModal').modal();
}

function editEvent(calendar, event, isNew, callback) {
	// Préparer le "select" permettant de choisir le type
	var typeSelect = $('#eventModalType').empty().prop('autofocus', ! event.type);
	calendar.sources.forEach(function(s) {
		if (s.readonly)
			return;
		if (!isNew && s.types.indexOf(event.type) === -1)
			return;
		s.types.forEach(function(t) {
			if (!t.active && (isNew || (t !== event.type)))
				return;
			$('<option />').data('type', t).data('source', s).prop('selected', t === event.type).text(s.name + ' - ' + t.label).appendTo(typeSelect);
		});
	});
	// Préparer le reste du formulaire
	var dateInput = $('#eventModalDate').val(event.date.toMoment().format(inputDateFormat));
	var repeatSelect = $('#eventModalRepeat').val(event.repeat || '');
	var labelInput = $('#eventModalLabel').val(event.label || '').prop('autofocus', !!event.type);
	var endDateInput = $('#eventModalEndDate').val(event.endDate ? event.endDate.toMoment().format(inputDateFormat) : '');
	var doneCheckbox = $('#eventModalDone').prop('checked', !!event.done);
	var importantCheckbox = $('#eventModalImportant').prop('checked', !!event.important);
	var noteTextarea = $('#eventModalNote').val(event.note || '');
	// Ajuster le bouton de validation (ajout ou modification ?)
	$('#eventModalValidateButton .add').toggle(isNew).siblings('.apply').toggle(!isNew);
	// Ajuster l'action de validation au contexte en cours
	$('#eventModalValidateButton').off('click').on('click', function() {
		var api = NIMBUS.utils.calendar;
		var source = typeSelect.children(':selected').data('source');
		// Ajuster les données
		event.type = typeSelect.children(':selected').data('type');
		event.date = api.CalendarDate.from(moment(dateInput.val(), inputDateFormat));
		event.repeat = repeatSelect.val() || null;
		event.label = labelInput.val() || null;
		event.endDate = endDateInput.val() ? api.CalendarDate.from(moment(endDateInput.val(), inputDateFormat)) : null;
		event.done = doneCheckbox.prop('checked');
		event.important = importantCheckbox.prop('checked');
		event.note = noteTextarea.val() || null;
		if (isNew)
			source.add(event);
		// Gérer la sauvegarde
		source.modified = true;
		$(calendar).trigger('calendar.change');
		// Fermer la fenêtre modale
		$('#eventModal').modal('hide');
		// Prévenir l'appelant
		callback();
	});
	// Afficher la fenêtre modale
	$('#eventModal').modal();
}

//Initialiser la page
NIMBUS.init(['calendar.js'], function() {
	// En haut à gauche, le bouton "Retour"
	$('.back').toggle(!!'${fromUrl}').attr('title', '${fromTitle}').attr('href', '${fromUrl}');

	// L'IHM est prête, on l'affiche
	var body = $(document.body).removeClass('nimbus-hidden');

	// Identifiant de l'élément édité
	var itemId = ${itemId!"null"};

	// Récupération des différents calendrier
	$.get('/items/list', {
		recursive: true,
		sortBy: 'name',
		sortAscending: true,
		folders: false,
		hidden: null,
		deleted: false,
		extensions: 'calendar'
	}).then(function(results) {
		return prepareCalendar(results, itemId);
	}).then(function(calendar) {
		// Gestion du bouton de sauvegarde
		var saveButton = $('#saveButton');

		$(calendar).on('calendar.change', function() {
			saveButton.removeClass('nimbus-hidden');
		});

		saveButton.on('click', function() {
			var promises = calendar.sources.filter((s) => s.modified).map((s) => s.save());
			Promise.all(promises).then(() => {
				saveButton.addClass('nimbus-hidden');
			});
		});

		// Initialisation du reste de l'IHM
		connectNavigation(calendar);
		connectViewMenu(calendar);
		connectSourceMenu(calendar);
		connectMainView(calendar);
		connectEventDragAndDrop(calendar);
		connectPopover(calendar);
		calendar.update();

		// Manipulation au clavier
		body.keystrokes({
			'PageUp': () => calendar.showPrevious(),
			'PageDown': () => calendar.showNext(),
			'Ctrl-s': () => saveButton.click(),
		});

		// Changement de période  "swipe"
		$('main').swipe().on('swipe', function(event, swipe) {
			// swipe.duration: milliseconds between "touchstart" and "touchend" events
			// swipe.direction: 8 directions including "top" "bottom" "left" "right"
			if (swipe.direction === 'left')
				calendar.showNext();
			else if (swipe.direction === 'right')
				calendar.showPrevious();
		});

		// Désactivation de la soumission des formulaires
		$('form').on('submit', function() { return false; });
	});
});
</script>

</body>
</html>
