<!DOCTYPE html>
<html class="nimbus-viewer nimbus-static-toolbars">
<head>
<title data-translate="text">ContactsTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="${stylesheet}" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<style>
header { display: flex; flex-direction: row; }
header > .btn, header > .dropdown { flex: none; }
header > #spacer { flex: auto; }
header > #searchInput { flex: auto; max-width: 420px; }
header > #searchInput:not(.active):not(:focus) { background-color: transparent; }

#optionsMenu .dropdown-item .material-icons { float: right; }
#optionsMenu .dropdown-item.selected span { padding-right: 30px; }
#optionsMenu .dropdown-item:not(.selected) .material-icons { display: none; }

main { display: flex; flex-direction: column; }
main > ul { flex: none; }
main > div { flex: auto; overflow-y: auto; white-space: nowrap; }

table tbody { cursor: pointer; }
table tbody + caption { text-align: center; }
table tbody:not(:empty) + caption { display: none; }
table td:first-child { padding: 0; vertical-align: middle; }
table tr > :nth-child(-n+2) { text-align: center; }
table.table-sm td:first-child img { max-height: 32px; }

#actionsModal .material-icons { font-size: 20px; width: 20px; height: 20px; }

#contactModal .input-group .input-group-text { border-radius: 0; }
#contactModal .input-group:not(:first-of-type) { margin-top: -1px; }
#contactModal .input-group:first-of-type .input-group-prepend .input-group-text { border-top-left-radius: 0.25rem; }
#contactModal .input-group:first-of-type .input-group-append .input-group-text { border-top-right-radius: 0.25rem; }
#contactModal .input-group:last-of-type .input-group-prepend .input-group-text { border-bottom-left-radius: 0.25rem; }
#contactModal .input-group:last-of-type .input-group-append .input-group-text { border-bottom-right-radius: 0.25rem; }
#contactModal .valuelist > button { float: right; clear: right; }
</style>
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/moment/moment.min.js"></script>
<#if lang == "fr"><script type="text/javascript" src="/libs/moment/fr.js"></script></#if>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/libs/gp/gp-autocomplete.js"></script>
<script type="text/javascript" src="/libs/gp/gp-tagsinput.js"></script>
<script type="text/javascript" src="/libs/gp/gp-valuelist.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body class="nimbus-hidden">
	<header class="bg-primary">
		<a href="#" class="btn btn-link back" style="display: none;"><i class="material-icons">arrow_back</i></a>
		<button id="saveButton" type="button" class="btn btn-link nimbus-hidden" data-translate="title" title="ContactsSave"><i class="material-icons">save</i></button>
		<span id="spacer"></span>
		<input id="searchInput" type="search" class="form-control" data-translate="placeholder" placeholder="ContactsSearchPlaceholder" />
		<div id="optionsMenu" class="dropdown">
			<button id="optionsMenuButton" type="button" class="btn btn-link" data-translate="title" title="ContactsOptionsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">tune</i></button>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsMenuButton">
				<button type="button" class="dropdown-item" data-search-in="displayName">
					<i class="material-icons">check</i>
					<span data-translate="text">ContactsSearchDisplayName</span>
				</button>
				<button id="searchAllFieldsButton" type="button" class="dropdown-item selected" data-search-in="all">
					<i class="material-icons">check</i>
					<span data-translate="text">ContactsSearchAllFields</span>
				</button>
				<div class="dropdown-divider"></div>
				<button type="button" class="dropdown-item" data-search-for="favorite">
					<i class="material-icons">check</i>
					<span data-translate="text">ContactsSearchFavoriteContacts</span>
				</button>
				<button id="searchAllContactsButton" type="button" class="dropdown-item selected" data-search-for="all">
					<i class="material-icons">check</i>
					<span data-translate="text">ContactsSearchAllContacts</span>
				</button>
				<div class="dropdown-divider"></div>
				<button type="button" class="dropdown-item" data-show-grid="compact">
					<i class="material-icons">check</i>
					<span data-translate="text">ContactsShowCompactGrid</span>
				</button>
				<button type="button" class="dropdown-item selected" data-show-grid="default">
					<i class="material-icons">check</i>
					<span data-translate="text">ContactsShowDefaultGrid</span>
				</button>
			</div>
		</div>
		<button id="addContactButton" type="button" class="btn btn-link" data-translate="title" title="ContactAddButton"><i class="material-icons">add</i></button>
		<button id="renameButton" type="button" class="btn btn-link" data-translate="title" title="ContactsRename"><i class="material-icons">edit</i></button>
	</header>
	<main>
		<ul id="navigation" class="nav nav-tabs"></ul>
		<div>
			<table id="table" class="table table-hover">
				<thead><tr></tr></thead>
				<tbody></tbody>
				<caption>Aucun contact pour le moment</caption>
			</table>
		</div>
	</main>
	<div id="alert-container"></div>
	<footer class="bg-secondary"></footer>
	<form>
		<div id="actionsModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="list-group">
							<div class="list-group-item active">DISPLAY_NAME</div>
							<button id="editContactButton" type="button" class="list-group-item list-group-item-action">
								<i class="material-icons">edit</i>
								<span data-translate="text">ContactEditButton</span>
							</button>
							<button id="markContactAsFavoriteButton" type="button" class="list-group-item list-group-item-action">
								<i class="material-icons">star</i>
								<span data-translate="text">ContactMarkAsFavoriteButton</span>
							</button>
							<button id="unmarkContactAsFavoriteButton" type="button" class="list-group-item list-group-item-action">
								<i class="material-icons">star_border</i>
								<span data-translate="text">ContactUnmarkAsFavoriteButton</span>
							</button>
							<button id="deleteContactButton" type="button" class="list-group-item list-group-item-action text-danger">
								<i class="material-icons">delete</i>
								<span data-translate="text">ContactDeleteButton</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="contactModal" class="modal fade">
			<div class="modal-dialog modal-xl modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" data-translate="text">ContactModalTitle</h4>
					</div>
					<div class="modal-body">
					<div class="container-fluid">
					<div class="row">
					<div class="col-md-6">
						<div class="form-row">
							<div class="col-md-8">
								<div class="form-group">
									<label for="contactDisplayName" data-translate="text">ContactModalDisplayNameLabel</label>
									<input id="contactDisplayName" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalDisplayNamePlaceholder" autofocus="autofocus" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="contactPicture" data-translate="text">ContactModalPictureLabel</label>
									<div>
										<img id="contactPictureImage" src="favicon.png" style="width: 32px; height: 32px; object-fit: scale-down; clip-path: circle(50%); margin-top: 2px; float: right; " />
										<input id="contactPicture" type="number" class="form-control" data-translate="placeholder" placeholder="ContactModalPicturePlaceholder" style="width: calc(100% - 38px); " />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="contactFavorite">
								<label class="custom-control-label" for="contactFavorite" data-translate="text">ContactModalFavoriteLabel</label>
							</div>
						</div>

						<label for="contactFirstName" data-translate="text">ContactModalNamesLegend</label>
						<div class="form-row pb-2">
							<div class="col-md-4"><input id="contactFirstName" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalFirstNamePlaceholder" /></div>
							<div class="col-md-4"><input id="contactLastName" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalLastNamePlaceholder" /></div>
							<div class="col-md-4"><input id="contactNickame" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalNickamePlaceholder" /></div>
						</div>
						<div class="form-row pb-2">
							<div class="col-md-3">
								<select id="contactGender" class="form-control">
									<option value="" data-translate="text">ContactModalGenderPlaceholder</option>
									<option value="male" data-translate="text">ContactGenderMale</option>
									<option value="female" data-translate="text">ContactGenderFemale</option>
									<option value="other" data-translate="text">ContactGenderOther</option>
								</select>
							</div>
							<div class="col-md-3"><input id="contactPrefix" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalPrefixPlaceholder" /></div>
							<div class="col-md-3"><input id="contactMiddleName" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalMiddleNamePlaceholder" /></div>
							<div class="col-md-3"><input id="contactSuffix" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalSuffixPlaceholder" /></div>
						</div>

						<label for="contactCompanyName" data-translate="text">ContactModalCompanyLegend</label>
						<div class="form-row pb-2">
							<div class="col-md-4"><input id="contactCompanyName" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalCompanyNamePlaceholder" /></div>
							<div class="col-md-4"><input id="contactCompanyUnit" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalCompanyUnitPlaceholder" /></div>
							<div class="col-md-4"><input id="contactCompanyFunction" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalCompanyFunctionPlaceholder" /></div>
						</div>

						<div class="form-group pb-2">
							<label for="contactKeywords" data-translate="text">ContactModalKeywordsLabel</label>
							<input id="contactKeywords" type="text" class="form-control" data-translate="placeholder" placeholder="ContactModalKeywordsPlaceholder" />
						</div>

						<div class="form-group">
							<label for="contactNote" data-translate="text">ContactModalNoteLabel</label>
							<textarea id="contactNote" class="form-control" data-translate="placeholder" placeholder="ContactModalNotePlaceholder"></textarea>
						</div>
					</div>
					<div class="col-md-6">
						<div id="contactAddresses"></div>
						<div id="contactEmails"></div>
						<div id="contactPhones"></div>
						<div id="contactUrls"></div>
						<div id="contactDates"></div>
						<div id="contactFields"></div>
					</div>
					</div>
					</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-translate="text" data-dismiss="modal">ContactModalCancelButton</button>
						<button id="contactValidateButton" type="button" class="btn btn-primary noautovalidate">
							<span class="add" data-translate="text">ContactModalAddButton</span>
							<span class="apply" data-translate="text">ContactModalApplyButton</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div id="addressEditor" class="button-group nimbus-hidden" style="position: relative; flex-basis: 1.5rem; ">
			<span class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: absolute; cursor: pointer; border-radius: 0; text-align: left; white-space: nowrap; overflow: hidden; "></span>
			<div class="dropdown-menu">
				<div class="p-2 form-row">
					<div class="col-md-12"><input type="text" class="form-control valuelist-address" data-translate="placeholder" placeholder="ContactAddressAddress"></div>
				</div>
				<div class="p-2 form-row">
					<div class="col-md-12"><input type="text" class="form-control valuelist-address2" data-translate="placeholder" placeholder="ContactAddressAddress2"></div>
				</div>
				<div class="p-2 form-row">
					<div class="col-md-4"><input type="text" class="form-control valuelist-zipcode" data-translate="placeholder" placeholder="ContactAddressZipCode"></div>
					<div class="col-md-8"><input type="text" class="form-control valuelist-city" data-translate="placeholder" placeholder="ContactAddressCity"></div>
				</div>
				<div class="p-2 form-row">
					<div class="col-md-4"><input type="text" class="form-control valuelist-state" data-translate="placeholder" placeholder="ContactAddressState"></div>
					<div class="col-md-6"><input type="text" class="form-control valuelist-country" data-translate="placeholder" placeholder="ContactAddressCountry"></div>
					<div class="col-md-2"><button type="button" class="btn btn-link btn-sm btn-block px-0 text-danger" data-translate="title" title="ContactAddressClear"><i class="material-icons">delete</i></button></div>
				</div>
			</div>
		</div>
	</form>
<script>
"use strict";

// Le format de date moment correspondant aux "input[type=date]"
var inputDateFormat = 'YYYY-MM-DD';

// L'objet chargé de la sauvegarde des préférences, via localStorage
var storage = {
	selectedItemIdKey: 'nimbus-contacts-selected-item-id',
	getSelectedItemId: () => localStorage.getItem(storage.selectedItemIdKey) != null ? parseInt(localStorage.getItem(storage.selectedItemIdKey)) : null,
	setSelectedItemId: (itemId) => localStorage.setItem(storage.selectedItemIdKey, itemId.toString()),

	searchInKey: 'nimbus-contacts-search-in',
	getSearchIn: () => localStorage.getItem(storage.searchInKey) || 'all',
	setSearchIn: (mode) => localStorage.setItem(storage.searchInKey, mode),

	searchForKey: 'nimbus-contacts-selected-for',
	getSearchFor: () => localStorage.getItem(storage.searchForKey) || 'all',
	setSearchFor: (mode) => localStorage.setItem(storage.searchForKey, mode),

	showGridKey: 'nimbus-contacts-show-grid',
	getShowGrid: () => localStorage.getItem(storage.showGridKey) || 'default',
	setShowGrid: (mode) => localStorage.setItem(storage.showGridKey, mode),
};

// La liste des colonnes
var columns = [
	{ name: 'picture', title: 'ContactPicture', content: (c) => (c.picture ? $('<img />').attr('src', '/files/thumbnail/' + c.picture + '?size=40').css('clip-path', 'circle(50%)') : '') },
	{ name: 'favorite', title: 'ContactFavorite', className: 'favorite', content: (c) => c.favorite ? '<i class="material-icons">star</i>' : '<i class="material-icons">star_border</i>' },
	{ name: 'displayName', title: 'ContactDisplayName', content: (c) => NIMBUS.utils.contactAPI.formatContact(c) },
	{ name: 'email1', title: 'ContactEmail', content: (c) => findIn(c.emails, 0, NIMBUS.utils.contactAPI.createEmailLink) },
	{ name: 'email2', title: 'ContactEmail', content: (c) => findIn(c.emails, 1, NIMBUS.utils.contactAPI.createEmailLink) },
	{ name: 'phone1', title: 'ContactPhone', content: (c) => findIn(c.phones, 0, NIMBUS.utils.contactAPI.createPhoneLink) },
	{ name: 'phone2', title: 'ContactPhone', content: (c) => findIn(c.phones, 1, NIMBUS.utils.contactAPI.createPhoneLink) },
	{ name: 'url1', title: 'ContactURL', content: (c) => findIn(c.urls, 0, NIMBUS.utils.contactAPI.createURLLink) },
	{ name: 'keywords', title: 'ContactKeywords', content: (c) => c.keywords || '' },
];

//Cette méthode recherche dans "array" la valeur à la position "index", si "array" est suffisamment grand, et renvoie la valeur formatée par "format"
function findIn(array, index, format, filter) {
	if (!array || index >= array.length)
		return '';
	for (var i = 0; i < array.length; i++) {
		if (array[i].type !== 'archive') {
			if (index === 0)
				return format(array[i]);
			index--;
		}
	}
	return '';
}

function AddressEditor(format, placeholder) {
	function showValue(item, editor) {
		var text = format(item);
		editor.children('span').text(text || placeholder).css('color', text ? 'black' : '');
	}
	this.build = (item) => {
		var editor = $('#addressEditor').clone().removeClass('nimbus-hidden');
		showValue(item, editor);
		editor.find('.valuelist-address').val(item.address || '');
		editor.find('.valuelist-address2').val(item.address2 || '');
		editor.find('.valuelist-zipcode').val(item.zipCode || '');
		editor.find('.valuelist-city').val(item.city || '');
		editor.find('.valuelist-state').val(item.state || '');
		editor.find('.valuelist-country').val(item.country || '');
		editor.find('.btn-outline-danger').on('click', () => {
			editor.find('input').val('');
			editor.children('span').text(placeholder);
		});
		editor.on('hidden.bs.dropdown', function() {
			var item = {};
			this.apply(item, editor);
			showValue(item, editor);
		}.bind(this));
		return editor;
	};
	this.empty = (editor) => {
		return !editor.find('input').get().map((input) => input.value || '').join('');
	};
	this.apply = (item, editor) => {
		item.address = editor.find('.valuelist-address').val() || undefined;
		item.address2 = editor.find('.valuelist-address2').val() || undefined;
		item.zipCode = editor.find('.valuelist-zipcode').val() || undefined;
		item.city = editor.find('.valuelist-city').val() || undefined;
		item.state = editor.find('.valuelist-state').val() || undefined;
		item.country = editor.find('.valuelist-country').val() || undefined;
	};
	this.text = (editor) => {
		var t = editor.children('span').text();
		return t === placeholder ? '' : t;
	};
}

// Cette méthode filtre la grille en fonction du texte recherché
function updateSearch() {
	// Récupérer l'API
	var api = NIMBUS.utils.contactAPI;
	// Récupérer les paramètres de recherche
	var searchTextLC = $('#searchInput').val().toLowerCase();
	var searchAllFields = $('#searchAllFieldsButton').hasClass('selected');
	var searchAllContacts = $('#searchAllContactsButton').hasClass('selected');
	// Parcourir la table
	$('#table > tbody > tr').each(function() {
		var tr = $(this);
		var contact = tr.data('contact');
		tr.toggle(!searchTextLC || api.matchContact(contact, searchTextLC, searchAllFields, searchAllContacts));
	});
}

// Cette méthode charge la grille avec le contenu du carnet d'adresses sélectionné
function updateTable(source) {
	// Préparer les en-têtes de colonne
	var headers = $('#table > thead > tr');
	if (headers.is(':empty'))
		columns.forEach((c) => $('<th scope="col" />').text(NIMBUS.translate(c.title)).attr('data-name', c.name).appendTo(headers));
	// Trier les contacts, si ça n'est pas encore fait
	if (!source.sorted)
		source.sort();
	// Récupérer l'API
	var api = NIMBUS.utils.contactAPI;
	// Récupérer les paramètres de recherche
	var searchTextLC = $('#searchInput').val().toLowerCase();
	var searchAllFields = $('#searchAllFieldsButton').hasClass('selected');
	var searchAllContacts = $('#searchAllContactsButton').hasClass('selected');
	// Remplir la table
	$('#table > tbody').empty().append(source.contacts.map(function(contact) {
		var tr = $('<tr />').data('contact', contact);
		tr.toggle(!searchTextLC || api.matchContact(contact, searchTextLC, searchAllFields, searchAllContacts));
		columns.forEach((c) => $('<td />').append(c.content(contact)).addClass(c.className || '').appendTo(tr));
		return tr.get(0);
	}));
}

function editContact(source, contact, isNew, callback) {
	// Récupérer l'API
	var api = NIMBUS.utils.contactAPI;
	// Créer une action personnalisée partagée par toutes les listes
	var copyToClipboardAction = new window.ValueList.CopyToClipboardAction(NIMBUS.translate('ContactListCopy'));
	// Préparer le formulaire
	var displayNameInput = $('#contactDisplayName').val(contact.displayName || '');
	var pictureInput = $('#contactPicture').val(contact.picture || '').trigger('change');
	var favoriteCheckbox = $('#contactFavorite').prop('checked', !!contact.favorite);
	var firstNameInput = $('#contactFirstName').val(contact.firstName || '');
	var lastNameInput = $('#contactLastName').val(contact.lastName || '');
	var nicknameInput = $('#contactNickame').val(contact.nickname || '');
	var genderSelect = $('#contactGender').val(contact.gender || '');
	var prefixInput = $('#contactPrefix').val(contact.prefix || '');
	var middleNameInput = $('#contactMiddleName').val(contact.middleName || '');
	var suffixNameInput = $('#contactSuffix').val(contact.suffix || '');
	var companyNameInput = $('#contactCompanyName').val(contact.companyName || '');
	var companyFunctionInput = $('#contactCompanyUnit').val(contact.companyFunction || '');
	var companyUnitInput = $('#contactCompanyFunction').val(contact.companyUnit || '');
	var keywordsInput = $('#contactKeywords').val(contact.keywords || '').trigger('change');
	var noteTextarea = $('#contactNote').val(contact.note || '');

	$('#contactAddresses').valueList('destroy').valueList({
		icon: 'room',
		items: contact.addresses,
		editor: new AddressEditor(api.formatAddress, NIMBUS.translate('ContactAddress')),
		types: Object.keys(api.ContactAddress.types).map(function(t) { return { text: NIMBUS.translate(api.ContactAddress.types[t]), value: t, label: t === 'other' }; }),
		actions: [
			new window.ValueList.LinkAction('room', NIMBUS.translate('ContactAddressOpenMappy'), api.createMappyURL),
			new window.ValueList.LinkAction('room', NIMBUS.translate('ContactAddressOpenGoogleMaps'), api.createGoogleMapsURL),
			new window.ValueList.LinkAction('room', NIMBUS.translate('ContactAddressOpenOpenStreetMap'), api.createOpenStreetMapURL),
			copyToClipboardAction
		],
		addText: NIMBUS.translate('ContactAddressAdd'),
	});

	$('#contactEmails').valueList('destroy').valueList({
		icon: 'email',
		items: contact.emails,
		editor: new window.ValueList.TextEditor('email', NIMBUS.translate('ContactEmail'), 'email'),
		types: Object.keys(api.ContactEmail.types).map(function(t) { return { text: NIMBUS.translate(api.ContactEmail.types[t]), value: t, label: t === 'other' }; }),
		actions: [
			new window.ValueList.LinkAction('email', NIMBUS.translate('ContactEmailSend'), 'mailto:%VALUE%'),
			copyToClipboardAction
		],
		addText: NIMBUS.translate('ContactEmailAdd')
	});

	$('#contactPhones').valueList('destroy').valueList({
		icon: 'phone',
		items: contact.phones,
		editor: new window.ValueList.TextEditor('phone', NIMBUS.translate('ContactPhone'), 'tel', api.formatPhone),
		types: Object.keys(api.ContactPhone.types).map(function(t) { return { text: NIMBUS.translate(api.ContactPhone.types[t]), value: t, label: t === 'other' }; }),
		actions: [
			new window.ValueList.LinkAction('phone', NIMBUS.translate('ContactPhoneCall'), 'tel:%VALUE%'),
			copyToClipboardAction
		],
		addText: NIMBUS.translate('ContactPhoneAdd'),
	});

	$('#contactUrls').valueList('destroy').valueList({
		icon: 'public',
		items: contact.urls,
		editor: new window.ValueList.TextEditor('url', NIMBUS.translate('ContactURL'), 'url'),
		types: Object.keys(api.ContactURL.types).map(function(t) { return { text: NIMBUS.translate(api.ContactURL.types[t]), value: t, label: t === 'other' }; }),
		actions: [
			new window.ValueList.LinkAction('public', NIMBUS.translate('ContactURLOpen'), '%VALUE%'),
			copyToClipboardAction
		],
		addText: NIMBUS.translate('ContactURLAdd')
	});

	$('#contactDates').valueList('destroy').valueList({
		icon: 'date_range',
		items: contact.dates,
		editor: new window.ValueList.DateEditor(NIMBUS.translate('ContactDateFormat'), NIMBUS.translate('ContactDate'), NIMBUS.translate('ContactDateClear'), NIMBUS.translate('ContactDateYear'), NIMBUS.translate('ContactDateMonth'), NIMBUS.translate('ContactDateDay')),
		types: Object.keys(api.ContactDate.types).map(function(t) { return { text: NIMBUS.translate(api.ContactDate.types[t]), value: t, label: t === 'other' }; }),
		actions: [copyToClipboardAction],
		addText: NIMBUS.translate('ContactDateAdd')
	});

	$('#contactFields').valueList('destroy').valueList({
		// icon: 'drag_handle',
		items: contact.fields,
		editor: new window.ValueList.TextEditor('value', NIMBUS.translate('ContactFieldValue'), 'text'),
		labelPlaceholder: NIMBUS.translate('ContactFieldLabel'),
		actions: [copyToClipboardAction],
		addText: NIMBUS.translate('ContactFieldAdd')
	});

	// Ajuster le bouton de validation (ajout ou modification ?)
	$('#contactValidateButton .add').toggle(isNew).siblings('.apply').toggle(!isNew);
	// Ajuster l'action de validation au contexte en cours
	$('#contactValidateButton').off('click').on('click', function() {
		// Récupérer le libellé actuel pour retrier si besoin
		var oldDisplayName = contact.displayName;
		// Ajuster les données
		contact.displayName = displayNameInput.val() || undefined;
		contact.picture = pictureInput.val() || undefined;
		contact.favorite = favoriteCheckbox.prop('checked');
		contact.firstName = firstNameInput.val() || undefined;
		contact.lastName = lastNameInput.val() || undefined;
		contact.nickname = nicknameInput.val() || undefined;
		contact.gender = genderSelect.val() || undefined;
		contact.prefix = prefixInput.val() || undefined;
		contact.middleName = middleNameInput.val() || undefined;
		contact.suffix = suffixNameInput.val() || undefined;
		contact.companyName = companyNameInput.val() || undefined;
		contact.companyFunction = companyFunctionInput.val() || undefined;
		contact.companyUnit = companyUnitInput.val() || undefined;
		contact.keywords = keywordsInput.val() || undefined;
		contact.note = noteTextarea.val() || undefined;
		contact.addresses = $('#contactAddresses').valueList().extract().map((a) => new api.ContactAddress(a));
		contact.emails = $('#contactEmails').valueList().extract().map((e) => new api.ContactEmail(e));
		contact.phones = $('#contactPhones').valueList().extract().map((p) => new api.ContactPhone(p));
		contact.urls = $('#contactUrls').valueList().extract().map((u) => new api.ContactURL(u));
		contact.dates = $('#contactDates').valueList().extract().map((d) => new api.ContactDate(d));
		contact.fields = $('#contactFields').valueList().extract().map((f) => new api.ContactField(f));
		if (isNew)
			source.contacts.push(contact);
		if (oldDisplayName !== contact.displayName)
			source.sort();
		// Fermer la fenêtre modale
		$('#contactModal').modal('hide');
		// Appeler la callback
		callback();
	});
	// Afficher la fenêtre modale
	$('#contactModal').modal();
}

//Initialiser la page
NIMBUS.init(['contacts.js'], function() {
	// En haut à gauche, le bouton "Retour"
	$('.back').toggle(!!'${fromUrl}').attr('title', '${fromTitle}').attr('href', '${fromUrl}');

	// L'IHM est prête, on l'affiche
	var body = $(document.body).removeClass('nimbus-hidden');

	// Identifiant de l'élément sélectionné par défaut
	var itemId = ${itemId!"null"};
	if (itemId === null)
		itemId = storage.getSelectedItemId();

	// Récupération des différents calendrier
	$.get('/items/list', {
		recursive: true,
		sortBy: 'name',
		sortAscending: true,
		folders: false,
		hidden: null,
		deleted: false,
		extensions: 'contacts'
	}).then(function(items) {
		// Récupération de l'API
		var api = NIMBUS.utils.contactAPI;
		// Création des sources
		var sources = items.map((item) => new api.ContactSource(item));
		// Chargement des sources
		return Promise.all(sources.map((s) => s.load())).then((results) => {
			// console.log(sources);
			return sources;
		});
	}).then(function(sources) {
		// Récupération de l'API
		var api = NIMBUS.utils.contactAPI;

		// Gestion du bouton de sauvegarde
		var saveButton = $('#saveButton');
		var autosave = (window.location.search || '').indexOf('autosave=true') >= 0;
		var data = $(sources);

		data.on('contactsourcechange', function(event, source) {
			source.modified = true;
			if (autosave) {
				saveButton.click();
			} else {
				saveButton.removeClass('nimbus-hidden');
			}
		});

		saveButton.on('click', function() {
			var promises = sources.filter((s) => s.modified).map((s) => s.save());
			Promise.all(promises).then(() => {
				sources.forEach((s) => delete s.modified);
				saveButton.addClass('nimbus-hidden');
			}, () => {
				NIMBUS.message(NIMBUS.translate('ContactSaveError'), true);
				saveButton.removeClass('nimbus-hidden');
			});
		});

		// Préparation des onglets pour passer d'un carnet d'adresse à un autre
		var navigation = $('#navigation');
		// Positionnement sur l'onglet demandé dans l'URL ou sur le premier par défaut
		var selectedSource = (itemId === null) ? sources[0] : sources.find((s) => s.item.id === itemId);
		// Création d'un onglet par fichier ".contacts"
		navigation.append(sources.map(function(source, index) {
			var a = $('<a class="nav-link" href="#" />')
				.toggleClass('active', source === selectedSource)
				.text(source.getNameOrDefault());
			return $('<li class="nav-item" />')
				.append(a)
				.get(0);
		}));
		// Chargement du fichier quand on clique sur son onglet
		navigation.on('click', '.nav-item', function() {
			var item = $(event.target).closest('.nav-item');
			var index = item.index();
			item.children().addClass('active');
			item.siblings().children().removeClass('active')
			selectedSource = sources[index];
			storage.setSelectedItemId(selectedSource.item.id);
			updateTable(selectedSource);
			return false;
		});
		// Chargement initial de la grille
		updateTable(selectedSource);

		// Configuration de la zone de recherche
		$('#searchInput').val('').change(function() {
			// Marquer de la classe active pour forcer le fond blanc (cf <style />)
			$(this).toggleClass('active', !!this.value);
			// Filtrer la table en fonction de la recherche
			updateSearch();
		});

		// Recherche dans le champs displayName ou dans tous les champs
		var searchInButtons = $('#optionsMenu [data-search-in]').on('click', function(event) {
			var button = $(event.target).closest('button').addClass('selected');
			searchInButtons.not(button).removeClass('selected')
			updateSearch();
			storage.setSearchIn(button.attr('data-search-in'));
		});
		var searchIn = storage.getSearchIn();
		if (searchIn !== 'all')
			searchInButtons.filter('[data-search-in=' + searchIn + ']').click();

		// Recherche dans les favoris ou dans tous les contacts
		var searchForButtons = $('#optionsMenu [data-search-for]').on('click', function(event) {
			var button = $(event.target).closest('button').addClass('selected');
			searchForButtons.not(button).removeClass('selected')
			updateSearch();
			storage.setSearchFor(button.attr('data-search-for'));
		});
		var searchFor = storage.getSearchFor();
		if (searchFor !== 'all')
			searchForButtons.filter('[data-search-for=' + searchFor + ']').click();

		// Affichage de la grille compacte ou par défaut
		var showGridButtons = $('#optionsMenu [data-show-grid]').on('click', function(event) {
			var button = $(event.target).closest('button').addClass('selected');
			showGridButtons.not(button).removeClass('selected');
			$('#table').toggleClass('table-sm');
			storage.setShowGrid(button.attr('data-show-grid'));
		});
		var showGrid = storage.getShowGrid();
		if (showGrid !== 'default')
			showGridButtons.filter('[data-show-grid=' + showGrid + ']').click();

		// Clic sur le bouton pour ajouter un contact
		$('#addContactButton').click(function() {
			// Créer un contact vide
			var newContact = {
				addresses: [{ type: 'other' }],
				emails: [{ type: 'home' }, { type: 'work' }],
				phones: [{ type: 'mobile' }, { type: 'other' }],
				urls: [{ type: 'work' }],
				dates: [{ type: 'birthday' }],
			};
			// Editer ce contact 
			editContact(selectedSource, newContact, true, function() {
				// Gérer la sauvegarde
				data.trigger('contactsourcechange', selectedSource);
				// Raffraichir la page
				updateTable(selectedSource);
			});
		});

		// Sélection de l'entrée de menu pour éditer un contact existant
		$('#editContactButton').on('click', function() {
			// Cacher la fenêtre
			var modal = $('#actionsModal').modal('hide');
			// Récupérer le contact
			var contact = modal.data('contact');
			// Editer le contact
			editContact(selectedSource, contact, false, function() {
				// Gérer la sauvegarde
				data.trigger('contactsourcechange', selectedSource);
				// Raffraichir la page
				updateTable(selectedSource);
			});
		});

		// Sélection de l'entrée de menu pour marquer ou non un contact comme favori
		$('#markContactAsFavoriteButton,#unmarkContactAsFavoriteButton').on('click', function() {
			// Cacher la fenêtre
			var modal = $('#actionsModal').modal('hide');
			// Récupérer le contact
			var contact = modal.data('contact');
			// Inverser le statut
			contact.favorite = !contact.favorite;
			// Gérer la sauvegarde
			data.trigger('contactsourcechange', selectedSource);
			// Raffraichir la page
			updateTable(selectedSource);
		});

		// Sélection de l'une des entrées permettant de déplacer le contact d'un carnet à un autre
		$('#actionsModal').on('click', '.contact-move-button', function(event) {
			// Cacher la fenêtre
			var modal = $('#actionsModal').modal('hide');
			// Récupérer le contact
			var contact = modal.data('contact');
			// Récupérer la source dans laquelle transférer le contact
			var targetSource = $(event.target).closest('.contact-move-button').data('source');
			// Envoyer le contact dans la nouvelle source
			targetSource.contacts.push(contact);
			targetSource.sorted = false;
			// Supprimer le contact de la source actuelle
			selectedSource.contacts.splice(selectedSource.contacts.indexOf(contact), 1);
			// Gérer la sauvegarde
			data.trigger('contactsourcechange', targetSource);
			data.trigger('contactsourcechange', selectedSource);
			// Raffraichir la page
			updateTable(selectedSource);
		});

		// Sélection de l'entrée de menu pour supprimer un contact existant
		$('#deleteContactButton').on('click', function() {
			// Cacher la fenêtre
			var modal = $('#actionsModal').modal('hide');
			// Récupérer le contact
			var contact = modal.data('contact');
			// Supprimer le contact
			selectedSource.contacts.splice(selectedSource.contacts.indexOf(contact), 1);
			// Gérer la sauvegarde
			data.trigger('contactsourcechange', selectedSource);
			// Raffraichir la page
			updateTable(selectedSource);
		});

		// Marquer ou un contact comme favori en cliquant sur l'étoile dans la colonne "Favori"
		$('#table').on('click', 'td.favorite', function(event) {
			// Récupérer la cellule cliquée
			var td = $(event.target).closest('td');
			// Récupérer le contact cliqué
			var contact = td.parent('tr').data('contact');
			// Inverser le statut
			contact.favorite = !contact.favorite;
			// Gérer la sauvegarde
			data.trigger('contactsourcechange', selectedSource);
			// Ajuster l'IHM sans recharger la grille
			td.children('i').text(contact.favorite ? 'star' : 'star_border');
			// Bloquer le clic pour éviter le menu d'action
			return false;
		});

		// Sélection d'un contact en cliquant dessus dans la grille
		$('#table').on('click', 'tbody > tr', function(event) {
			// Ne pas afficher le menu si on a cliqué sur un lien (email, phone, url, ...)
			var target = $(event.target);
			if (target.closest('a').length > 0)
				return;
			// Récupérer le contact cliqué
			var contact = $(event.target).closest('tr').data('contact');
			// Récupérer le menu d'action
			var modal = $('#actionsModal').data('contact', contact);
			// Afficher le nom du contact en haut du menu
			modal.find('.list-group-item.active').text(api.formatContact(contact));
			// Ajuster l'une des actions pour marquer ou non en favori
			modal.find('#markContactAsFavoriteButton').toggle(!contact.favorite);
			modal.find('#unmarkContactAsFavoriteButton').toggle(!!contact.favorite);
			// Insérer avant le bouton de suppression les actions pour déplacer le contact
			var buttons = modal.find('.contact-move-button');
			if (buttons.length === 0 && sources.length >= 2) {
				sources.forEach((s) => $('<button type="button" class="list-group-item list-group-item-action contact-move-button"><i class="material-icons">folder_open</i> <span></span></button>')
					.children('span').text(NIMBUS.translate('ContactMoveButton', s.getNameOrDefault())).end()
					.data('source', s).toggle(s !== selectedSource).insertBefore('#deleteContactButton'));
			} else {
				buttons.each((i, button) => $(button).toggle(sources[i] !== selectedSource));
			}
			// Afficher le menu d'action une fois qu'il est prêt
			modal.modal();
		});

		// Clic sur le bouton pour renommer un carnet d'adresse
		$('#renameButton').click(function() {
			// Demander le nouveau nom
			NIMBUS.prompt(NIMBUS.translate('ContactsRenameTitle'), selectedSource.getNameOrDefault(), '').then(function(newName) {
				// Renommer la source
				selectedSource.name = newName.trim() || null;
				// Ajuster le titre de l'onglet associé
				navigation.find('.active').text(selectedSource.getNameOrDefault());
				// Gérer la sauvegarde
				data.trigger('contactsourcechange', selectedSource);
			});
		});

		// Affichage de l'image du contact quand l'input change
		$('#contactPicture').on('change', function() {
			var value = this.value;
			$('#contactPictureImage').toggle(!!value).attr('src', value ? ('/files/stream/' + value) : '/favicon.png');
		});

		// Plugin tagsinput pour les motes-clefs
		$('#contactKeywords').tagsinput({
			label: $('#contactKeywords').prev('label'),
			inline: true,
			// autocompleteValues: ['aaa', 'bbb', 'ccc']
			autocompleteFunction: (term) => {
				var termLC = term.toLowerCase();
				var tags = [];
				sources.forEach((source) => {
					source.contacts.forEach((contact) => {
						if (! contact.keywords)
							return;
						if (! contact.keywords.toLowerCase().includes(termLC))
							return;
						contact.keywords.split(',').forEach((word) => {
							if (word.toLowerCase().includes(termLC) && !tags.includes(word))
								tags.push(word);
						});
					});
				});
				return $.Deferred().resolve(tags);
			}
		});

		// Configuration du plugin "valuelist"
		window.ValueList.defaultOptions.labelPlaceholder = '';
		window.ValueList.defaultOptions.addDefault = 'never';
		window.ValueList.defaultOptions.moveToFirstPositionText = NIMBUS.translate('ContactListMoveToFirstPosition');
		window.ValueList.defaultOptions.moveToPreviousPositionText = NIMBUS.translate('ContactListMoveToPreviousPosition');
		window.ValueList.defaultOptions.moveToNextPositionText = NIMBUS.translate('ContactListMoveToNextPosition');
		window.ValueList.defaultOptions.moveToLastPositionText = NIMBUS.translate('ContactListMoveToLastPosition');
		window.ValueList.defaultOptions.removeText = NIMBUS.translate('ContactListRemove');

		// Manipulation au clavier
		body.keystrokes({
			'Ctrl-f': () => $('#searchInput').focus().select(),
			'Ctrl-s': () => saveButton.click(),
		});

		// Désactivation de la soumission des formulaires
		$('form').on('submit', function() { return false; });
	});
});
</script>

</body>
</html>
