<!DOCTYPE html>
<html class="nimbus-viewer nimbus-hideable-toolbars">
<head>
<title data-translate="text">DiaporamaTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/png" rel="icon" href="/favicon.png" />
<link type="font/woff2" rel="preload" href="/libs/material-icons/material-icons.woff2" as="font" />
<link type="text/css" rel="stylesheet" href="${stylesheet}" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body class="nimbus-hidden">
	<header>
		<div class="float-left">
			<a href="${backURL}" class="btn btn-link" title="${appName}"><i class="material-icons">arrow_back</i></a>
			<button type="button" class="btn btn-link diaporama-rotate-left" data-translate="title" title="DiaporamaRotateLeft"><i class="material-icons">rotate_left</i></button>
		</div>

		<div class="btn-group diaporama-manual">
			<button type="button" class="btn btn-link diaporama-first" data-translate="title" title="DiaporamaFirst"><i class="material-icons">first_page</i></button>
			<button type="button" class="btn btn-link diaporama-previous" data-translate="title" title="DiaporamaPrevious"><i class="material-icons">chevron_left</i></button>
			<button type="button" class="btn btn-link diaporama-play" data-translate="title" title="DiaporamaPlay"><i class="material-icons">play_circle_outline</i></button>
			<button type="button" class="btn btn-link diaporama-next" data-translate="title" title="DiaporamaNext"><i class="material-icons">chevron_right</i></button>
			<button type="button" class="btn btn-link diaporama-last" data-translate="title" title="DiaporamaLast"><i class="material-icons">last_page</i></button>
		</div>

		<div class="btn-group diaporama-auto nimbus-hidden">
			<button type="button" class="btn btn-link diaporama-decelerate" data-translate="title" title="DiaporamaDecelerate"><i class="material-icons">fast_rewind</i></button>
			<button type="button" class="btn btn-link diaporama-pause" data-translate="title" title="DiaporamaPause"><i class="material-icons">pause_circle_outline</i></button>
			<button type="button" class="btn btn-link diaporama-accelerate" data-translate="title" title="DiaporamaAccelerate"><i class="material-icons">fast_forward</i></button>
		</div>

		<div class="float-right">
			<div class="btn-group">
				<button id="optionsButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="DiaporamaOptions" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings</i></button>
				<div id="optionsMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsButton">
					<button class="dropdown-item active" data-aspect="0" data-translate="text">DiaporamaAspectScaleDown</button>
					<button class="dropdown-item" data-aspect="1" data-translate="text">DiaporamaAspectContain</button>
					<button class="dropdown-item" data-aspect="2" data-translate="text">DiaporamaAspectCover</button>
					<div class="dropdown-divider"></div>
					<button class="dropdown-item active" data-mode="0" data-translate="text">DiaporamaModeDefault</button>
					<button class="dropdown-item" data-mode="1" data-translate="text">DiaporamaModeRepeat</button>
					<button class="dropdown-item" data-mode="2" data-translate="text">DiaporamaModeRandom</button>
				</div>
			</div>
			<button type="button" class="btn btn-link diaporama-fullscreen" data-translate="title" title="DiaporamaFullscreen"><i class="material-icons">fullscreen</i></button>
			<button type="button" class="btn btn-link diaporama-restore nimbus-hidden" data-translate="title" title="DiaporamaRestore"><i class="material-icons">fullscreen_exit</i></button>
		</div>
	</header>
	<main style="overflow: hidden; ">
		<canvas style="width: 100%; height: 100%; "></canvas>
	</main>
	<footer>
		<div style="float: left; padding-right: 10px; font-size: small; font-family: mono; color: white; ">
			<span class="diaporama-speed"></span>
		</div>
		<div style="float: right; padding-left: 10px; font-size: small; font-family: mono; color: white; ">
			<span class="diaporama-index"></span> / <span class="diaporama-totals text-muted"></span>
		</div>
		<div class="diaporama-description text-muted"></div>
	</footer>
<script>
"use strict";

function Diaporama(items, index) {
	// Le canvas dans lequel dessiner les images
	this.canvas = document.querySelector('canvas');
	// L'image non affichée directement mais pour charger le contenu
	this.image = new Image();
	this.image.onload = this.draw.bind(this);
	// La liste des éléments à afficher
	this.items = items;
	// La position de l'image en cours
	this.index = index;
	// La rotation en cours, par défaut 0, puis -90, -180, -270 puis à nouveau 0
	this.rotation = 0;
	// L'aspect utilisé pour afficher l'image
	this.aspect = 0;
	// Le mode de lecture utilisé
	this.mode = 0;
	// Par défaut, le diaporama ne se lance pas
	this.interval = null;
	// Par défaut, le diaporama défilerait toutes les 3 secondes
	this.intervalSeconds = 3;
	// Afficher l'image demandée
	this.show(index);
	setTimeout(function() {
		this.triggerIndexChanged();
		this.triggerSpeedChanged();
	}.bind(this), 0);
}

$.extend(Diaporama.prototype, {
	draw: function() {
		// draw "image" in "canvas" with proper "rotation" and "aspect";
		var context = this.canvas.getContext('2d');
		var aspect = Diaporama.aspects[this.aspect];
		var rotated = this.rotation === 90 || this.rotation === 270;
		var iw = this.image.naturalWidth;
		var ih = this.image.naturalHeight;
		var cw = this.canvas.offsetWidth;
		var ch = this.canvas.offsetHeight;
		var scale = aspect.scale(rotated ? ih : iw, rotated ? iw : ih, cw, ch);;
		this.canvas.width = cw;
		this.canvas.height = ch;
		context.save();
		context.translate(cw / 2, ch / 2);
		context.rotate(this.rotation * Math.PI / 180);
		context.scale(scale[0], scale[1]);
		context.drawImage(this.image, -iw / 2, -ih / 2, iw, ih);
		context.restore();
	},
	rotateLeft: function() {
		this.rotation = (this.rotation === 0) ? 270 : (this.rotation - 90);
		this.draw();
	},
	rotateRight: function(degrees) {
		this.rotation = (this.rotation === 270) ? 0 : (this.rotation + 90);
		this.draw();
	},
	setAspect: function(aspect) {
		this.aspect = aspect;
		this.draw();
	},
	setMode: function(mode) {
		this.mode = mode;
		// see "next" for "mode" usage"
	},
	play: function() {
		this.interval = setInterval(this.next.bind(this), this.intervalSeconds * 1000);
		this.triggerSlideshowChanged();
	},
	pause: function() {
		clearInterval(this.interval);
		this.interval = null;
		this.triggerSlideshowChanged();
	},
	toggle: function() {
		if (this.interval)
			this.pause();
		else
			this.play();
	},
	speed: function(seconds) {
		this.intervalSeconds = Math.max(1, seconds);
		if (this.interval !== null) {
			clearInterval(this.interval);
			this.interval = setInterval(this.next.bind(this), this.intervalSeconds * 1000);
		}
		this.triggerSpeedChanged();
	},
	accelerate: function() {
		this.speed(this.intervalSeconds - 1);
	},
	decelerate: function() {
		this.speed(this.intervalSeconds + 1);
	},
	show: function(index) {
		// On récupère l'élément
		var item = this.items[index];
		// On note la position
		this.index = index;
		// On ajuste le contenu de l'image ("onload" appellera "draw")
		this.image.src = item.url;
		// On prévient le reste de l'IHM
		this.triggerIndexChanged();
	},
	first: function() {
		this.show(0);
	},
	previous: function() {
		this.show(this.index > 0 ? (this.index - 1) : (this.items.length - 1));
	},
	next: function() {
		var mode = Diaporama.modes[this.mode];
		var next = mode.next(this.index, this.items.length);
		if (next === false)
			this.pause();
		else
			this.show(next);
	},
	last: function() {
		this.show(this.items.length - 1);
	},
	triggerSpeedChanged: function() {
		$(this).trigger('speedchanged', [this.intervalSeconds]);
	},
	triggerSlideshowChanged: function() {
		$(this).trigger('slideshowchanged', [this.interval !== null]);
	},
	triggerIndexChanged: function() {
		$(this).trigger('indexchanged', [this.index]);
	},
});

// 3 sizes matching CSS3 "object-fit" property values ("fill" is not used beacuse is does not keep the original aspect ratio)
Diaporama.aspects = [{
	// Real size if smaller than the container or shrinked to fit
	name: 'scaleDown',
	scale: function(iw, ih, cw, ch) {
		var ratio = Math.min(cw / iw, ch / ih, 1);
		return [ratio, ratio];
	}
}, {
	// Resized to fit the container, with margins if the aspect ratio does not match
	name: 'contain',
	scale: function(iw, ih, cw, ch) {
		var ratio = Math.min(cw / iw, ch / ih);
		return [ratio, ratio];
	}
}, {
	// Resized to fit the container, without margins but the image may be clipped
	name: 'cover',
	scale: function(iw, ih, cw, ch) {
		var ratio = Math.max(cw / iw, ch / ih);
		return [ratio, ratio];
	}
}];

// 3 playing modes modifying what 'next' song means
Diaporama.modes = [{
	// 0..N then stop
	name: 'default',
	next: function(index, count) {
		if (index === count - 1)
			return false;
		return index + 1;
	}
}, {
	// 0..N then starts again
	name: 'repeat',
	next: function(index, count) {
		return (index + 1) % count;
	}
}, {
	// randomly switch between songs
	name: 'random',
	next: function(index, count) {
		return (index + Math.ceil(Math.random() * (count - 1))) % count;
	}
}];

//Initialiser la page
NIMBUS.init(['image.js'], function() {
	// Récupérer les infos sur les éléments
	$.get('/items/infos?itemIds=${ids}').then(function(items) {
		run(items, ${play?string('true', 'false')}, ${selection});
	});
});

function run(items, play, selection) {
	// Préparer les éléments à afficher
	var index = 0;
	items.forEach(function(item, i) {
		item.url = '/files/stream/' + item.id;
		if (item.id === selection)
			index = i;
	});

	// Créer le diaporama
	var diaporama = new Diaporama(items, index);

	// Mettre à jour l'IHM quand le diaporama nous indique un changement
	$('.diaporama-totals').text('' + items.length);
	$(diaporama)
		.on('speedchanged', function(event, seconds) {
			$('.diaporama-speed').text(seconds + 's');
		})
		.on('slideshowchanged', function(event, active) {
			$('.diaporama-manual').toggleClass('nimbus-hidden', active);
			$('.diaporama-auto').toggleClass('nimbus-hidden', !active);
		})
		.on('indexchanged', function(event, index) {
			// Description de l'image
			var item = diaporama.items[index];
			var p = [NIMBUS.formatLength(item.length)];
			if (item.width && item.height)
				p.push(NIMBUS.translate('DiaporamaDimensions', [item.width, item.height]))
			if (item.depth)
				p.push(NIMBUS.translate('DiaporamaDepth', [item.depth]))
			$('.diaporama-index').text('' + (index + 1));
			$('.diaporama-description').text(item.name + ' - ' + p.join(', '));
			diaporama.canvas.title = item.name + '\n' + p.join(', ');
		});

	// Lancer le diaporama, si c'est demandé
	if (play)
		diaporama.play();

	// Manipuler le diaporama grâce à l'IHM
	$('.diaporama-rotate-left').click(() => diaporama.rotateLeft());
	$('.diaporama-first').click(diaporama.first.bind(diaporama));
	$('.diaporama-previous').click(diaporama.previous.bind(diaporama));
	$('.diaporama-play').click(diaporama.play.bind(diaporama));
	$('.diaporama-next').click(diaporama.next.bind(diaporama));
	$('.diaporama-last').click(diaporama.last.bind(diaporama));
	$('.diaporama-decelerate').click(diaporama.decelerate.bind(diaporama));
	$('.diaporama-pause').click(diaporama.pause.bind(diaporama));
	$('.diaporama-accelerate').click(diaporama.accelerate.bind(diaporama));
	$('#optionsMenu').on('click', '[data-aspect]', function(event) {
		var entry = $(event.target).closest('[data-aspect]');
		entry.addClass('active').siblings('[data-aspect]').removeClass('active');
		diaporama.setAspect(parseInt(entry.attr('data-aspect')));
	});
	$('#optionsMenu').on('click', '[data-mode]', function(event) {
		var entry = $(event.target).closest('[data-mode]');
		entry.addClass('active').siblings('[data-mode]').removeClass('active');
		diaporama.setMode(parseInt(entry.attr('data-mode')));
	});

	// Entrer en plein-écran / Sortir du plein-écran
	var fullscreenElement = document.body;
	fullscreenElement.requestFullscreen = fullscreenElement.requestFullscreen || fullscreenElement.mozRequestFullScreen || fullscreenElement.webkitRequestFullscreen || fullscreenElement.msRequestFullscreen;
	document.exitFullscreen = document.exitFullscreen || document.mozCancelFullScreen || document.webkitExitFullscreen || document.msExitFullscreen;
	$('.diaporama-fullscreen').toggleClass('nimbus-hidden', !fullscreenElement.requestFullscreen).click(function() {
		fullscreenElement.requestFullscreen();
		$('.diaporama-fullscreen').addClass('nimbus-hidden').next().toggleClass('nimbus-hidden', !document.exitFullscreen);
	});
	$('.diaporama-restore').click(function() {
		document.exitFullscreen();
		$('.diaporama-restore').addClass('nimbus-hidden').prev().toggleClass('nimbus-hidden', !fullscreenElement.requestFullscreen);
		$('.nimbus-viewer').removeClass('nimbus-hidden-toolbars');
	});

	// Clic sur la partie centrale pour afficher/cacher les barres d'outils
	$('main').click(function(event) {
		$('.nimbus-viewer').toggleClass('nimbus-hidden-toolbars');
	});

	// L'IHM est prête, on l'affiche
	$(document.body).removeClass('nimbus-hidden');

	// Manipulation au clavier
	$(document.body).gpkeystrokes({
		'Home': () => diaporama.first(),
		'ArrowLeft': () => diaporama.previous(),
		'PageUp': () => diaporama.previous(),
		'ArrowRight': () => diaporama.next(),
		'PageDown': () => diaporama.next(),
		'End': () => diaporama.last(),
		'Space': () => diaporama.toggle(),
		'+': () => diaporama.accelerate(),
		'-': () => diaporama.decelerate(),
		'Alt-ArrowLeft': () => diaporama.rotateLeft(),
		'Alt-ArrowRight': () => diaporama.rotateRight(),
		'F11': () => $('.diaporama-fullscreen').hasClass('nimbus-hidden') ? $('.diaporama-restore').click() : $('.diaporama-fullscreen').click(),
	});

	// Redessiner quand la taille de la page change
	$(window).on('resize', () => diaporama.draw());
}
</script>

</body>
</html>
