<!DOCTYPE html>
<html class="nimbus-viewer nimbus-static-toolbars">
<head>
<title data-translate="text">EPUBTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/preferences/theme.css" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<style>
body:not(.selecting) iframe { pointer-events: none; }
@media (max-width: 799.9px) { /*ePub.js minSpreadWidth (800px) */
	.spreads-off, .spreads-on, .spreads-off + .dropdown-divider { display: none; }
}
.popover { max-width: calc(100% - 10px); }
.dropdown-menu { overflow: auto; max-height: 300px; /* max-height is adjusted when "show.bs.dropdown" event is fired */ }
</style>
</head>
<body class="nimbus-hidden">
	<header class="bg-primary">
		<div class="float-left">
			<a href="#" class="btn btn-link back" style="display: none;"><i class="material-icons">arrow_back</i></a>
		</div>

		<div class="btn-group nimbus-hidden">
			<button type="button" class="btn btn-link previous-page" data-translate="title" title="EPUBPreviousPage"><i class="material-icons">chevron_left</i></button>
			<button type="button" class="btn btn-link position" data-translate="title" title="EPUBPosition"><i class="material-icons">linear_scale</i></button>
			<div class="btn-group" role="group">
				<button id="chaptersButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="EPUBChapters" aria-haspopup="true" aria-expanded="false"><i class="material-icons">format_list_numbered</i></button>
				<div id="chaptersMenu" class="dropdown-menu" aria-labelledby="chaptersButton">
				</div>
			</div>
			<button type="button" class="btn btn-link next-page" data-translate="title" title="EPUBNextPage"><i class="material-icons">chevron_right</i></button>
		</div>

		<div class="float-right">
			<div class="btn-group">
				<button id="optionsButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="EPUBOptions" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings</i></button>
				<div id="optionsMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsButton">
					<button class="dropdown-item spreads-on active" data-translate="text">EPUBSpreadsOn</button>
					<button class="dropdown-item spreads-off" data-translate="text">EPUBSpreadsOff</button>
					<div class="dropdown-divider"></div>
					<button class="dropdown-item toggle-select active" data-translate="text">EPUBSwipeMode</button>
					<button class="dropdown-item toggle-select" data-translate="text">EPUBSelectMode</button>
				</div>
			</div>
		</div>
	</header>
	<main></main>
	<footer></footer>
	
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/jszip/jszip.min.js"></script>
<script type="text/javascript" src="/libs/epub/epub.min.js"></script>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
<script>
NIMBUS.init(['epub.js'], function() {
	// L'IHM est prête, on l'affiche
	var body = $(document.body).removeClass('nimbus-hidden');
	var header = $('header');

	// Affichage de la première page
	var main = $('main');
	var book = ePub('${url}', { openAs: 'epub' });
	var rendition = book.renderTo(main[0], {
		width: '100%',
		height: '100%',
		flow: 'paginated',
		stylesheet: '/preferences/theme.css',
		script: ''
	});
	rendition.display();

	// Un bouton retour (facultatif)
	var backButton = header.find('.back')
		.toggle(!!'${fromUrl}')
		.attr('title', '${fromTitle}')
		.attr('href', '${fromUrl}');

	// Changement de mode entre 1 colonne et 2 colonnes
	var spreadsOnButton = header.find('.spreads-on').on('click', function() {
		spreadsOnButton.addClass('active');
		spreadsOffButton.removeClass('active');
		rendition.spread('auto');
	});
	var spreadsOffButton = header.find('.spreads-off').on('click', function() {
		spreadsOffButton.addClass('active');
		spreadsOnButton.removeClass('active');
		rendition.spread('none');
	});

	// Navigation avec les boutons "<" et ">"
	var previousPageButton = header.find('.previous-page').on('click', function() {
		rendition.prev();
	});
	var nextPageButton = header.find('.next-page').on('click', function() {
		rendition.next();
	});

	// Navigation au clavier
	body.keystrokes({
		'PageUp': () => rendition.prev(),
		'PageDown': () => rendition.next(),
		'ArrowLeft': () => rendition.prev(),
		'ArrowRight': () => rendition.next(),
	});

	// Navigation à la molette
	main.on('wheel', function(event) {
		var e = event.originalEvent;
		if (e.ctrlKey)
			return;
		if (e.deltaY < 0)
			rendition.prev();
		else
			rendition.next();
	});

	// Changement de page par "swipe"
	main.swipe().on('swipe', function(event, swipe) {
		if ('right' === swipe.direction || 'bottom' === swipe.direction)
			rendition.prev();
		else if ('left' === swipe.direction || 'top' === swipe.direction)
			rendition.next();
	});

	// Changement de mode entre "swipe" et sélection de texte
	var toggleSelectButton = header.find('.toggle-select').on('click', function(event) {
		$(event.target).closest('.toggle-select').addClass('active').siblings('.toggle-select').removeClass('active');
		body.toggleClass('selecting');
	})

	// Préparer un slider pour avancer dans le document en pourcentage
	var positionInput = $('<input type="range" class="form-control" min="0" max="100" step="1" value="0" style="max-width: 100%; width: 300px; " />').on('input', function() {
		var cfi = book.locations.cfiFromPercentage(parseInt(positionInput.val()) / 100);
		rendition.display(cfi);
	});

	// Utiliser un bouton dans la barre pour afficher le slider
	var positionButton = header.find('.position').popover({
		html: true,
		placement: 'bottom',
		content: positionInput
	});

	// Calculer le découpage en pourcentage
	book.ready.then(function() {
		// Comme c'est un peu coûteux, on stocke le résultat pour les fois suivantes
		var key = book.key() + '-locations';
		var stored = localStorage.getItem(key);
		if (stored)
			return book.locations.load(stored);
		// On découpe en petits morceaux (ici de 1600 caractères. 150 par défaut sinon)
		return book.locations.generate(1600);
	}).then(function(locations) {
		localStorage.setItem(book.key() + '-locations', book.locations.save());
	});

	// Ajuster la visibilité des boutons en fonction de la page en cours
	rendition.on('relocated', function(location) {
		nextPageButton.parent().toggleClass('nimbus-hidden', !!location.atEnd && !!location.atStart);
		previousPageButton.prop('disabled', !!location.atStart);
		nextPageButton.prop('disabled', !!location.atEnd);
		var percent = book.locations.percentageFromCfi(location.start.cfi);
		var percentage = Math.floor(percent * 100);
		positionInput.val(percentage);
		positionButton.attr('title', percentage + ' %');
	});

	// Sauvegarder la position dans le document
	rendition.on('relocated', function(location) {
		localStorage.setItem(book.key() + '-last-location', location.start.cfi);
	});

	// Recharger, si présente, la dernière position dans le document
	book.loaded.navigation.then(function(toc) {
		var cfi = localStorage.getItem(book.key() + '-last-location');
		if (cfi)
			rendition.display(cfi);
	});

	// Afficher la liste des chapitres en combo
	book.loaded.navigation.then(function(toc) {
		var fragment = document.createDocumentFragment();
		toc.forEach(function(chapter) {
			var label = (chapter.label || '').trim();
			if (! label)
				return;
			var a = document.createElement('a');
			a.className = 'dropdown-item';
			a.textContent = label;
			a.href = chapter.href;
			fragment.appendChild(a);
		});
		chaptersMenu.parent().toggle(toc.length >= 2);
		chaptersMenu[0].appendChild(fragment);
	});

	// En se déplacer au chapitre sélectionné
	var chaptersMenu = header.find('#chaptersMenu').on('click', 'a.dropdown-item', function(event) {
		var url = $(event.target).attr('href');
		rendition.display(url);
		return false;
	});
	chaptersMenu.parent().on('show.bs.dropdown', function() {
		chaptersMenu.css('max-height', (main.innerHeight() - 10) + 'px');
	});

});
</script>
</body>
</html>
