<!DOCTYPE html>
<html>
<head>
<title>${appName}</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/preferences/theme.css" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
</head>
<body class="nimbus-hidden">

<img id="background" class="nimbus-hidden" style="position: fixed; width: 100%; height: 100%; z-index: -2; object-fit: cover; opacity: 0.6; " />

<form action="/login.html" method="post" style="display: block; width: 400px; max-width: 100%; margin: 0 auto; padding: 40px; ">
	<fieldset>
		<#if install>
			<legend data-translate="text">LoginInstallationTitle</legend>
		<#else>
			<legend data-translate="text">LoginTitle</legend>
		</#if>

		<#if logout>
			<div class="alert alert-primary" data-translate="text" role="alert">LoginLogoutSuccessMessage</div>
		</#if>

		<div class="form-group">
			<label data-translate="text" for="login">LoginLoginLabel</label>
			<input class="form-control <#if error>is-invalid</#if>" data-translate="placeholder" type="text" name="login" id="login" value="${login}" placeholder="LoginLoginPlaceholder" />
			<div class="invalid-feedback" data-translate="text">LoginErrorMessage</div>
		</div>
		<div class="form-group">
			<label data-translate="text" for="password">LoginPasswordLabel</label>
			<input class="form-control <#if error>is-invalid</#if>" data-translate="placeholder" type="password" name="password" id="password" value="" placeholder="LoginPasswordPlaceholder" />
			<div class="invalid-feedback" data-translate="text">LoginErrorMessage</div>
		</div>
		<input type="hidden" name="urlToLoad" value="${urlToLoad}" />
		<button class="btn btn-primary btn-block" data-translate="text" type="submit">LoginButton</button>
		<#if theme != "light"><button class="btn btn-link btn-block" data-theme="light" data-translate="text" type="button">LoginEnableLightTheme</button></#if>
		<#if theme != "dark"><button class="btn btn-link btn-block" data-theme="dark" data-translate="text" type="button">LoginEnableDarkTheme</button></#if>
	</fieldset>
</form>

<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
<script>
NIMBUS.init([], function() {
	$('button[data-theme]').on('click', function(event) {
		var theme = $(event.target).closest('button').attr('data-theme');
		$.get('/preferences/theme', { theme: theme }).then(function() {
			window.location.reload();
		});
	});

	// L'IHM est prête, on l'affiche
	$(document.body).removeClass('nimbus-hidden');

	// Donner le focus à la première entrée éditable
	$('#login').focus();

	// Charger l'image de fond si elle est paramétrée
	<#if background>$('#background').attr('src', '/login/background').on('load', function() { this.className = ''; });</#if>
});
</script>
</body>
</html>
