<!DOCTYPE html>
<html lang="${lang}" data-theme="${theme}">
<head>
<title>${appName}</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/preferences/theme.css" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons-custom.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/libs/gp/gp-autocomplete.js"></script>
<script type="text/javascript" src="/libs/gp/gp-fileupload.js"></script>
<script type="text/javascript" src="/libs/gp/gp-tagsinput.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body id="main" class="nimbus-hidden">

<nav class="navbar navbar-expand navbar-dark fixed-top bg-primary">
	<div class="nimbus-menu dropdown">
		<button id="menu-button" class="btn btn-link text-light dropdown-toggle" data-translate="title" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="MainToolbarTitle">
			<i class="material-icons">menu</i>
		</button>
		<div class="dropdown-menu" aria-labelledby="menu-button">
			<a class="dropdown-item" target="_blank" href="/main.html">
				<i class="material-icons">home</i>
				<span data-translate="text">MainToolbarNewWindow</span>
			</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-folder-dialog">
				<i class="material-icons">create_new_folder</i>
				<span data-translate="text">MainToolbarAddFolder</span>
			</a>
			<a class="dropdown-item" href="#" onclick="$('#add-file-input').click();">
				<i class="material-icons">cloud_upload</i>
				<span data-translate="text">MainToolbarUploadFile</span>
			</a>
			<a class="dropdown-item" href="#" data-toggle="modal" data-target="#touch-file-dialog">
				<i class="material-icons">note_add</i>
				<span data-translate="text">MainToolbarTouchFile</span>
			</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/preferences.html">
				<i class="material-icons">account_box</i>
				<span data-translate="text">MainToolbarPreferences</span>
			</a>
			<#if admin>
			<a class="dropdown-item" href="/users.html">
				<i class="material-icons">supervisor_account</i>
				<span data-translate="text">MainToolbarUsers</span>
			</a>
			</#if>
			<a id="trash-menu-entry" class="dropdown-item" href="/trash.html">
				<i class="material-icons">delete_sweep</i>
				<span data-translate="text">MainToolbarTrash</span>
				<span></span>
			</a>
			<div class="dropdown-divider"></div>
			<div class="text-muted px-3" data-translate="text">MainToolbarUsage</div>
			<div id="usage-menu-entry" class="progress mx-3 mt-1">
				<div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
				<div class="progress-bar bg-secondary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="dropdown-divider"></div>
			<div class="text-muted px-3" data-translate="text">MainToolbarTheme</div>
			<div id="theme-selector" class="btn-group px-3 pt-1" role="group" aria-label="MainToolbarTheme">
				<button type="button" class="btn btn-secondary" data-theme="">Bootstrap</button>
				<button type="button" class="btn btn-secondary" data-theme="darkly">Darkly</button>
				<button type="button" class="btn btn-secondary" data-theme="flatly">Flatly</button>
				<button type="button" class="btn btn-secondary" data-theme="materia">Materia</button>
				<button type="button" class="btn btn-secondary" data-theme="united">United</button>
			</div>
		</div>
	</div>
	<div class="collapse navbar-collapse">
		<ul id="path" class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">${appName}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Folder</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Path</a>
			</li>
		</ul>
		<div id="search-group" class="mx-2 form-inline">
			<input id="search-input" class="form-control" data-translate="placeholder" type="search" placeholder="MainSearchPlaceholder" />
			<button id="search-clear" class="btn btn-link text-light" data-translate="title" title="MainSearchClear">
				<i class="material-icons">clear</i>
			</button>
			<div class="btn-group">
				<button id="search-options" class="btn btn-link text-light dropdown-toggle" data-translate="title" data-toggle="dropdown" title="MainSearchOptions">
					<i class="material-icons">search</i>
				</button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="search-options">
					<a href="#" data-translate="text" class="dropdown-item active" id="search-option-recursive">MainSearchRecursive</a>
					<div class="dropdown-divider"></div>
					<a href="#" data-translate="text" class="dropdown-item" id="search-option-folders">MainSearchInFolders</a>
					<a href="#" data-translate="text" class="dropdown-item" id="search-option-files">MainSearchInFiles</a>
					<a href="#" data-translate="text" class="dropdown-item" data-extensions="appcache,css,csv,html,html,js,json,less,md,md5,sha1,sha256,sha512,ts,txt,xml">MainSearchInTextFiles</a>
					<a href="#" data-translate="text" class="dropdown-item" data-extensions="aac,m3u,mid,midi,mp3,oga,ogg,wav,weba,wma">MainSearchInAudio</a>
					<a href="#" data-translate="text" class="dropdown-item" data-extensions="3gp,avi,m4a,mkv,mov,mp4,mpeg,mpg,ogv,webm,wmv">MainSearchInVideo</a>
					<a href="#" data-translate="text" class="dropdown-item" data-extensions="bmp,gif,ico,jpeg,jpg,png,svg,webp">MainSearchInImage</a>
					<a href="#" data-translate="text" class="dropdown-item" data-extensions="abw,rtf,doc,xls,pps,ppt,docx,xlsx,pptx,ods,odt,odp,epub,azw,pdf,xps,chm">MainSearchInDocuments</a>
				</div>
			</div>
		</div>
		<a id="logout-button" class="mx-2 btn btn-link text-light" href="/logout" data-translate="title" title="MainToolbarLogout">
			<i class="material-icons">power_settings_new</i>
		</a>
		<button id="delete-button" class="mx-2 btn btn-light text-danger" data-translate="title" title="MainToolbarDelete">
			<i class="material-icons">delete</i>
			<span class="d-sm-none d-md-inline" data-translate="text">MainToolbarDelete</span>
		</button>
		<button id="download-button" class="mx-2 btn btn-light" data-translate="title" title="MainToolbarDownload">
			<i class="material-icons">cloud_download</i>
			<span class="d-sm-none d-md-inline" data-translate="text">MainToolbarDownload</span>
		</button>
		<button id="move-button" class="mx-2 btn btn-light" data-translate="title" title="MainToolbarMove">
			<i class="material-icons">subdirectory_arrow_right</i>
			<span class="d-sm-none d-md-inline" data-translate="text">MainToolbarMove</span>
		</button>
	</div>
</nav>

<input id="add-file-input" type="file" name="files" multiple="multiple" />

<div id="progress" class="m-2">
	<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div>
	<span></span>
</div>

<div id="alert-container"></div>

<table id="items" class="table table-hover table-sm">
	<thead>
		<tr>
			<th class="icon">
				<input type="checkbox" id="all-selected-checkbox" />
			</th>
			<th class="name" data-sort="name">
				<span data-translate="text">MainTableName</span>
				<span id="itemcount" class="text-muted">0</span>
			</th>
			<th class="actions">
				<div class="dropdown">
					<button class="btn btn-link dropdown-toggle" type="button" id="items-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-translate="title" title="MainTableOptions"></button>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="items-options" style="max-height: 300px; overflow-y: auto;">
						<h6 class="dropdown-header" data-translate="text">MainTableGridOptions</h6>
						<a data-option="showItemTags" class="dropdown-item ${showItemTags?then("active","")}" href="#" data-translate="text">MainTableGridOptionTags</a>
						<a data-option="showItemDescription" class="dropdown-item ${showItemDescription?then("active","")}" href="#" data-translate="text">MainTableGridOptionDescription</a>
						<a data-option="showItemThumbnail" class="dropdown-item ${showItemThumbnail?then("active","")}" href="#" data-translate="text">MainTableGridOptionThumbnail</a>
						<h6 class="dropdown-header" data-translate="text">MainTableGridProperties</h6>
					</div>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div id="noitems" data-translate="text" class="alert alert-light m-2 nimbus-hidden" role="alert">MainTableEmpty</div>

<div id="add-folder-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-translate="text">MainAddFolderTitle</h5>
			</div>
			<div class="modal-body">
				<fieldset>
					<div class="form-group">
						<label for="add-folder-name" data-translate="text">MainAddFolderNameLabel</label>
						<input id="add-folder-name" class="form-control" data-translate="placeholder" autofocus="autofocus" name="name" type="text" maxlength="128" placeholder="MainAddFolderNamePlaceholder" />
						<div class="invalid-feedback" data-translate="text">MainAddFolderNameConflictErrorMessage</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-translate="text" data-dismiss="modal">MainAddFolderCancelButton</button>
				<button type="button" class="btn btn-primary" data-translate="text" id="add-folder-validate-button">MainAddFolderValidateButton</button>
			</div>
		</div>
	</div>
</div>

<div id="touch-file-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-translate="text">MainTouchFileTitle</h5>
			</div>
			<div class="modal-body">
				<fieldset>
					<div class="form-group">
						<label for="touch-file-name" data-translate="text">MainTouchFileNameLabel</label>
						<input id="touch-file-name" class="form-control" data-translate="placeholder" autofocus="autofocus" name="name" type="text" maxlength="128" placeholder="MainTouchFileNamePlaceholder" />
						<div class="invalid-feedback" data-translate="text">MainTouchFileNameConflictErrorMessage</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-translate="text" data-dismiss="modal">MainTouchFileCancelButton</button>
				<button type="button" class="btn btn-primary" data-translate="text" id="touch-file-validate-button">MainTouchFileValidateButton</button>
			</div>
		</div>
	</div>
</div>

<div id="rename-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-translate="text">MainRenameTitle</h5>
			</div>
			<div class="modal-body">
				<fieldset>
					<div class="form-group">
						<label for="rename-name" data-translate="text">MainRenameNameLabel</label>
						<input id="rename-name" class="form-control" data-translate="placeholder" autofocus="autofocus" name="name" type="text" placeholder="MainRenameNamePlaceholder" />
						<div class="invalid-feedback" data-translate="text">MainRenameNameConflictErrorMessage</div>
					</div>
					<div class="form-group">
						<label for="rename-icon-url" data-translate="text">MainRenameIconURLLabel</label>
						<input id="rename-icon-url" class="form-control" data-translate="placeholder" name="iconURL" type="text" placeholder="MainRenameIconURLPlaceholder" />
					</div>
					<div class="form-group">
						<label for="rename-tags" data-translate="text">MainRenameTagsLabel</label>
						<input id="rename-tags" class="form-control" data-translate="placeholder" name="tags" type="text" placeholder="MainRenameTagsPlaceholder" />
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-translate="text" data-dismiss="modal">MainRenameCancelButton</button>
				<button type="button" class="btn btn-primary" data-translate="text" id="rename-validate-button">MainRenameValidateButton</button>
			</div>
		</div>
	</div>
</div>

<div id="actions-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action" id="action-navigate"><i class="material-icons">folder_open</i> <span data-translate="text">ActionNavigate</span></a>
					<a href="#" class="list-group-item list-group-item-action" id="action-open"><i class="material-icons">open_in_new</i> <span data-translate="text">ActionOpen</span></a>
					<a href="#" class="list-group-item list-group-item-action" id="action-locate"><i class="material-icons">location_searching</i> <span data-translate="text">ActionLocate</span></a>
					<a href="#" class="list-group-item list-group-item-action" id="action-rename"><i class="material-icons">edit</i> <span data-translate="text">ActionRename</span></a>
					<a href="#" class="list-group-item list-group-item-action" id="action-duplicate"><i class="material-icons">dns</i> <span data-translate="text">ActionDuplicate</span></a>
					<a href="#" class="list-group-item list-group-item-action" id="action-move"><i class="material-icons">redo</i> <span data-translate="text">ActionMove</span></a>
					<a href="#" class="list-group-item list-group-item-action" id="action-delete"><i class="material-icons">delete</i> <span data-translate="text">ActionDelete</span></a>
					<a href="#" class="list-group-item list-group-item-action" id="action-download"><i class="material-icons">cloud_download</i> <span data-translate="text">ActionDownload</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

//Initialiser la page
NIMBUS.init(function() {
	// Chargement des propriétés disponibles
	var columns = [<#list visibleItemColumns as c>'${c}'<#sep>,</#sep></#list>];
	// L'IHM est prête, on l'affiche
	$(document.body).removeClass('nimbus-hidden');
	// Initialisation de la bavigation
	NIMBUS.navigation.init(columns, ${trashCount}, ${usedSpace}, ${freeSpace}, '${theme}');
});
</script>
</body>
</html>