<!DOCTYPE html>
<html class="nimbus-viewer nimbus-static-toolbars">
<head>
<title data-translate="text">TextEditorTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="${stylesheet}" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/libs/codemirror/lib/codemirror.css" />
<link type="text/css" rel="stylesheet" href="/libs/codemirror/addon/fold/foldgutter.css" />
<link type="text/css" rel="stylesheet" href="/libs/codemirror/theme/nimbus-${theme}.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<style>
main { display: flex; }
.CodeMirror { height: 100%; line-height: 1.3em; overflow: hidden; }
#editor { flex: 1 1 0; }
#preview { flex: 1 1 0; padding: 1em; overflow: auto; }
body.edit #editButton { display: none; }
body.edit #preview { display: none; }
body.html #htmlButton { display: none; }
body.html #editor { display: none; }
@media (min-width: 1024px) {
	#htmlButton { display: none; }
	#editButton { display: none; }
}
@media (max-width: 1023.9px) {
	#viewButton { display: none; }
	#viewMenu { display: none; }
	body.split #preview { display: none; }
	body.split #editButton { display: none; }
}
</style>
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/marked/marked.min.js"></script>
<script type="text/javascript" src="/libs/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/edit/continuelist.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/edit/trailingspace.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/fold/foldcode.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/fold/foldgutter.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/fold/indent-fold.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/fold/markdown-fold.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/runmode/runmode.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/search/jump-to-line.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/selection/active-line.js"></script>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body class="nimbus-hidden split">
	<header>
		<div class="float-left">
			<a href="${backURL}" class="btn btn-link" title="${appName}"><i class="material-icons">arrow_back</i></a>
			<button id="saveButton" type="button" class="btn btn-link nimbus-hidden" data-translate="title" title="TextEditorSave"><i class="material-icons">save</i></button>
		</div>

		<div class="btn-group">
		</div>

		<div class="float-right">
			<div class="btn-group">
				<button id="htmlButton" type="button" class="btn btn-link" data-translate="title" title="MarkdownEditorPreviewHTML"><i class="material-icons">pageview</i></button>
				<button id="editButton" type="button" class="btn btn-link" data-translate="title" title="MarkdownEditorEditMarkdown"><i class="material-icons">edit</i></button>
				<button id="viewButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="MarkdownEditorView" aria-haspopup="true" aria-expanded="false"><i class="material-icons">chrome_reader_mode</i></button>
				<div id="viewMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="viewButton">
					<button class="dropdown-item active" data-view="split" data-translate="text">MarkdownEditorSplitView</button>
					<button class="dropdown-item" data-view="edit" data-translate="text">MarkdownEditorEditView</button>
					<button class="dropdown-item" data-view="html" data-translate="text">MarkdownEditorHTMLView</button>
				</div>
			</div>

			<a id="exportButton" href="#" class="btn btn-link" data-translate="title" title="MarkdownEditorExportHTML"><i class="material-icons">cloud_download</i></a>

			<div class="btn-group">
				<button id="lineSeparatorButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="TextEditorLineSeparator" aria-haspopup="true" aria-expanded="false"><i class="material-icons">wrap_text</i></button>
				<div id="lineSeparatorMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="lineSeparatorButton">
					<button class="dropdown-item" data-separator="crlf" data-translate="text">TextEditorLineSeparatorCRLF</button>
					<button class="dropdown-item" data-separator="lf" data-translate="text">TextEditorLineSeparatorLF</button>
					<button class="dropdown-item" data-separator="cr" data-translate="text">TextEditorLineSeparatorCR</button>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div id="editor"></div>
		<div id="preview"></div>
	</main>
	<footer></footer>
<script>
"use strict";

var updatePreviewTimeout;
function updatePreview(cm) {
	if (updatePreviewTimeout)
		clearTimeout(updatePreviewTimeout);
	updatePreviewTimeout = setTimeout(function() {
		var mardown = cm.getValue('\n');
		var html = markdownToHtml(mardown);
		$('#preview').html(html).removeClass('nimbus-hidden');
	}, 500);
}

var relativeURLRoot = null;
var xhrForFinalURL = new XMLHttpRequest();
function markdownURL(href) {
	// Récupérer le préfixe pour les URLs relatives
	if (relativeURLRoot == null) {
		var parts = xhrForFinalURL.responseURL.split('/');
		parts.pop();
		relativeURLRoot = parts.join('/') + '/';
	}
	// Résoudre les URLS relatives (./* ou ../*) et conserver les autres
	return new URL(href, relativeURLRoot).toString();
}
function markdownToHtml(text) {
	// https://marked.js.org/#/USING_PRO.md#renderer
	var renderer = new marked.Renderer();
	renderer.link = function(href, title, text) {
		var t = title ? ' title="' + title + '"' : '';
		return '<a target="_blank" href="' + markdownURL(href) + '"' + t + '>' + text + '</a>';
	};
	renderer.image = function(href, title, alt) {
		var t = title ? ' title="' + title + '"' : '';
		var a = alt ? ' alt="' + alt + '"' : '';
		return '<img class="img-fluid" src="' + markdownURL(href) + '"' + t + a + ' />';
	};
	renderer.table = function(header, body) {
		var h = header ? '<thead>' + header + '</thead>' : '';
		var b = body ? '<tbody>' + body + '</tbody>' : '';
		return '<table class="table table-bordered table-hover table-sm" style="width: auto; max-width: 100%; ">' + h + b + '</table>';
	};
	renderer.blockquote = function(text) {
		return '<blockquote class="ml-4 pl-2" style="border-left: 3px solid var(--secondary); ">' + text + '</blockquote>';
	};
	renderer.code = function(code, language, escaped) {
		var pre = $('<pre class="ml-4 pl-2 cm-s-nimbus-${theme}" style="border-left: 3px solid var(--secondary); "><code></code></pre>');
		var support = language && NIMBUS.utils.codeMirrorLoadSupport(language);
		if (support)
			CodeMirror.runMode(code, support.mime, pre.children('code')[0]);
		else
			pre.children('code').text(code);
		if (language)
			pre.prepend($('<span style="float: right; border-bottom: 1px solid #eee; " />').text(language));
		return pre[0].outerHTML;
	};
	// https://marked.js.org/#/USING_ADVANCED.md#options
	return marked(text || '', {
		// baseUrl: null, // null is the default value
		breaks: true,
		renderer: renderer,
		// sanitize: false, // false is the default value
		xhtml: true
	});
}

function customizeOptions(options) {
	options.lineWrapping = true;
	return options;
}

//Initialiser la page
NIMBUS.init(['text.js', 'markdown.js', 'code.js'], function() {
	// L'IHM est prête, on l'affiche
	var body = $(document.body).removeClass('nimbus-hidden');
	// Identifiant de l'élément édité
	var itemId = ${itemId};
	// Récupération du contenu du fichier
	$.get({
		url: '/files/browseTo/' + itemId,
		xhr: function() { return xhrForFinalURL; },
		dataType: 'text'
	}).then(function(content, textStatus, jqXHR) {
		var lineSeparator = NIMBUS.utils.textAPI.getLineSeparator(content),
			editor = $('#editor'),
			preview = $('#preview'),
			saveButton = $('#saveButton'),
			saveMessage = null,
			filename = NIMBUS.utils.getFileNameFromContentDisposition(jqXHR),
			support = NIMBUS.utils.codeMirrorLoadSupport('md'),
			cmOptions = NIMBUS.utils.codeMirrorCreateOptions(support.mime, content, '${theme}'),
			cm = CodeMirror(editor[0], customizeOptions(cmOptions));

		$('title').text(filename);

		// Passer du mode d'édition à la prévisualisation HTML
		$('#htmlButton').click(function(event) {
			// Cacher d'abord
			body.removeClass('split edit html');
			// Mettre à jour la vue
			$('#viewMenu [data-view=html]').addClass('active').siblings().removeClass('active');
			preview.html(markdownToHtml(cm.getValue('\n'))).show();
			// Afficher ensuite
			body.addClass('html');
		});
		// Passer de la prévisualisation HTML au mode d'édition
		$('#editButton').click(function(event) {
			// Cacher d'abord
			body.removeClass('split edit html');
			// Mettre à jour la vue
			$('#viewMenu [data-view=edit]').addClass('active').siblings().removeClass('active');
			preview.empty();
			// Afficher ensuite
			body.addClass('edit');
			cm.focus();
		});
		// Sélection de la vue par le menu
		$('#viewMenu [data-view]').click(function(event) {
			// Cacher d'abord
			body.removeClass('split edit html');
			// Mettre à jour la vue
			var selectedMenuItem = $(event.target).closest('[data-view]').addClass('active');
			var selectedView = selectedMenuItem.attr('data-view');
			if (selectedView === 'html' || selectedView === 'split')
				preview.html(markdownToHtml(cm.getValue('\n'))).show();
			else if (selectedView === 'edit')
				preview.empty();
			// Désélectionner l'entrée de menu précédente
			selectedMenuItem.siblings('.active').removeClass('active');
			// Afficher ensuite
			body.addClass(selectedView);
			if (selectedView !== 'html')
				cm.focus();
		});

		// Exporter la note en HTML
		$('#exportButton').attr('download', filename.replace('.md', '.html').replace('.markdown', '.html')).click(function() {
			var html = '<!DOCTYPE html>'
				+ '\n<html>'
				+ '\n\t<head>'
				+ '\n\t\t<title>' + filename + '</title>'
				+ '\n\t\t<meta charset="UTF-8">'
				+ '\n\t\t<link rel="stylesheet" href="${baseURL}${stylesheet}" />'
				+ '\n\t\t<link type="text/css" rel="stylesheet" href="${baseURL}/libs/codemirror/lib/codemirror.css" />'
				+ '\n\t\t<link type="text/css" rel="stylesheet" href="${baseURL}/libs/codemirror/theme/nimbus-${theme}.css" />'
				+ '\n\t</head>'
				+ '\n\t<body class="m-3">'
				+ '\n' + markdownToHtml(cm.getValue('\n'))
				+ '\n\t</body>'
				+ '\n</html>';
			//$(this).attr('href', 'data:text/html;charset=UTF-8;base64,' + btoa(html));
			$(this).attr('href', 'data:text/html;charset=UTF-8,' + encodeURIComponent(html));
		});

		$('#lineSeparatorMenu').find('[data-separator=' + lineSeparator + ']').addClass('active');
		$('#lineSeparatorMenu').click('button', function(event) {
			var button = $(event.target).closest('button');
			lineSeparator = button.attr('data-separator');
			button.addClass('active').siblings().removeClass('active');
			saveButton.removeClass('nimbus-hidden');
		});

		updatePreview(cm);
		cm.on('change', function() {
			saveButton.removeClass('nimbus-hidden');
			updatePreview(cm);
		});

		saveButton.on('click', function() {
			var text = cm.getValue(lineSeparator.replace('cr', '\r').replace('lf', '\n'));
			if (saveMessage !== null) {
				saveMessage.remove();
				saveMessage = null;
			}
			NIMBUS.utils.updateFileText(itemId, text).then(function() {
				saveButton.addClass('nimbus-hidden');
			}, function() {
				saveMessage = NIMBUS.message(NIMBUS.translate('CommonSaveFileError', filename), true);
			})
		});

		// Manipulation au clavier
		body.gpkeystrokes({
			'Ctrl-s': () => saveButton.click(),
			'Ctrl-p': () => $('#htmlButton,#editButton').filter(':visible').click(),
			// 'Ctrl-e': () => $('#exportButton').click(), // ne fonctionne pas :-(, peut-être car ça simule un clic sur un lien ?
		});

		// Changement de mode "edit"/"preview" par "swipe"
		$('main').gpswipe().on('gp.swipe', function(event, swipe) {
			// le swipe doit être rapide pour déclencher le passage preview <=> textarea
			// les swipes plus longs sont réservés au déplacement dans des pages avec scroll
			if (swipe.duration > 200)
				return;
			if ('right' === swipe.direction || 'left' === swipe.direction)
				$('#htmlButton,#editButton').filter(':visible').click()
		});
	});
});
</script>

</body>
</html>
