<!DOCTYPE html>
<html class="nimbus-viewer nimbus-static-toolbars">
<head>
<title data-translate="text">TextEditorTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="${stylesheet}" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/libs/codemirror/lib/codemirror.css" />
<link type="text/css" rel="stylesheet" href="/libs/codemirror/addon/fold/foldgutter.css" />
<link type="text/css" rel="stylesheet" href="/libs/codemirror/theme/nimbus-${theme}.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<style>
main { display: flex; }
.CodeMirror { height: 100%; line-height: 1.3em; overflow: hidden; }
#emojiMenu { width: 450px; }
#emojiMenu > nav { padding: 0 0.2rem; }
#emojiMenu > nav > button { padding: 0.5rem; }
#emojiMenu > div { display: flex; flex-wrap: wrap; max-height: 350px; overflow-y: auto; }
#emojiMenu > div > button { flex: 1 1 46px; }
#editor { flex: 1 1 0; min-width: 50%; }
#preview { flex: 1 1 0; min-width: 50%; padding: 1em; overflow: auto; }
body.edit #editButton { display: none; }
body.edit #preview { display: none; }
body.html #htmlButton { display: none; }
body.html #editor { display: none; }
@media (min-width: 1024px) {
	#htmlButton { display: none; }
	#editButton { display: none; }
}
@media (max-width: 1023.9px) {
	#viewButton { display: none; }
	#viewMenu { display: none; }
	body.split #preview { display: none; }
	body.split #editButton { display: none; }
}
</style>
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it-ins.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it-sub.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it-sup.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it-abbr.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it-mark.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it-task-lists.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it-emoji-light.min.js"></script>
<script type="text/javascript" src="/libs/markdown-it/markdown-it-emoji-data.js"></script>
<script type="text/javascript" src="/libs/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/edit/continuelist.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/edit/trailingspace.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/fold/foldcode.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/fold/foldgutter.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/fold/indent-fold.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/fold/markdown-fold.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/runmode/runmode.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/search/jump-to-line.js"></script>
<script type="text/javascript" src="/libs/codemirror/addon/selection/active-line.js"></script>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body class="nimbus-hidden split">
	<header>
		<div class="float-left">
			<a href="${backURL}" class="btn btn-link" title="${appName}"><i class="material-icons">arrow_back</i></a>
			<button id="saveButton" type="button" class="btn btn-link nimbus-hidden" data-translate="title" title="TextEditorSave"><i class="material-icons">save</i></button>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-link" data-translate="title" data-wrap="**" title="MarkdownEditorWrapBold"><i class="material-icons">format_bold</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-wrap="_" title="MarkdownEditorWrapItalic"><i class="material-icons">format_italic</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-wrap="++" title="MarkdownEditorWrapUnderline"><i class="material-icons">format_underlined</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-wrap="~~" title="MarkdownEditorWrapStrikeThrough"><i class="material-icons">format_strikethrough</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-wrap="==" title="MarkdownEditorWrapMark"><i class="material-icons">edit</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-wrap="`" title="MarkdownEditorWrapKeyword"><i class="material-icons">label</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-wrap="^" title="MarkdownEditorWrapSup"><i class="material-icons">superscript</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-wrap="~" title="MarkdownEditorWrapSub"><i class="material-icons">subscript</i></button>
			<span class="nimbus-toolbar-separator"></span>
			<button type="button" class="btn btn-link" id="insertLinkButton" data-translate="title" title="MarkdownEditorInsertLink"><i class="material-icons">link</i></button>
			<button type="button" class="btn btn-link" id="insertImageButton" data-translate="title" title="MarkdownEditorInsertImage"><i class="material-icons">image</i></button>
			<button type="button" class="btn btn-link" id="insertCodeButton" data-translate="title" title="MarkdownEditorInsertCode"><i class="material-icons">code</i></button>
			<span class="nimbus-toolbar-separator"></span>
			<button type="button" class="btn btn-link" id="outdentButton" data-translate="title" title="MarkdownEditorOutdent"><i class="material-icons">format_indent_decrease</i></button>
			<button type="button" class="btn btn-link" id="indentButton" data-translate="title" title="MarkdownEditorIndent"><i class="material-icons">format_indent_increase</i></button>
			<button type="button" class="btn btn-link" id="quoteButton" data-translate="title" title="MarkdownEditorQuote"><i class="material-icons">format_quote</i></button>
			<span class="nimbus-toolbar-separator"></span>
			<div class="dropdown">
				<button id="emojiButton" type="button" class="btn btn-link" data-translate="title" title="MarkdownEditorEmoji" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">insert_emoticon</i></button>
				<div id="emojiMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="emojiButton">
					<nav class="nav nav-tabs nav-justified">
						<button class="nav-item nav-link active"><i class="material-icons">watch_later</i></button>
						<button class="nav-item nav-link" data-range="grinning-busts_in_silhouette"><i class="material-icons">emoji_emotions</i></button>
						<button class="nav-item nav-link" data-range="baby-family_man_girl_girl"><i class="material-icons">emoji_people</i></button>
						<button class="nav-item nav-link" data-range="dog-umbrella"><i class="material-icons">emoji_nature</i></button>
						<button class="nav-item nav-link" data-range="green_apple-plate_with_cutlery"><i class="material-icons">emoji_food_beverage</i></button>
						<button class="nav-item nav-link" data-range="soccer-slot_machine"><i class="material-icons">emoji_events</i></button>
						<button class="nav-item nav-link" data-range="car-foggy"><i class="material-icons">emoji_transportation</i></button>
						<button class="nav-item nav-link" data-range="womans_clothes-open_umbrella,watch-unlock"><i class="material-icons">emoji_objects</i></button>
						<button class="nav-item nav-link" data-range="100-1234,heart-clock1230"><i class="material-icons">emoji_symbols</i></button>
						<button class="nav-item nav-link" data-range="white_flag-zimbabwe"><i class="material-icons">emoji_flags</i></button>
					</nav>
					<div></div>
				</div>
			</div>
			<button id="hrButton" type="button" class="btn btn-link" data-translate="title" title="MarkdownEditorHR"><i class="material-icons">vertical_align_center</i></button>
		</div>

		<div class="float-right">
			<div class="btn-group">
				<button id="htmlButton" type="button" class="btn btn-link" data-translate="title" title="MarkdownEditorPreviewHTML"><i class="material-icons">pageview</i></button>
				<button id="editButton" type="button" class="btn btn-link" data-translate="title" title="MarkdownEditorEditMarkdown"><i class="material-icons">edit</i></button>
				<button id="viewButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="MarkdownEditorView" aria-haspopup="true" aria-expanded="false"><i class="material-icons">chrome_reader_mode</i></button>
				<div id="viewMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="viewButton">
					<button class="dropdown-item active" data-view="split" data-translate="text">MarkdownEditorSplitView</button>
					<button class="dropdown-item" data-view="edit" data-translate="text">MarkdownEditorEditView</button>
					<button class="dropdown-item" data-view="html" data-translate="text">MarkdownEditorHTMLView</button>
				</div>
			</div>

			<button id="exportButton" type="button" class="btn btn-link" data-translate="title" title="MarkdownEditorExportHTML"><i class="material-icons">cloud_download</i></button>

			<div class="btn-group">
				<button id="lineSeparatorButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="TextEditorLineSeparator" aria-haspopup="true" aria-expanded="false"><i class="material-icons">wrap_text</i></button>
				<div id="lineSeparatorMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="lineSeparatorButton">
					<button id="lineWrappingOption" class="dropdown-item" data-translate="text">TextEditorLineWrapping</button>
					<div class="dropdown-divider"></div>
					<button class="dropdown-item" data-separator="crlf" data-translate="text">TextEditorLineSeparatorCRLF</button>
					<button class="dropdown-item" data-separator="lf" data-translate="text">TextEditorLineSeparatorLF</button>
					<button class="dropdown-item" data-separator="cr" data-translate="text">TextEditorLineSeparatorCR</button>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div id="editor"></div>
		<div id="preview"></div>
	</main>
	<footer></footer>
<script>
"use strict";

var updatePreviewTimeout;
function updatePreview(cm) {
	if (updatePreviewTimeout)
		clearTimeout(updatePreviewTimeout);
	updatePreviewTimeout = setTimeout(function() {
		var mardown = cm.getValue('\n');
		var html = markdownToHtml(mardown);
		$('#preview').html(html).removeClass('nimbus-hidden');
	}, 500);
}

var relativeURLRoot = null;
var xhrForFinalURL = new XMLHttpRequest();
function markdownURL(href) {
	// Récupérer le préfixe pour les URLs relatives
	if (relativeURLRoot == null) {
		var parts = xhrForFinalURL.responseURL.split('/');
		parts.pop();
		relativeURLRoot = parts.join('/') + '/';
	}
	// Résoudre les URLS relatives (./* ou ../*) et conserver les autres
	return new URL(href, relativeURLRoot).toString();
}

var md;
function markdownAPILoad() {
	md = window.markdownit({
		html: true,
		xhtmlOut: true, // for <br /> instead of <br>
		linkify: true, // URL to links
		highlight: function(code, language) {
			var pre = $('<pre class="ml-4 pl-2 cm-s-nimbus-${theme}" style="border-left: 3px solid var(--secondary); "><code></code></pre>');
			var support = language && NIMBUS.utils.codeMirrorLoadSupport(language);
			if (support)
				CodeMirror.runMode(code, support.mime, pre.children('code')[0]);
			else
				pre.children('code').text(code);
			if (language)
				pre.prepend($('<span style="float: right; border-bottom: 1px solid #eee; " />').text(language));
			return pre[0].outerHTML;
		}
	});
	md.use(markdownitIns);
	md.use(markdownitSub);
	md.use(markdownitSup);
	md.use(markdownitAbbr);
	md.use(markdownitMark);
	md.use(markdownitTaskLists);
	md.use(markdownitEmoji, { defs: markdownitEmoji.defs });
	md.normalizeLink = markdownURL;

	md.renderer.rules.blockquote_open = function(tokens, idx, options, env, self) {
		return '<blockquote class="ml-4 pl-2" style="border-left: 3px solid var(--secondary); ">';
	};

	md.renderer.rules.table_open = function (tokens, idx, options, env, self) {
		return '<table class="table table-bordered table-hover table-sm" style="width: auto; max-width: 100%; ">\n';
	};

	var defaultImageRule = md.renderer.rules.image;
	md.renderer.rules.image = function (tokens, idx, options, env, self) {
		tokens[idx].attrPush(['class', 'img-fluid']);
		return defaultImageRule(tokens, idx, options, env, self);
	};

	var defaultLinkOpenRule = md.renderer.rules.link_open || ((tokens, idx, options, env, self) => self.renderToken(tokens, idx, options));
	md.renderer.rules.link_open = function (tokens, idx, options, env, self) {
		tokens[idx].attrPush(['target', '_blank']);
		return defaultLinkOpenRule(tokens, idx, options, env, self);
	};
}
function markdownToHtml(text) {
	if (!md)
		markdownAPILoad();
	return md.render(text);
}

function customizeOptions(options) {
	options.lineWrapping = false;
	options.extraKeys['Ctrl-B'] = (cm) => wrapSelection(cm, '**');
	options.extraKeys['Ctrl-I'] = (cm) => wrapSelection(cm, '_');
	options.extraKeys['Ctrl-U'] = (cm) => wrapSelection(cm, '++');
	options.extraKeys['Ctrl--'] = (cm) => wrapSelection(cm, '~~');
	options.extraKeys['Ctrl-M'] = (cm) => wrapSelection(cm, '==');
	options.extraKeys['Ctrl-,'] = (cm) => wrapSelection(cm, '`');
	options.extraKeys['Ctrl-K'] = (cm) => insertLink(cm);
	return options;
}

function wrapSelection(cm, startText, endText) {
	if (typeof endText === 'undefined')
		endText = startText;
	var s = cm.getSelection();
	var c = cm.getCursor();
	if (!s) {
		cm.replaceRange(startText + endText, c);
		c.ch += startText.length;
		cm.setCursor(c);
	} else if (s.startsWith(startText) && s.endsWith(endText)) {
		cm.replaceSelection(s.substring(startText.length, s.length - endText.length), 'around');
	} else {
		cm.replaceSelection(startText + s + endText, 'around');
	}
	cm.focus();
}

function promptAndWrapSelection(cm, promptKey, skip, format) {
	var s = cm.getSelection();
	if (!s || skip.indexOf(s[0]) === -1) { // pas déjà formatté
		var p = prompt(NIMBUS.translate(promptKey));
		var formatWithP = format.replace('%P%', p || '');
		var t = formatWithP.replace('%S%', s || '');
		if (s) {
			// S'il y avait une sélection, on continue d'écrire à la suite de l'insertion
			cm.replaceSelection(t);
		} else {
			// Sinon, on placera le curseur à l'endroit de la sélection dans ce format
			var cursor = cm.getCursor('anchor');
			// Insérer le texte (le 'else' gère le cas où il n'y a pas de sélection)
			cm.replaceRange(t, cursor, cursor, 'nimbus');
			// Dans le case des blocs de code, %P% est avant %S%, contrairement aux liens ou aux images.
			// On cherche donc la position de %S% après remplacement de %P% pour déplacer le curseur.
			var sIndex = formatWithP.indexOf('%S%');
			for (var i = 0; i < sIndex; i++) {
				if (formatWithP[i] === '\n') {
					// Un saut de ligne avant %S% dans le format
					cursor.line++;
					cursor.ch = 0;
				} else {
					// Un caractère quelconque avant %S% dans le format ('[' ou '!' ou '`')
					cursor.ch++;
				}
			}
			// Placer le curseur à position calculée en fonction du format et de la valeur de %P%
			cm.setCursor(cursor.line, cursor.ch);
		}
	}
	cm.focus();
}

function insertLink(cm) {
	promptAndWrapSelection(cm, 'MarkdownEditorInsertLinkPrompt', '[', '[%S%](%P%)');
}

function insertImage(cm) {
	promptAndWrapSelection(cm, 'MarkdownEditorInsertImagePrompt', '![', '![%S%](%P%)');
}

function insertCode(cm) {
	promptAndWrapSelection(cm, 'MarkdownEditorInsertCodePrompt', '`', '```%P%\n%S%\n```\n');
}

function toggleQuote(cm) {
	function toggleQuoteOnCursor(c) {
		var line = cm.getLine(c.line);
		var lineStart = { line: c.line, ch: 0 };
		var wasQuote = line.startsWith('> ');
		if (wasQuote)
			cm.replaceRange('', lineStart, { line: c.line, ch: 2 });
		else
			cm.replaceRange('> ', lineStart);
		return wasQuote;
	}
	var selection = cm.getSelection() || '';
	if (! selection) {
		// Activer ou non la citation pour la ligne où se trouve le curseur
		var c = cm.getCursor();
		var unquoted = toggleQuoteOnCursor(c);
		c.ch = unquoted ? (c.ch - 2) : (c.ch + 2);
		cm.setCursor(c);
	} else {
		// Activer ou non la citation pour les lignes sur lesquelles la sélection s'étend
		var c1 = cm.getCursor('from');
		var c2 = cm.getCursor('to');
		var c = { line: c1.line, ch: 0 };
		var firstUnquoted, lastUnquoted;
		if (c2.line > c1.line && c2.ch === 0) {
			// Sélection multi-ligne s'arrêtant sur une ligne vide => ne pas inverser la dernière ligne vide
			c2.line--;
		}
		while (c.line <= c2.line) {
			lastUnquoted = toggleQuoteOnCursor(c);
			if (c.line === c1.line)
				firstUnquoted = lastUnquoted;
			c.line++;
		}
		c1.ch = 0;
		c2.line++;
		cm.setSelection(c1, c2);
	}
	cm.focus();
}

function prepareEmojis(cm) {
	function buildButton(name) {
		return $('<button class="btn btn-link" />').attr('title', name).text(emojisMap[name]);
	}
	var tabs = $('#emojiMenu > nav');
	var panel = $('#emojiMenu > div');
	var emojis = Object.keys(markdownitEmoji.defs);
	var emojisMap = markdownitEmoji.defs;
	// Chargement de la catégorie affichant les smileys utilisés récemment
	var recents = (localStorage.getItem('nimbus-emoji-recents') || 'smiley').split(',');
	var maxRecents = 18;
	recents.forEach((name) => buildButton(name).appendTo(panel));
	// Alimentation du menu avec les emojis récents
	tabs.on('click', 'button:first-child', function(event) {
		var item = $(event.target).closest('.nav-item');
		item.addClass('active').siblings().removeClass('active');
		panel.empty().append(recents.map((name) => buildButton(name)[0]));
		return false;
	});
	// Alimentation du menu quand on sélectionne une catégorie
	tabs.on('click', 'button:not(:first-child)', function(event) {
		// La catégorie sélectionnée
		var item = $(event.target).closest('.nav-item');
		// La liste des boutons pour cette catégorie
		var buttons = [];
		// Chaque onglet de catégorie défini les smileys à inclure (liste d'intervalle séparés par ",")
		item.attr('data-range').split(',').forEach((r) => {
			// Chaque intervalle indique le nom de l'emoji de départ "-" le nom de l'emoji d'arrivée (inclus)
			var i = r.indexOf('-');
			var first = emojis.indexOf(r.substring(0, i));
			var last = emojis.indexOf(r.substring(i + 1));
			// Pour chaque emoji de l'intervalle, on créé un bouton
			for (var i = first; i <= last; i++) {
				buttons.push(buildButton(emojis[i])[0]);
			}
		})
		item.addClass('active').siblings().removeClass('active');
		panel.empty().append(buttons);
		return false;
	});
	// Ajout de l'emoticon dans le texte quand on clique sur l'un des smileys de la catégorie
	panel.on('click', 'button', function(event) {
		var emoji = $(event.target).attr('title');
		cm.replaceSelection(':' + emoji + ': '/*, 'around'*/);
		cm.focus();
		// Enregistrement dans les emojis récents
		var pos = recents.indexOf(emoji);
		if (pos === -1) {
			recents.unshift(emoji);
			if (recents.length > maxRecents)
				recents.pop();
		} else if (pos > 0) {
			recents.copyWithin(1, 0, pos);
			recents[0] = emoji;
		}
		// Mise à jour si on est sur l'onglet des éléments récents
		tabs.children('.active:first-child').click();
		// Enregistrement dans localStorage
		localStorage.setItem('nimbus-emoji-recents', recents.join(','));
		return false;
	});
	// Suppression des éléments récents en faisant un clic droit sur un emoji
	panel.on('contextmenu', 'button', function(event) {
		var emoji = $(event.target).attr('title');
		// Retrait des emojis récents
		var pos = recents.indexOf(emoji);
		if (pos >= 0)
			recents.splice(pos, 1);
		// Mise à jour si on est sur l'onglet des éléments récents
		tabs.children('.active:first-child').click();
		// Enregistrement dans localStorage
		localStorage.setItem('nimbus-emoji-recents', recents.join(','));
		return false;
	});
}

//Initialiser la page
NIMBUS.init(['text.js', 'markdown.js', 'code.js'], function() {
	// L'IHM est prête, on l'affiche
	var body = $(document.body).removeClass('nimbus-hidden');
	// Identifiant de l'élément édité
	var itemId = ${itemId};
	// Récupération du contenu du fichier
	$.get({
		url: '/files/browseTo/' + itemId,
		xhr: function() { return xhrForFinalURL; },
		dataType: 'text'
	}).then(function(content, textStatus, jqXHR) {
		var lineSeparator = NIMBUS.utils.textAPI.getLineSeparator(content),
			editor = $('#editor'),
			preview = $('#preview'),
			saveButton = $('#saveButton'),
			saveMessage = null,
			filename = NIMBUS.utils.getFileNameFromContentDisposition(jqXHR),
			support = NIMBUS.utils.codeMirrorLoadSupport('md'),
			cmOptions = NIMBUS.utils.codeMirrorCreateOptions(support.mime, content, '${theme}'),
			cm = CodeMirror(editor[0], customizeOptions(cmOptions));

		$('title').text(filename);

		// Bouton de formatage
		$('header [data-wrap]').click((event) => wrapSelection(cm, $(event.target).closest('[data-wrap]').attr('data-wrap')));
		// Bouton de création de lien
		$('#insertLinkButton').click((event) => insertLink(cm));
		// Bouton de création d'image
		$('#insertImageButton').click((event) => insertImage(cm));
		// Bouton de création d'un bloc de code
		$('#insertCodeButton').click((event) => insertCode(cm));
		// Bouton pour indenter un peu plus la sélection
		$('#indentButton').click((event) => CodeMirror.commands.indentMore(cm));
		// Bouton pour indenter un peu moins la sélection
		$('#outdentButton').click((event) => CodeMirror.commands.indentLess(cm));
		// Bouton pour faire de la sélection une citation avec "> "
		$('#quoteButton').click((event) => toggleQuote(cm));
		// Gestion des emoji
		prepareEmojis(cm);
		// Insertion d'une ligne horizontale
		$('#hrButton').click(() => cm.replaceSelection('___\n'));

		// Passer du mode d'édition à la prévisualisation HTML
		$('#htmlButton').click(function(event) {
			// Cacher d'abord
			body.removeClass('split edit html');
			// Mettre à jour la vue
			$('#viewMenu [data-view=html]').addClass('active').siblings().removeClass('active');
			preview.html(markdownToHtml(cm.getValue('\n'))).show();
			// Afficher ensuite
			body.addClass('html');
		});
		// Passer de la prévisualisation HTML au mode d'édition
		$('#editButton').click(function(event) {
			// Cacher d'abord
			body.removeClass('split edit html');
			// Mettre à jour la vue
			$('#viewMenu [data-view=edit]').addClass('active').siblings().removeClass('active');
			preview.empty();
			// Afficher ensuite
			body.addClass('edit');
			cm.focus();
		});
		// Sélection de la vue par le menu
		$('#viewMenu [data-view]').click(function(event) {
			// Cacher d'abord
			body.removeClass('split edit html');
			// Mettre à jour la vue
			var selectedMenuItem = $(event.target).closest('[data-view]').addClass('active');
			var selectedView = selectedMenuItem.attr('data-view');
			if (selectedView === 'html' || selectedView === 'split')
				preview.html(markdownToHtml(cm.getValue('\n'))).show();
			else if (selectedView === 'edit')
				preview.empty();
			// Désélectionner l'entrée de menu précédente
			selectedMenuItem.siblings('.active').removeClass('active');
			// Afficher ensuite
			body.addClass(selectedView);
			if (selectedView !== 'html')
				cm.focus();
		});

		// Exporter la note en HTML
		$('#exportButton').click(function() {
			var html = '<!DOCTYPE html>'
				+ '\n<html>'
				+ '\n\t<head>'
				+ '\n\t\t<title>' + filename + '</title>'
				+ '\n\t\t<meta charset="UTF-8">'
				+ '\n\t\t<link rel="stylesheet" href="${baseURL}${stylesheet}" />'
				+ '\n\t\t<link type="text/css" rel="stylesheet" href="${baseURL}/libs/codemirror/lib/codemirror.css" />'
				+ '\n\t\t<link type="text/css" rel="stylesheet" href="${baseURL}/libs/codemirror/theme/nimbus-${theme}.css" />'
				+ '\n\t</head>'
				+ '\n\t<body class="m-3">'
				+ '\n' + markdownToHtml(cm.getValue('\n'))
				+ '\n\t</body>'
				+ '\n</html>';
			var blob = new Blob([html], { type: 'text/html' });
			var name = filename.replace('.md', '.html').replace('.markdown', '.html');
			NIMBUS.utils.downloadFile(blob, name);
		});

		$('#lineWrappingOption').click(function(event) {
			var button = $(event.target).closest('button');
			button.toggleClass('active');
			cm.setOption('lineWrapping', button.hasClass('active'));
		});

		$('#lineSeparatorMenu').find('[data-separator=' + lineSeparator + ']').addClass('active');
		$('#lineSeparatorMenu').click('button', function(event) {
			var button = $(event.target).closest('button');
			lineSeparator = button.attr('data-separator');
			button.addClass('active').siblings('[data-separator]').removeClass('active');
			saveButton.removeClass('nimbus-hidden');
		});

		updatePreview(cm);
		cm.on('change', function() {
			saveButton.removeClass('nimbus-hidden');
			updatePreview(cm);
		});

		saveButton.on('click', function() {
			var text = cm.getValue(lineSeparator.replace('cr', '\r').replace('lf', '\n'));
			if (saveMessage !== null) {
				saveMessage.remove();
				saveMessage = null;
			}
			NIMBUS.utils.updateFileText(itemId, text).then(function() {
				saveButton.addClass('nimbus-hidden');
			}, function() {
				saveMessage = NIMBUS.message(NIMBUS.translate('CommonSaveFileError', filename), true);
			})
		});

		// Manipulation au clavier
		body.gpkeystrokes({
			// Sauvegarde
			'Ctrl-s': () => saveButton.click(),
			// Changement de vue
			'Ctrl-p': () => $('#htmlButton,#editButton').filter(':visible').click(),
			// Support de undo / redo même si CodeMirror n'a pas le focus
			'Ctrl-z': () => cm.hasFocus() || CodeMirror.commands.undo(cm),
			'Ctrl-y': () => cm.hasFocus() || CodeMirror.commands.redo(cm),
			// Export HTML
			'Ctrl-e': () => $('#exportButton').click(),
		});

		// Changement de mode "edit"/"preview" par "swipe"
		$('main').gpswipe().on('gp.swipe', function(event, swipe) {
			// le swipe doit être rapide pour déclencher le passage preview <=> textarea
			// les swipes plus longs sont réservés au déplacement dans des pages avec scroll
			if (swipe.duration > 200)
				return;
			if ('right' === swipe.direction || 'left' === swipe.direction)
				$('#htmlButton,#editButton').filter(':visible').click()
		});
	});
});
</script>

</body>
</html>
