<!DOCTYPE html>
<html class="nimbus-viewer nimbus-static-toolbars">
<head>
<title data-translate="text">NoteEditorTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/png" rel="icon" href="/favicon.png" />
<link type="text/css" rel="stylesheet" href="${stylesheet}" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<style id="contentStyle">
blockquote:not(.blockquote) { margin-left: 30px; }
blockquote.blockquote { margin: 15px 30px; border-left: 3px solid var(--secondary); padding-left: 10px; font-size: unset; }
</style>
<style>
.material-icons-placeholder { display: inline-block; width: 24px; height: 24px; text-align: center; }
.dropdown-menu button > small:empty { display: none; }
.dropdown-menu button > small::before { content: " ("; }
.dropdown-menu button > small::after { content: ")"; }
@media print {
	.nimbus-viewer { height: auto; }
	header, footer { display: none; }
}
</style>
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/dompurify/purify.min.js"></script>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body class="nimbus-hidden">
	<header>
		<div class="float-left">
			<a href="${backURL}" class="btn btn-link" title="${appName}"><i class="material-icons">arrow_back</i></a>
			<button id="saveButton" type="button" class="btn btn-link nimbus-hidden" data-translate="title" title="NoteEditorSave"><i class="material-icons">save</i></button>
		</div>

		<div class="float-right">
			<div class="btn-group">
				<button id="optionsButton" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="NoteEditorOptions" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings</i></button>
				<div id="optionsMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsButton">
					<div class="text-muted px-3 appear-2" data-translate="text">NoteEditorJustify</div>
					<div class="mx-3 mt-1 appear-2" style="text-align: center;">
						<button type="button" class="btn btn-link" data-translate="title" data-command="justifyLeft" title="NoteEditorJustifyLeft"><i class="material-icons">format_align_left</i></button>
						<button type="button" class="btn btn-link" data-translate="title" data-command="justifyCenter" title="NoteEditorJustifyCenter"><i class="material-icons">format_align_center</i></button>
						<button type="button" class="btn btn-link" data-translate="title" data-command="justifyRight" title="NoteEditorJustifyRight"><i class="material-icons">format_align_right</i></button>
						<button type="button" class="btn btn-link" data-translate="title" data-command="justifyFull" title="NoteEditorJustifyFull"><i class="material-icons">format_align_justify</i></button>
					</div>
					<div class="dropdown-divider appear-2"></div>
					<div class="text-muted px-3" data-translate="text">NoteEditorSelection</div>
					<div class="mx-3 mt-1" style="text-align: center;">
						<button type="button" class="btn btn-link" data-translate="title" data-command="subscript" title="NoteEditorSubscript"><i class="material-icons-placeholder">x<sub>2</sub></i></button>
						<button type="button" class="btn btn-link" data-translate="title" data-command="superscript" title="NoteEditorSuperscript"><i class="material-icons-placeholder">x<sup>2</sup></i></button>
						<button type="button" class="btn btn-link" data-translate="title" data-command="decreaseFontSize" title="NoteEditorDecreaseFontSize"><i class="material-icons-placeholder">A<small>A</small></i></button>
						<button type="button" class="btn btn-link" data-translate="title" data-command="increaseFontSize" title="NoteEditorIncreaseFontSize"><i class="material-icons-placeholder"><small>A</small>A</i></button>
					</div>
					<div class="dropdown-divider appear-1"></div>
					<button type="button" class="dropdown-item appear-1" data-command="outdent"><i class="material-icons">format_indent_decrease</i> <span data-translate="text">NoteEditorOutdent</span></button>
					<button type="button" class="dropdown-item appear-1" data-command="indent"><i class="material-icons">format_indent_increase</i> <span data-translate="text">NoteEditorIndent</span></button>
					<div class="dropdown-divider appear-3"></div>
					<button type="button" class="dropdown-item appear-6" id="tableButton2"><i class="material-icons">grid_on</i> <span data-translate="text">NoteEditorInsertTable</span></button>
					<button type="button" class="dropdown-item appear-5" id="linkButton2"><i class="material-icons">link</i> <span data-translate="text">NoteEditorLink</span></button>
					<button type="button" class="dropdown-item appear-5" data-command="unlink"><i class="material-icons">link_off</i> <span data-translate="text">NoteEditorUnlink</span></button>
					<button type="button" class="dropdown-item appear-4" id="imageButton2"><i class="material-icons">image</i> <span data-translate="text">NoteEditorInsertImage</span></button>
					<button type="button" class="dropdown-item appear-3" id="videoButton2"><i class="material-icons">movie</i> <span data-translate="text">NoteEditorInsertVideo</span></button>
					<button type="button" class="dropdown-item appear-3" id="audioButton2"><i class="material-icons">audiotrack</i> <span data-translate="text">NoteEditorInsertAudio</span></button>
					<button type="button" class="dropdown-item appear-3" data-command="insertHorizontalRule"><i class="material-icons">vertical_align_center</i> <span data-translate="text">NoteEditorInsertHR</span></button>
					<div class="dropdown-divider"></div>
					<button type="button" class="dropdown-item" id="enablePasteAsHTMLButton"><i class="material-icons">warning</i> <span data-translate="text">NoteEditorEnablePasteAsHTML</span></button>
					<button type="button" class="dropdown-item" id="enableObjectResizingButton"><i class="material-icons">format_shapes</i> <span data-translate="text">NoteEditorEnableObjectResizing</span></button>
					<button type="button" class="dropdown-item" id="enableTableEditingButton"><i class="material-icons">border_inner</i> <span data-translate="text">NoteEditorEnableTableEditing</span></button>
					<div class="dropdown-divider"></div>
					<button type="button" class="dropdown-item" id="printButton"><i class="material-icons">print</i> <span data-translate="text">NoteEditorPrint</span></button>
					<button type="button" class="dropdown-item" id="sourceButton"><i class="material-icons">code</i> <span data-translate="text">NoteEditorSource</span></button>
				</div>
			</div>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-link" data-translate="title" data-command="removeFormat" title="NoteEditorRemoveFormat"><i class="material-icons">format_clear</i></button>
			<span class="nimbus-toolbar-separator"></span>
		</div>

		<div class="btn-group" id="fontFamily">
			<button type="button" class="btn btn-link" data-translate="title" title="NoteEditorFontFamilyAgain"></button>
			<button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-translate="title" title="NoteEditorFontFamilySelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<div class="dropdown-menu dropdown-menu-right"></div>
		</div>

		<div class="btn-group" id="fontSize">
			<button type="button" class="btn btn-link" data-translate="title" title="NoteEditorFontSizeAgain"></button>
			<button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-translate="title" title="NoteEditorFontSizeSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<div class="dropdown-menu dropdown-menu-right"></div>
		</div>

		<div class="btn-group" id="foreColor">
			<button type="button" class="btn btn-link" data-translate="title" title="NoteEditorForeColorAgain"><i class="material-icons">format_color_text</i></button>
			<button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-translate="title" title="NoteEditorForeColorSelect"></button>
			<input type="color" style="display: none; " />
		</div>

		<div class="btn-group" id="backColor">
			<button type="button" class="btn btn-link" data-translate="title" title="NoteEditorBackColorAgain"><i class="material-icons">format_color_fill</i></button>
			<button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-translate="title" title="NoteEditorBackColorSelect"></button>
			<input type="color" style="display: none; " />
		</div>

		<div class="btn-group">
			<span class="nimbus-toolbar-separator"></span>
			<button type="button" class="btn btn-link" data-translate="title" data-command="bold" title="NoteEditorBold"><i class="material-icons">format_bold</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-command="italic" title="NoteEditorItalic"><i class="material-icons">format_italic</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-command="underline" title="NoteEditorUnderline"><i class="material-icons">format_underlined</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-command="strikeThrough" title="NoteEditorStrikeThrough"><i class="material-icons">format_strikethrough</i></button>
		</div>
		
		<div class="btn-group">
			<span class="nimbus-toolbar-separator"></span>
			<button type="button" class="btn btn-link disappear-2" data-translate="title" data-command="justifyLeft" title="NoteEditorJustifyLeft"><i class="material-icons">format_align_left</i></button>
			<button type="button" class="btn btn-link disappear-2" data-translate="title" data-command="justifyCenter" title="NoteEditorJustifyCenter"><i class="material-icons">format_align_center</i></button>
			<button type="button" class="btn btn-link disappear-2" data-translate="title" data-command="justifyRight" title="NoteEditorJustifyRight"><i class="material-icons">format_align_right</i></button>
			<button type="button" class="btn btn-link disappear-2" data-translate="title" data-command="justifyFull" title="NoteEditorJustifyFull"><i class="material-icons">format_align_justify</i></button>
			<button type="button" class="btn btn-link appear-2" data-translate="title" title="NoteEditorJustifyCenter" data-command="justifyCenter"><i class="material-icons">format_align_center</i></button>
			<button type="button" class="btn btn-link appear-2 dropdown-toggle dropdown-toggle-split" data-translate="title" title="NoteEditorJustify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<div class="dropdown-menu dropdown-menu-right" id="justifyMenu">
				<button type="button" class="dropdown-item" data-command="justifyLeft"><i class="material-icons">format_align_left</i> <span data-translate="text">NoteEditorJustifyLeft</span></button>
				<button type="button" class="dropdown-item" data-command="justifyCenter"><i class="material-icons">format_align_center</i> <span data-translate="text">NoteEditorJustifyCenter</span></button>
				<button type="button" class="dropdown-item" data-command="justifyRight"><i class="material-icons">format_align_right</i> <span data-translate="text">NoteEditorJustifyRight</span></button>
				<button type="button" class="dropdown-item" data-command="justifyFull"><i class="material-icons">format_align_justify</i> <span data-translate="text">NoteEditorJustifyFull</span></button>
			</div>
		</div>

		<div class="btn-group">
			<span class="nimbus-toolbar-separator"></span>
			<button type="button" class="btn btn-link" data-translate="title" data-command="insertUnorderedList" title="NoteEditorInsertUnorderedList"><i class="material-icons">format_list_bulleted</i></button>
			<button type="button" class="btn btn-link" data-translate="title" data-command="insertOrderedList" title="NoteEditorInsertOrderedList"><i class="material-icons">format_list_numbered</i></button>
			<button type="button" class="btn btn-link disappear-1" data-translate="title" data-command="outdent" title="NoteEditorOutdent"><i class="material-icons">format_indent_decrease</i></button>
			<button type="button" class="btn btn-link disappear-1" data-translate="title" data-command="indent" title="NoteEditorIndent"><i class="material-icons">format_indent_increase</i></button>
			<button type="button" class="btn btn-link" data-translate="title" id="quoteButton" title="NoteEditorQuote"><i class="material-icons">format_quote</i></button>
		</div>
		<div class="btn-group">
			<span class="nimbus-toolbar-separator disappear-6"></span>
			<button type="button" class="btn btn-link disappear-6" data-translate="title" id="tableButton" title="NoteEditorInsertTable"><i class="material-icons">grid_on</i></button>
			<button type="button" class="btn btn-link disappear-5" data-translate="title" id="linkButton" title="NoteEditorLink"><i class="material-icons">link</i></button>
			<button type="button" class="btn btn-link disappear-5" data-translate="title" data-command="unlink" title="NoteEditorUnlink"><i class="material-icons">link_off</i></button>
			<button type="button" class="btn btn-link disappear-4" data-translate="title" id="imageButton" title="NoteEditorInsertImage"><i class="material-icons">image</i></button>
			<button type="button" class="btn btn-link disappear-3" data-translate="title" id="videoButton" title="NoteEditorInsertVideo"><i class="material-icons">movie</i></button>
			<button type="button" class="btn btn-link disappear-3" data-translate="title" id="audioButton" title="NoteEditorInsertAudio"><i class="material-icons">audiotrack</i></button>
			<button type="button" class="btn btn-link disappear-3" data-translate="title" data-command="insertHorizontalRule" title="NoteEditorInsertHR"><i class="material-icons">vertical_align_center</i></button>
		</div>
	</header>
	<main id="editor"></main>
	<footer></footer>
<script>
"use strict";

var defaultFontSize = 12;
var defaultFontFamily = 'Lato';
var defaultSelectionFontFamily = 'Courier New';
var defaultForeColor = '#FF0000';
var defaultBackColor = '#FFFF00';

function fontSizeOptions() {
	return [8, 9, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 36, 48, 72];
}

function fontFamilyOptions() {
	return [
		{ name: 'Arial', type: 'sans-serif' },
		{ name: 'Calibri', type: 'sans-serif' },
		{ name: 'Century Gothic', type: 'sans-serif' },
		{ name: 'Consolas', type: 'monospace' },
		{ name: 'Courier', type: 'monospace' },
		{ name: 'Courier New', type: 'monospace' },
		{ name: 'DejaVu Sans', type: 'sans-serif' },
		{ name: 'DejaVu Serif', type: 'serif' },
		{ name: 'Garamond', type: 'serif' },
		{ name: 'Helvetica', type: 'sans-serif' },
		{ name: 'Lato', type: 'sans-serif' },
		{ name: 'Mistral', type: 'cursive' },
		{ name: 'Roboto', type: 'sans-serif' },
		{ name: 'Tahoma', type: 'sans-serif' },
		{ name: 'Times New Roman', type: 'serif' },
		{ name: 'Webdings', type: 'fantasy' }
	];
}

function promptButton(target, command, promptTitle, defaultValue, transform) {
	target.prop('disabled', !document.queryCommandSupported(command)).click(function() {
		var value = window.prompt(NIMBUS.translate(promptTitle), defaultValue);
		if (value !== null) {
			if (typeof transform === 'string')
				value = transform.replace('%VALUE%', value);
			else if (typeof transform === 'function')
				value = transform(value);
			document.execCommand(command, null, value);
		}
	});
}

function sanitize(content) {
	var search = new URLSearchParams(window.location.search);
	var safe = search.get('safe') === 'true';
	if (safe)
		return content;
	return DOMPurify.sanitize(content, {
		SAFE_FOR_JQUERY: true,
	});
}

//Initialiser la page
NIMBUS.init(['text.js', 'note.js'], function() {
	// L'IHM est prête, on l'affiche
	var body = $(document.body).removeClass('nimbus-hidden');
	// Identifiant de l'élément édité
	var itemId = ${itemId};
	// Récupération du contenu du fichier
	$.get({
		url: '/files/stream/' + itemId,
		dataType: 'text'
	}).then(function(content, textStatus, jqXHR) {
		var editor = $('#editor'),
			saveButton = $('#saveButton'),
			saveMessage = null,
			filename = NIMBUS.utils.getFileNameFromContentDisposition(jqXHR);

		$('title').text(filename);

		editor.html(sanitize(content)).attr('contenteditable', 'true').css('padding', '1em').on('input', function() {
			saveButton.removeClass('nimbus-hidden');
			updateToolbar();
		});

		saveButton.on('click', function() {
			var text = editor.html();
			if (saveMessage !== null) {
				saveMessage.remove();
				saveMessage = null;
			}
			NIMBUS.utils.updateFileText(itemId, text).then(function() {
				saveButton.addClass('nimbus-hidden');
				updateToolbar();
			}, function() {
				saveMessage = NIMBUS.message(NIMBUS.translate('CommonSaveFileError', filename), true);
			});
		});

		// s'assurer que "styleWithCSS" est bien à faux. Sinon, le choix de la taille de police ne fonctionne pas sous Chrome
		document.execCommand('styleWithCSS', null, false);
		// les flèches pour ajouter et la croix pour supprimer des lignes et des colonnes dans les tableaux (désactivés par défaut)
		document.execCommand('enableInlineTableEditing', null, false);
		// les carrés pour changer les dimensions des éléments, comme des tableaux ou des images (désactivés par défaut)
		document.execCommand('enableObjectResizing', null, false);
		// s'assurer de découper les blocs en deux plutôt que d'ajouter des <br /> partout
		document.execCommand('insertBrOnReturn', null, false);

		// les boutons les plus simples
		$('button[data-command]').each(function(event) {
			this.disabled = !document.queryCommandSupported(this.getAttribute('data-command'));
		}).click(function(event) {
			var e = $(event.target).closest('button');
			var command = e.attr('data-command');
			var params = e.attr('data-command-params') || null;
			document.execCommand(command, null, params);
		});

		// Police de caractères
		editor.css('font-family', defaultFontFamily);
		var fontFamily = $('#fontFamily').toggle(!!document.queryCommandSupported('fontName'));
		var fontFamilyButton = fontFamily.children(':first-child').text(defaultSelectionFontFamily).click(function() {
			document.execCommand('fontName', null, fontFamilyButton.text());
		});
		var fontFamilyMenu = fontFamily.children('.dropdown-menu').append(fontFamilyOptions().map(function(f) {
			var b = $('<button class="dropdown-item"><span></span><small class="text-muted"></small></button>');
			b.children().first().text(f.name);
			b.children().last().text(f.type);
			return b[0];
		})).on('click', 'button', function(event) {
			var value = $(event.target).closest('button').children().first().text();
			fontFamilyButton.text(value).click();
		});

		// Taille du texte
		editor.css('font-size', defaultFontSize + 'pt');
		var fontSize = $('#fontSize').toggle(!!document.queryCommandSupported('fontSize'));
		var fontSizeButton = fontSize.children(':first-child').text('' + defaultFontSize).click(function() {
			// Idée trouvée ici : https://stackoverflow.com/questions/5868295/document-execcommand-fontsize-in-pixels
			// Ne fonctionnerait pas si on avait appellé : document.execCommand('styleWithCSS', null, _true_)
			document.execCommand('fontSize', false, 7);
			editor.find('font[size=7]').removeAttr('size').css('font-size', fontSizeButton.text() + 'pt');
		});
		var fontSizeMenu = fontSize.children('.dropdown-menu').append(fontSizeOptions().map(function(s, i, a) {
			var b = $('<button class="dropdown-item"><span></span><small class="text-muted"></small></button>');
			var t = (i === 0) ? 'NoteEditorFontSizeMinimal' : (i === a.length - 1) ? 'NoteEditorFontSizeMaximal' : (s === defaultFontSize) ? 'NoteEditorFontSizeDefault' : '';
			b.children().first().text('' + s);
			b.children().last().text(t ? NIMBUS.translate(t) : '');
			return b[0];
		})).on('click', 'button', function(event) {
			var value = $(event.target).closest('button').children().first().text();
			fontSizeButton.text(value).click();
		});;

		// Couleur du texte
		var foreColor = $('#foreColor').toggle(!!document.queryCommandSupported('foreColor'));
		var foreColorButton = foreColor.children(':first-child').css('color', defaultForeColor).attr('data-color', defaultForeColor).click(function() {
			document.execCommand('foreColor', null, foreColorButton.attr('data-color'));
		});
		var foreColorInput = foreColor.children('input').val(defaultForeColor).change(function() {
			var color = foreColorInput.val();
			foreColorButton.css('color', color).attr('data-color', color).click();
		});
		foreColorButton.children('material-icons').css('color', 'inherit');
		foreColor.children('button:last-of-type').click(function() {
			foreColorInput.click();
		});

		// Couleur de fond
		var backColor = $('#backColor').toggle(!!document.queryCommandSupported('backColor'));
		var backColorButton = backColor.children(':first-child').css('color', defaultBackColor).attr('data-color', defaultBackColor).click(function() {
			document.execCommand('backColor', null, backColorButton.attr('data-color'));
		});
		var backColorInput = backColor.children('input').val(defaultBackColor).change(function() {
			var color = backColorInput.val();
			backColorButton.css('color', color).attr('data-color', color).click();
		});
		backColorButton.children('material-icons').css('color', 'inherit');
		backColor.children('button:last-of-type').click(function() {
			backColorInput.click();
		});

		// Alignement
		var justifyMenu = $('#justifyMenu').on('click', 'button', function(event) {
			var button = $(event.target).closest('button');
			var againButton = justifyMenu.prev().prev();
			againButton.children('.material-icons').text(button.children('.material-icons').text());
			againButton.attr('title', button.children('span').text());
			againButton.attr('data-command', button.attr('data-command'));
		});

		// Quote
		$('#quoteButton').toggle(document.queryCommandSupported('formatBlock')).click(function() {
			// Au départ, je faisais simplement : document.execCommand('formatBlock', false, 'BLOCKQUOTE');
			// Malheureusement, indent/outdent utilisent aussi "blockquote" implicitement donc difficile de styler l'un sans l'autre.
			// Du coup, je format le bloc avec un tag marqueur "ADDRESS" que je remplace ensuite en un <blockquote class="blockquote" />
			document.execCommand('formatBlock', false, 'ADDRESS');
			editor.find('ADDRESS').replaceWith(function() {
				return $('<blockquote class="blockquote" />').append($(this).contents());
			});
		});

		// Création de tableau
		promptButton($('#tableButton,#tableButton2'), 'insertHTML', 'NoteEditorInsertTablePrompt', '3x3', function(size) {
			var rows = parseInt(size);
			var cols = parseInt(size.substring(size.indexOf('x') + 1));
			// Pas de thead>tr>th car mauvaise compatibilité entre Bootstrap et document.execCommand et pb en cas d'ajout de colonne 
			return '<table class="table table-bordered table-hover table-sm" style="width: auto; max-width: 100%; ">'
				+ ('<tr>' + '<td />'.repeat(cols) + '</tr>').repeat(rows)
				+ '</table>'
		});
		// Création de lien
		promptButton($('#linkButton,#linkButton2'), 'createLink', 'NoteEditorLinkPrompt', 'https://', null);
		// Insertion d'image
		promptButton($('#imageButton,#imageButton2'), 'insertHTML'/*insertImage*/, 'NoteEditorInsertImagePrompt', 'https://dummyimage.com/160x90', '<img class="img-fluid" src="%VALUE%" />'/*null*/);
		// Insert de vidéos
		promptButton($('#videoButton,#videoButton2'), 'insertHTML', 'NoteEditorInsertVideoPrompt', 'https://interactive-examples.mdn.mozilla.net/media/examples/flower.webm', '<video width="320" height="240" controls src="%VALUE%"></video>');
		// Insert de pistes audio
		promptButton($('#audioButton,#audioButton2'), 'insertHTML', 'NoteEditorInsertAudioPrompt', 'https://interactive-examples.mdn.mozilla.net/media/examples/t-rex-roar.mp3', '<audio controls src="%VALUE%"></audio>');

		// Coller depuis le presse-papier en HTML ou en texte
		var enablePasteAsHTMLButton = $('#enablePasteAsHTMLButton');
		if (document.queryCommandSupported('insertHTML') && document.queryCommandSupported('insertText')) {
			enablePasteAsHTMLButton.click(function() {
				enablePasteAsHTMLButton.toggleClass('active');
			});
			editor.on('paste', function(event) {
				if (enablePasteAsHTMLButton.hasClass('active')) {
					var html = event.originalEvent.clipboardData.getData('text/html');
					document.execCommand('insertHTML', null, html);
				} else {
					var text = event.originalEvent.clipboardData.getData('text/plain');
					document.execCommand('insertText', null, text);
				}
				event.preventDefault();
			});
		} else {
			enablePasteAsHTMLButton.hide();
		}

		// Bouton pour activer le redimensionnement des images ou tableaux
		$('#enableObjectResizingButton').click(function(event) {
			var button = $(event.target).closest('button').toggleClass('active');
			document.execCommand('enableObjectResizing', null, button.hasClass('active'));
		});

		// Bouton pour activer l'édition des tableaux (ajout / suppression de lignes / colonnes)
		$('#enableTableEditingButton').click(function(event) {
			var button = $(event.target).closest('button').toggleClass('active');
			document.execCommand('enableInlineTableEditing', null, button.hasClass('active'));
		});

		// Bouton d'impression
		$('#printButton').click(function(event) {
			var baseStyle = '${baseURL}${stylesheet}';
			var customStyle = $('#contentStyle').text();
			var html = '<!DOCTYPE html>'
				+ '\n<html>'
				+ '\n  <head>'
				+ '\n    <title>' + filename + '</title>'
				+ '\n    <meta charset="UTF-8">'
				+ '\n    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">'
				+ '\n    <link type="text/css" rel="stylesheet" href="' + baseStyle + '" />'
				+ '\n    <style>' + customStyle + '</style>'
				+ '\n  </head>'
				+ '\n  <body>'
				+ '\n    <div style="font-family:' + defaultFontFamily + ', Roboto, Arial, sans-serif; font-size:' + defaultFontSize + 'pt; padding: 1em; ">'
				+ '\n      ' + editor.html()
				+ '\n    </div>'
				+ '\n  </body>'
				+ '\n</html>';
			// Fonctionne mais la sauvegarde de la page ouverte sauvegarde la page actuelle car l'URL est l'URL actuelle
			var w = window.open('about:blank', '_blank', '');
			w.document.write(html);
			w.document.close();
		});

		// Bouton "Voir le source"
		$('#sourceButton').click(function(event) {
			var w = window.open('', filename, '');
			// Un vieux tag html marqué obsolète mais peu importe ;-)
			// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/plaintext
			w.document.write('<PLAINTEXT>' + editor.html());
			w.document.close();
		});

		// Ajustement de la barre d'outils
		function updateToolbar() {
			var i, n, e = $('header > :last-child');
			for (i = 1, n = 1; n > 0; i++) {
				n = $('.disappear-' + i).show().length;
				$('.appear-' + i).hide();
			}
			for (i = 1, n = 1; e.offset().top > 10 && n > 0; i++) {
				n = $('.disappear-' + i).hide().length;
				$('.appear-' + i).show();
			}
		}
		$(window).resize(updateToolbar);
		updateToolbar();

		// Manipulation au clavier
		// https://help.libreoffice.org/6.1/fr/text/swriter/04/01020000.html
		// https://support.google.com/docs/answer/179738
		// https://support.office.com/en-us/article/Keyboard-shortcuts-for-Microsoft-Word-on-Windows-95EF89DD-7142-4B50-AFB2-F762F663CEB2
		body.gpkeystrokes({
			'Ctrl-s': () => saveButton.click(),
			'Ctrl-b': () => document.execCommand('bold'),
			'Ctrl-i': () => document.execCommand('italic'),
			'Ctrl-u': () => document.execCommand('underline'),
			'Ctrl-!': () => document.execCommand('strikeThrough'), // custom
			'Ctrl-m': () => document.execCommand('removeFormat'), // LO = Ctrl-m / GD = Ctrl-Alt-0
			'Ctrl-k': () => $('#linkButton').click(),
			'Tab': () => document.execCommand('indent'), // GD = Ctrl-] / MO = Ctrl-m
			'Shift-Tab': () => document.execCommand('outdent'), // GD = Ctrl-[ / MO = Shift-Ctrl-M
			'Shift-Ctrl-L': () => document.execCommand('justifyLeft'), // GD = Shift-Ctrl-l / LO = Ctrl+l
			'Shift-Ctrl-E': () => document.execCommand('justifyCenter'), // GD = Shift-Ctrl-e / LO = Ctrl+e
			'Shift-Ctrl-R': () => document.execCommand('justifyRight'), // GD = Shift-Ctrl-r / LO = Ctrl+r
			'Shift-Ctrl-J': () => document.execCommand('justifyFull'), // GD = Shift-Ctrl-j / LO = Ctrl+j
			'Shift-Ctrl-O': () => document.execCommand('insertOrderedList'), // LO = F12 / GD = Shift-Ctrl-7
			'Shift-Ctrl-U': () => document.execCommand('insertUnorderedList'), // LO = Shift+F12 / GD = Shift-Ctrl-8
		});
	});
});
</script>

</body>
</html>
