<!DOCTYPE html>
<html class="nimbus-viewer nimbus-static-toolbars">
<head>
<title data-translate="text">SecretEditorTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/preferences/theme.css" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<style>
textarea { width: 100%; height: 99%; border: 0; padding: 1em; overflow: auto; white-space: pre; font-family: monospace; color: inherit; background-color: transparent; }
</style>
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body class="nimbus-hidden">
	<header class="bg-primary">
		<div class="float-left">
			<a href="#" class="btn btn-link back" style="display: none;"><i class="material-icons">arrow_back</i></a>
			<button id="saveButton" type="button" class="btn btn-link nimbus-hidden" data-translate="title" title="SecretEditorSave"><i class="material-icons">save</i></button>
		</div>
	</header>
	<div id="promptDialog" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" data-translate="text">SecretEditorPromptPassphrase</h5>
				</div>
				<div class="modal-body">
					<input type="password" class="form-control" data-translate="placeholder" placeholder="SecretEditorPassphrasePlaceholder" />
					<input type="password" class="form-control" data-translate="placeholder" placeholder="SecretEditorPassphraseConfirmationPlaceholder" style="margin-top: 10px; "/>
					<div class="text-danger nimbus-hidden" data-translate="text">SecretEditorInvalidPassphrase</div>
					<div class="text-danger nimbus-hidden" data-translate="text">SecretEditorDifferentPassphrase</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-translate="text">SecretEditorCancelButton</button>
					<button type="button" class="btn btn-primary" data-translate="text">SecretEditorValidateButton</button>
				</div>
			</div>
		</div>
	</div>
	<main>
		<textarea id="editor" class="nimbus-hidden" autofocus></textarea>
	</main>
	<footer></footer>
<script>
"use strict";

// https://developer.mozilla.org/en-US/docs/Web/API/Crypto
// https://webbjocke.com/javascript-web-encryption-and-hashing-with-the-crypto-api/
// https://stackoverflow.com/questions/55849585/use-webcrypto-api-to-encrypt-decrypt-data-with-encryption-key-generated-from-str
var CRYPTO = {
	// Chiffrement en AES 256 bits et GCM mode car détecte l'altération
	encryptAlgorithm: 'AES-GCM',
	encryptKeySizeInBits: 256,
	encryptIVLengthInBytes: 12,
	// Dérivation de clefs par PBKDF2 (HMAC SHA-256, 50000 itérations et sel aléatoire de 64 octets)
	deriveKeyAlgorithm: 'PBKDF2',
	deriveKeyHashAlgorithm: 'SHA-256',
	deriveKeyIterations: 50000,
	deriveKeySaltLengthInBytes: 64,
};

/** Fonction de conversion d'un Uint8Array vers une chaine encodée en héxadécimel */
function arrayToHex(a) {
	return Array.prototype.map.call(a, function(i) {
		return (i < 16 ? '0' : '') + i.toString(16);
	}).join('');
}

/** Fonction de conversion d'une chaine encodée en héxadécimel vers un Uint8Array */
function hexToArray(s) {
	return new Uint8Array(s.match(/.{1,2}/g).map(function(byteString) {
		return parseInt(byteString, 16);
	}));
}

/** Fonction de création à partir d'une phrase de passe d'une clef à dériver ensuite par PBKDF2 */
function importKey(passphrase) {
	return window.crypto.subtle.importKey(
			'raw',
			new TextEncoder().encode(passphrase),
			{ name: CRYPTO.deriveKeyAlgorithm },
			false,
			['deriveKey']
	);
}

/** Fonction de dérivation par PBKDF2 d'une clef issue d'une phrase de passe pour un chiffrement AES-GCM 256 bits */
function deriveKey(baseKey, salt, iterations) {
	return window.crypto.subtle.deriveKey(
			{ name: CRYPTO.deriveKeyAlgorithm, hash: CRYPTO.deriveKeyHashAlgorithm, iterations: iterations, salt: salt },
			baseKey,
			{ name: CRYPTO.encryptAlgorithm, length: CRYPTO.encryptKeySizeInBits },
			false,
			['encrypt', 'decrypt']
	);
}

/** Fonction de chiffrement de "content" à partir d'une phrase de passe "passphrase" */
function encrypt(passphrase, content) {
	return importKey(passphrase).then(function(baseKey) {
		var salt = window.crypto.getRandomValues(new Uint8Array(CRYPTO.deriveKeySaltLengthInBytes));
		return deriveKey(baseKey, salt, CRYPTO.deriveKeyIterations).then(function(key) {
			var contentUTF8 = new TextEncoder().encode(content);
			var iv = window.crypto.getRandomValues(new Uint8Array(CRYPTO.encryptIVLengthInBytes));
			return window.crypto.subtle.encrypt(
					{ name: CRYPTO.encryptAlgorithm, length: CRYPTO.encryptKeySizeInBits, iv: iv },
					key,
					contentUTF8
			).then(function(encryptedArrayBuffer) {
				return {
					content: arrayToHex(new Uint8Array(encryptedArrayBuffer)),
					iv: arrayToHex(iv),
					salt: arrayToHex(salt),
					iterations: CRYPTO.deriveKeyIterations
				}
			});
		});
	});
}

/** Fonction de déchiffrement de "encrypted" (cf "encrypt") à partir d'une phrase de passe "passphrase" */
function decrypt(passphrase, encrypted) {
	return importKey(passphrase).then(function(baseKey) {
		var salt = hexToArray(encrypted.salt);
		return deriveKey(baseKey, salt, encrypted.iterations).then(function(key) {
			var content = hexToArray(encrypted.content).buffer;
			var iv = hexToArray(encrypted.iv);
			return window.crypto.subtle.decrypt(
					{ name: CRYPTO.encryptAlgorithm, length: CRYPTO.encryptKeySizeInBits, iv: iv },
					key,
					content
			).then(function(decryptedArrayBuffer) {
				return new TextDecoder().decode(decryptedArrayBuffer);
			});
		});
	});
}

/** Fonction qui demande la passphrase à l'utilisateur, déchiffre le message "encrypted" et renvoie le texte déchiffré en cas de succès */
function askForPassphraseAndDecrypt(encrypted) {
	return new Promise(function(resolve, reject) {
		var dialog = $('#promptDialog');
		var input = dialog.find('input[type=password]').last().hide().prev().val('');
		var message = dialog.find('.text-danger').addClass('nimbus-hidden');
		var validate = dialog.find('.btn-primary').off('click').on('click', function() {
			decrypt(input.val(), encrypted).then(function(clearText) {
				resolve(clearText);
				dialog.modal('hide');
			}, function() {
				message.first().removeClass('nimbus-hidden');
				input.focus();
			});
		});
		var cancel = dialog.find('.btn-secondary').off('click').on('click', function() {
			reject('cancelled');
		});
		dialog.modal({
			keyboard: false,
			backdrop: 'static'
		});
	});
}

/** Fonction qui demande la passphrase à l'utilisateur, chiffre le message "content" et renvoie un object représentant le message chiffré */
function askForPassphraseAndEncrypt(content) {
	return new Promise(function(resolve, reject) {
		var dialog = $('#promptDialog');
		var input = dialog.find('input[type=password]').first().val('').show();
		var confirm = input.next().val('').show();
		var message = dialog.find('.text-danger').addClass('nimbus-hidden');
		var validate = dialog.find('.btn-primary').off('click').on('click', function() {
			if (input.val() !== confirm.val()) {
				message.last().removeClass('nimbus-hidden');
				input.focus();
				return false;
			} else {
				encrypt(input.val(), content).then(function(encrypted) {
					dialog.modal('hide');
					resolve(encrypted);
				});
			}
		});
		var cancel = dialog.find('.btn-secondary').off('click').on('click', function() {
			dialog.modal('hide');
			reject('cancelled');
		});
		dialog.modal({
			keyboard: false,
			backdrop: 'static'
		});
	});
}

//Initialiser la page
NIMBUS.init(['secret.js'], function() {
	// En haut à gauche, le bouton "Retour"
	$('.back').toggle(!!'${fromUrl}').attr('title', '${fromTitle}').attr('href', '${fromUrl}');
	// L'IHM est prête, on l'affiche
	var body = $(document.body).removeClass('nimbus-hidden');
	// Identifiant de l'élément édité
	var itemId = ${itemId};
	// Récupération du contenu du fichier
	$.get({
		url: '/files/stream/' + itemId,
		dataType: 'text'
	}).then(function(content, textStatus, jqXHR) {
		var filename = NIMBUS.utils.getFileNameFromContentDisposition(jqXHR);
		// Une note pour le moment vide, par exemple car on vient de la créer
		if (!content)
			return { filename: filename, content: '', };
		// Une note chiffrée que l'on va déchiffrer avant d'aller plus loin
		var input = JSON.parse(content); // { content: hex, iv: hex, salt: hex, iterations: int }
		return askForPassphraseAndDecrypt(input).then(function(content) {
			return { filename: filename, content: content };
		});
	}).then(function(result) {
		var editor = $('#editor'),
			saveButton = $('#saveButton'),
			filename = result.filename;

		$('title').text(filename);

		editor.val(result.content).removeClass('nimbus-hidden').on('input', function() {
			saveButton.removeClass('nimbus-hidden');
		});

		saveButton.on('click', function() {
			var text = editor.val();
			askForPassphraseAndEncrypt(text).then(function(encrypted) {
				return NIMBUS.utils.updateFile(itemId, new Blob([JSON.stringify(encrypted)], { type: "text/plain" }));
			}).then(function() {
				saveButton.addClass('nimbus-hidden');
				editor.removeClass('border border-danger')
			}, function() {
				editor.addClass('border border-danger');
			});
		});

		// Manipulation au clavier
		body.keystrokes({
			'Ctrl-s': () => saveButton.click(),
		});
	}, function(reason) {
		console.log('Leaving', reason);
		window.location = '${fromUrl}' || '/';
		
	});
});
</script>

</body>
</html>
