<!DOCTYPE html>
<html>
<head>
<title>${appName} - TEST</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/preferences/theme.css" />
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
</head>
<body>
<div style="text-align: center"><a href="/test.html" class="btn btn-default">Relancer</a></div>

<div class="alert alert-success" style="display: none; margin: 0 1em; ">OK, tous les tests sont passés avec succès.</div>

<table class="table">
	<thead>
		<tr>
			<th>N°</th>
			<th>Test</th>
			<th>Résultat</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<script type="text/javascript">

//==========
//========== Un ensemble de méthode de vérification du résultat des requêtes AJAX
//==========
	
function assertEmpty(result) {
	if (result === "")
		return "OK";
	return $.Deferred().reject("'" + result + "' devrait être vide");
}
function assertEquals(result, text) {
	if (result === text)
		return "OK";
	return $.Deferred().reject("'" + result + "' devrait valoir '" + text + "'");
}
function assertContains(result, text) {
	if (result.indexOf(text) >= 0)
		return "OK";
	return $.Deferred().reject("'" + result + "' devrait contenir '" + text + "'");
}
function assertStringWithLength(result, length) {
	if (typeof result !== "string")
		return $.Deferred().reject("'" + result + "' devrait être un texte");
	if (result.length !== length)
		return $.Deferred().reject("'" + result + "' n'a pas la longueur attendue de " + length + " caractères");
	return "OK";
}
function assertString(result/*, text1, included?, text2, included?, ...*/) {
	if (typeof result !== 'string')
		return $.Deferred().reject("'" + result + "' devrait être un texte");
	var n = arguments.length;
	for (var i = 1; i < n; i+=2) {
		var text = arguments[i], includes = arguments[i + 1];
		if (includes && result.indexOf(text) === -1)
			return $.Deferred().reject("'" + result + "' devrait contenir '" + text + "'");
		else if (!includes && result.indexOf(text) >= 0)
			return $.Deferred().reject("'" + result + "' ne devrait pas contenir '" + text + "'");
	}
	return "OK";
}
function assertObject(result, check) {
	if (typeof result !== "object")
		return $.Deferred().reject("'" + result + "' devrait être un objet");
	if (!check(result)) {
		console.log(result);
		return $.Deferred().reject("'" + result + "' n'est pas le résultat souhaité");
	}
	return "OK";
}
function assertArray(result, length, checkFirst) {
	if (!Array.isArray(result))
		return $.Deferred().reject("'" + result + "' devrait être un tableau");
	if (result.length !== length)
		return $.Deferred().reject("'" + result + "' devrait contenir " + length + " élément(s)");
	if (checkFirst && !checkFirst(result[0])) {
		console.log(result);
		return $.Deferred().reject("'" + result + "' n'est pas le résultat souhaité");
	}
	return "OK";
}
function assertLoginPage(result) {
	return assertContains(result, "<form action=\"/login.html\"");
}
function assertMainPage(result) {
	return assertContains(result, "<body id=\"main\" class=\"nimbus-hidden\">");
}
function assertStream(content, status, jqHR, mimetype, filename, length) {
	var ct = jqHR.getResponseHeader("Content-Type");
	var cd = jqHR.getResponseHeader("Content-Disposition");
	var cl = jqHR.getResponseHeader("Content-Length");
	if (mimetype && (ct !== mimetype))
		return $.Deferred().reject("'Content-Type' vaut '" + ct + "' mais devrait être '" + mimetype + "'");
	if (filename && (!cd || cd.indexOf("; filename=\"" + filename + "\"") === -1))
		return $.Deferred().reject("'Content-Disposition' vaut '" + cd + "' mais le fichier devrait être '" + filename + "'");
	if (typeof length === "number" && cl !== length.toString())
		return $.Deferred().reject("'Content-Length' vaut '" + cl + "' mais la longueur devrait être '" + length + "'");
	return "OK";
}
function assertRange(url, header, value) {
	return $.ajax({
		url: url,
		headers: {"Range": "bytes=" + header}
	}).then((result) => assertEquals(result, value));
}
function shoudBeAnError(ajax, code) {
	return ajax.then(
		(result) => $.Deferred().reject("Devrait lancer une erreur"),
		(error) => (code && (code !== error.status)) ? $.Deferred().reject("Lance une erreur '" + error.status + "' au lieu de '" + code + "'") : "OK"
	);
}
function wait(seconds) {
	var defer = $.Deferred();
	setTimeout(function() {
		defer.resolve();
	}, seconds * 1000);
	return defer;
}

function TestUpload(parentId, updateDate) {
	this.formData = new FormData();
	this.formData.append("parentId", parentId ? parentId.toString() : "");
	if (updateDate)
		this.formData.append("updateDate", updateDate.getTime());
}

TestUpload.prototype.addFile = function(content, mimetype, filename) {
	var blob = new Blob([content], { type: mimetype });
	this.formData.append("files", blob, filename);
	return this;
};

TestUpload.prototype.send = function() {
	this.ajax = $.ajax({
		method: "POST",
		url: "/files/upload",
		data: this.formData,
		dataType: "json",
		contentType: false,
		processData: false,
		cache: false,
		timeout: 0
	});
	return this;
}

TestUpload.prototype.shouldSucceedWithIds = function(ids) {
	return this.ajax.then((result) => assertArray(result, ids.length, (newId) => newId === ids[0] && result.every((e, i) => ids[i] === e)));
};

TestUpload.prototype.shouldFailWithErrorCode = function(code) {
	return this.ajax.then(
		(result) => $.Deferred().reject("Devrait lancer une erreur"),
		(error) => (code && (code !== error.status)) ? $.Deferred().reject("Lance une erreur '" + error.status + "' au lieu de '" + code + "'") : "OK"
	);
};

//==========
//========== La suite des tests AJAX pour vérifier le comportement du serveur
//==========
	
function fillTests(add) {
	add("Réinitialiser le thème sur 'light'", function() {
		return $.get("/preferences/theme?theme=light").then(assertEmpty);
	});
	add("Vérifier que le thème utilisé est 'flatly'", function() {
		return $.get("/preferences/theme.css").then((result) => assertString(result, "https://bootswatch.com", true, "--blue: #2C3E50", true, "--blue: #375a7f", false));
	});
	add("Activer le thème 'dark'", function() {
		return $.get("/preferences/theme?theme=dark").then(assertEmpty);
	});
	add("Vérifier que le thème utilisé est 'darkly'", function() {
		return $.get("/preferences/theme.css").then((result) => assertString(result, "https://bootswatch.com", true, "--blue: #2C3E50", false, "--blue: #375a7f", true));
	});

	add("Bloquer l'accès à la page principale sans identification", function() {
		return $.get("/main.html").then(assertLoginPage);
	});
	add("Créer un premier compte quand la base est vide", function() {
		return $.post("/login.html?login=adm&password=adm").then(assertMainPage);
	});
	add("Recupérer la liste des utilisateurs", function() {
		return $.get("/user/list").then((result) => assertArray(result, 1, (u) => u.login === "adm" && u.admin === true));
	});

	add("Créer un utilisateur", function() {
		return $.post("/user/insert/u?password=u").then((result) => assertObject(result, (o) => o.login === "u" && !o.name && !o.admin && !o.quota && !o.password));
	});
	add("Bloquer la création si doublon de login", function() {
		return shoudBeAnError($.post("/user/insert/u?password=u"), 409);
	});
	add("Bloquer la création si login absent", function() {
		return shoudBeAnError($.post("/user/insert/?password=u"), 404);
	});
	add("Bloquer la création si password absent", function() {
		return shoudBeAnError($.post("/user/insert/e?password="), 400);
	});

	add("Modifier un utilisateur", function() {
		return $.post("/user/update/u?name=Utilisateur&password=u&quota=3&admin=false").then((result) => assertObject(result, (o) => o.login === "u" && o.name === "Utilisateur" && !o.admin && o.quota === 3 && !o.password));
	});
	add("Bloquer la modification si login absent", function() {
		return shoudBeAnError($.post("/user/update/?name=Utilisateur&password=u&quota=3&admin=false"), 404);
	});
	add("Bloquer la modification si login invalide", function() {
		return shoudBeAnError($.post("/user/update/uuu?name=Utilisateur&password=u&quota=3&admin=false"), 404);
	});

	add("Autoriser l'accès à la gestion des utilisateurs aux admins", function() {
		return $.get("/users.html").then((result) => assertContains(result, "<table id=\"users\""));
	});
	add("Se reconnecter en utilisateur standard", function() {
		return $.post("/login.html?login=u&password=u").then(assertMainPage);
	});
	add("Bloquer l'accès à la gestion des utilisateurs aux non admins", function() {
		return $.get("/users.html").then(assertLoginPage);
	});
	add("Se reconnecter en administrateur", function() {
		return $.post("/login.html?login=adm&password=adm").then(assertMainPage);
	});

	add("Supprimer un utilisateur", function() {
		return $.post("/user/delete/u").then((result) => assertObject(result, (o) => o.login === "u"));
	});
	add("Bloquer la suppression si login absent", function() {
		return shoudBeAnError($.post("/user/delete/"), 404);
	});
	add("Bloquer la suppression si login invalide", function() {
		return shoudBeAnError($.post("/user/update/uuu"), 404);
	});

	add("Créer un fichier 'fichier.txt' vide avec id 0 à la racine", function() {
		return $.post("/files/touch?name=fichier.txt").then((result) => assertEquals(result, "0"));
	});
	add("Streamer le fichier 'fichier.txt' de longueur 0", function() {
		return $.get("/files/stream/0").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "fichier.txt", 0));
	});
	add("Télécharger le fichier 'fichier.txt' de longueur 0", function() {
		return $.get("/files/download/0").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "fichier.txt", 0));
	});
	add("Naviguer vers le fichier 'fichier.txt' de longueur 0", function() {
		return $.get("/files/browse/fichier.txt").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "fichier.txt", 0));
	});
	add("Vérifier les méta-données d'un fichier texte vide", function() {
		return $.get("/items/info/0").then((result) => assertObject(result, (r) => r.id === 0 && r.name === "fichier.txt" && r.length === 0 && r.mimetype === "text/plain"));
	});

	var totoTxtContent = "Un fichier\ntexte";
	add("Uploader un fichier texte à la racine qui aura pour id 1", function() {
		return new TestUpload().addFile(totoTxtContent, "text/plain", "toto.txt").send().shouldSucceedWithIds([1]);
	});
	add("Streamer le fichier 'toto.txt' de longueur définie", function() {
		return $.get("/files/browseTo/1").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "toto.txt", totoTxtContent.length));
	});
	add("Télécharger le fichier 'toto.txt' de longueur définie", function() {
		return $.get("/files/download/1").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "toto.txt", totoTxtContent.length));
	});
	add("Naviguer vers le fichier 'toto.txt' de longueur définie", function() {
		return $.get("/files/browse/toto.txt").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "toto.txt", totoTxtContent.length));
	});
	add("Vérifier les méta-données d'un fichier texte non vide", function() {
		return $.get("/items/info/1").then((result) => assertObject(result, (r) => r.id === 1 && r.name === "toto.txt" && r.length === totoTxtContent.length && r.mimetype === "text/plain" && r.lines === 2));
	});
	totoTxtContent = "Bonjour\nle Monde !";
	add("Mettre à jour le contenu d'un fichier d'id 1", function() {
		var blob = new Blob([totoTxtContent], { type: "text/plain" });
		var formData = new FormData();
		formData.append("updateDate", 0);
		formData.append("file", blob, "unused.txt");
		return $.ajax({
			method: "POST",
			url: "/files/update/1",
			data: formData,
			dataType: "text",
			contentType: false,
			processData: false,
			cache: false,
			timeout: 0
		}).then(assertEmpty);
	});
	add("Vérifier le contenu de 'toto.txt'", function() {
		return $.get("/items/info/1").then((result) => assertObject(result, (r) => r.id === 1 && r.updateDate === 0 && r.lines === 2));
	});

	var sharePassword;
	add("PARTAGE / Vérifier que l'accès est interdit sans partage", function() {
		return shoudBeAnError($.get("/share/get/1?password=ABABABABABABABABABABABABABABAB"), 400);
	});
	add("PARTAGE / Vérifier que l'on peut partager un fichier", function() {
		return $.post("/share/add?itemId=1").then((result) => { sharePassword = result; return assertStringWithLength(result, 30); });
	});
	add("PARTAGE / Vérifier que l'accès est toujours interdit sans le mot de passe", function() {
		return shoudBeAnError($.get("/share/get/1"), 400);
	});
	add("PARTAGE / Vérifier que l'accès est toujours interdit avec un mot de passe incorrect", function() {
		return shoudBeAnError($.get("/share/get/1?password=ABABABABABABABABABABABABABABAB"), 400);
	});
	add("PARTAGE / Vérifier que l'accès est par contre autorisé avec le bon mot de passe", function() {
		return $.get("/share/get/1?password=" + sharePassword).then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "toto.txt", totoTxtContent.length));
	});
	add("PARTAGE / Vérifier que l'accès est aussi possible déconnecté avec le bon mot de passe", function() {
		return $.get("/logout").then(assertLoginPage)
			.then(() => $.get("/share/get/1?password=" + sharePassword).then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "toto.txt", totoTxtContent.length)))
			.then(() => $.post("/login.html?login=adm&password=adm").then(assertMainPage));
	});
	add("PARTAGE / Vérifier que l'on peut supprimer un partage", function() {
		return $.post("/share/delete?itemId=1").then(assertEmpty);
	});
	add("PARTAGE / Vérifier que l'accès est ensuite bloqué, même avec le mot de passe", function() {
		return shoudBeAnError($.get("/share/get/1?password=" + sharePassword), 400);
	});

	add("Uploader une image qui aura pour id 2", function() {
		// Found here : https://stackoverflow.com/questions/23150333/html5-javascript-dataurl-to-blob-blob-to-dataurl
		var base64 = "iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABP0lEQVQ4jd3SP07DMBTH8UcS23ET+U/rurKjplaGXoAF5R7deoaeoUdhYOsEZ+jCwMYNkCohBEIcgB8TlWCAZmDhSZ/xffWGR/Sv5oxzvpZS7qSUByHEIc/zHRGtiejs12Wl1NZ7jxgjYozw3kNrDSEEiGj7Y8Rau26aBikldF2HruuQUkLTNLDWoixLcM63nPPLoihesyy7JKKLYyCldN22LRaLxRdt2yKEgPF4DOfcg3MOxhhIKVGW5dUxEGN8/Dz9uxACZrMZvPfvIQR476GUAmPs7RgIITxNp1OcwjkHpRTm8/kNERHVdb2aTCYvxhicQmsNpdRzVVX3RLSiuq73o9EIp5JSQgiBoijAGNuT1vqWc44hGGPI8xxVVd1S3/cba+1dlmUYwhhz1/f9hgBYAEsA5wMtAdhBv/4n8wHh/sScXBuiFwAAAABJRU5ErkJggg==";
		var bstr = atob(base64);
		var n = bstr.length; // 376
		var content = new Uint8Array(n);
		while (n--) {
			content[n] = bstr.charCodeAt(n);
		}
		return new TestUpload().addFile(content, "image/png", "favicon.png").send().shouldSucceedWithIds([2]);
	});
	add("Vérifier que l'image 'favicon.png' a la bonne taille", function() {
		return $.get("/files/stream/2").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", 376));
	});
	add("Récupérer une miniature en 32x32 de 'favicon.png'", function() {
		return $.get("/files/thumbnail/2").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", undefined));
	});
	add("Récupérer une miniature en 64x64 de 'favicon.png'", function() {
		return $.get("/files/thumbnail/2?size=64").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", undefined));
	});
	add("Naviguer vers l'image 'favicon.png'", function() {
		return $.get("/files/browse/favicon.png").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", 376));
	});
	add("Vérifier les méta-données d'une image", function() {
		return $.get("/items/info/2").then((result) => assertObject(result, (r) => r.id === 2 && r.name === "favicon.png" && r.length === 376 && r.mimetype === "image/png" && r.width === 16 && r.height === 16 && r.depth === 32));
	});

	add("BYTE RANGE / Vérifier le streaming avec Range 3", function() {
		return assertRange("/files/stream/1", "3", totoTxtContent.substr(0,4));
	});
	add("BYTE RANGE / Vérifier le streaming avec Range -3", function() {
		return assertRange("/files/stream/1", "-3", totoTxtContent.substr(-3));
	});
	add("BYTE RANGE / Vérifier le streaming avec Range 3-", function() {
		return assertRange("/files/stream/1", "3-", totoTxtContent.substring(3));
	});
	add("BYTE RANGE / Vérifier le streaming avec Range 3-6", function() {
		return assertRange("/files/stream/1", "3-6", totoTxtContent.substring(3,7));
	});

	add("TRASH / Vérifier que la corbeille est vide", function() {
		return $.get("/trash/count").then((result) => assertEquals(result, "0"));
	});
	add("TRASH / Supprimer (corbeille) le fichier 'fichier.txt'", function() {
		return $.post("/trash/delete?itemIds=0").then(assertEmpty);
	});
	add("TRASH / Vérifier que la corbeille contient 1 élément", function() {
		return $.get("/trash/count").then((result) => assertEquals(result, "1"));
	});
	add("TRASH / Supprimer (corbeille) les fichiers 'toto.txt' et 'favicon.png'", function() {
		return $.post("/trash/delete?itemIds=1,2").then(assertEmpty);
	});
	add("TRASH / Vérifier que la corbeille contient 3 éléments", function() {
		return $.get("/trash/count").then((result) => assertEquals(result, "3"));
	});
	add("TRASH / Restaurer le fichier 'fichier.txt'", function() {
		return $.post("/trash/restore?itemIds=0,2").then(assertEmpty);
	});
	add("TRASH / Vérifier le contenu de la corbeille", function() {
		return $.get("/trash/items").then((result) => assertArray(result, 1, (first) => first.id === 1 && first.name === "toto.txt"));
	});
	add("TRASH / Vérifier qu'une requête incorrecte est rejetée", function() {
		return shoudBeAnError($.post("/trash/erase?itemIds=10,1"), 400);
	});
	add("TRASH / Supprimer (définitivement) le contenu de la corbeille", function() {
		return $.post("/trash/erase?itemIds=1").then(assertEmpty);
	});
	add("TRASH / Vérifier que la corbeille est à nouveau vide", function() {
		return $.get("/trash/count").then((result) => assertEquals(result, "0"));
	});

	add("ADD FOLDER / Créer un dossier 'Dossier3' avec id 3", function() {
		return $.post("/items/add/folder?name=Dossier3").then((result) => assertEquals(result, "3"));
	});
	add("ADD FOLDER / Créer un dossier 'Dossier4' avec id 4", function() {
		return $.post("/items/add/folder?name=Dossier4").then((result) => assertEquals(result, "4"));
	});
	add("ADD FOLDER / Créer un sous-dossier 'Dossier3/Dossier5' avec id 5", function() {
		return $.post("/items/add/folder?name=Dossier5&parentId=3").then((result) => assertEquals(result, "5"));
	});
	add("ADD FOLDER / Vérifier que le sous-dossier 'Dossier3/Dossier5' n'est pas visible à la racine", function() {
		return $.post("/items/exists", { names: ["Dossier5"] }).then((result) => assertEquals(result, "false"));
	});
	add("ADD FOLDER / Vérifier que le sous-dossier 'Dossier3/Dossier5' est visible par son parent", function() {
		return $.post("/items/exists", { names: ["Dossier5"], parentId: 3 }).then((result) => assertEquals(result, "true"));
	});
	add("ADD FOLDER / Récupérer les infos du dossier 'Dossier3'", function() {
		return $.get("/items/info/3").then((result) => assertObject(result, (r) => r.name === "Dossier3" && r.id === 3 ));
	});
	add("ADD FOLDER / Récupérer les infos du dossier 'Dossier5' avec chemin '3,'", function() {
		return $.get("/items/info/5").then((result) => assertObject(result, (r) => r.name === "Dossier5" && r.path === "3," ));
	});

	add("Déplacer l'image dans 'Dossier5'", function() {
		return $.post("/items/move?itemIds=2&targetParentId=5").then(assertEmpty);
	});
	add("Accéder à l'image 'favicon.png' par l'URL '/items/browse/<chemin>'", function() {
		return $.get("/files/browse/Dossier3/Dossier5/favicon.png").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", 376));
	});
	add("Vérifier que la racine contient 'Dossier3', 'Dossier4' et 'fichier.txt'", function() {
		return $.get("/items/list?sortBy=name&sortAscending=true").then((result) => assertArray(result, 3, (first) => first.name === "Dossier3"));
	});
	add("Vérifier que récursivement, on trouve aussi 'Dossier5'", function() {
		return $.get("/items/list?sortBy=name&sortAscending=true&recursive=true").then((result) => assertArray(result, 5, (first) => result[2].name === "Dossier5"));
	});
	add("Récupérer les infos de plusieurs éléments en une fois", function() {
		return $.get("/items/infos?itemIds=0,5,4").then((result) => assertArray(result, 3, (first) => first.id === 0 && first.name === "fichier.txt"));
	});
	add("Obtenir une erreur si on veut dupliquer un élément qui n'existe pas (ou plus)", function() {
		return shoudBeAnError($.post("/items/duplicate?itemId=6"), 400);
	});
	add("Vérifier que le nom ou les patterns sont obligatoires pour 'duplicate'", function() {
		return shoudBeAnError($.post("/items/duplicate?itemId=5&firstPattern=Copie%20de%20{0}"), 400);
	});
	add("Réussir par contre à copier le sous-dossier 'Dossier5' avec id 6", function() {
		return $.post("/items/duplicate?itemId=5&firstPattern=Copie%20de%20{0}&nextPattern=Copie%20{0}%20de%20{1}").then((result) => assertEquals(result, "6"));
	});

	add("TAGS / Renommer la copie 'Dossier5' en 'Dossier6' avec ajout de tags 'tag1' et 'tag2'", function() {
		return $.post("/items/rename?itemId=6&name=Dossier6&tags=tag1,tag2").then(assertEmpty);
	});
	add("TAGS / Renommer le fichier 'fichier.txt' en 'file.txt' avec ajout de tags 'tag2' et 'tag3'", function() {
		return $.post("/items/rename?itemId=0&name=file.txt&tags=tag2,tag3").then(assertEmpty);
	});
	add("TAGS / Rechercher tous les tags utilisés (tag1, tag2 et tag3)", function() {
		return $.get("/items/tags?term=*").then((result) => assertArray(result, 3, (t) => t.label === "tag1" && t.value === "tag1"));
	});
	add("TAGS / Rechercher les tags contenant 'g2' (uniquement tag2)", function() {
		return $.get("/items/tags?term=g2").then((result) => assertArray(result, 1, (t) => t.label === "tag2" && t.value === "tag2"));
	});

	add("Télécharger 'file.txt' via un zip appelé 'cloud.zip'", function() {
		return $.get("/items/zip?itemIds=0").then((content, status, jqHR) => assertStream(content, status, jqHR, "application/zip", "cloud.zip"));
	});
	add("Déplacer 'Dossier6' et 'file.txt' dans 'Dossier5'", function() {
		return $.post("/items/move?itemIds=6,0&targetParentId=5").then(assertEmpty);
	});
	add("Vérifier que 'Dossier3' contient 4 éléments récursivement dont 'Dossier5'", function() {
		return $.get("/items/list?recursive=true&sortBy=id&sortAscending=false&parentId=3").then((result) => assertArray(result, 4, (e) => e.id === 5));
	});
	add("et que le deuxième élément est le sous-dossier 'Dossier6'", function() {
		return $.get("/items/list?recursive=true&sortBy=id&sortAscending=false&parentId=3").then((result) => assertObject(result[1], (e) => e.name === "Dossier6" && e.path === "3,5,"));
	});
	add("et que le suivant est le sous-fichier 'file.txt'", function() {
		return $.get("/items/list?recursive=true&sortBy=id&sortAscending=false&parentId=3").then((result) => assertObject(result[2], (e) => e.name === "file.txt" && e.path === "3,5,"));
	});
	add("et que le dernier élément est le sous-fichier 'favicon.png'", function() {
		return $.get("/items/list?recursive=true&sortBy=id&sortAscending=false&parentId=3").then((result) => assertObject(result[3], (e) => e.name === "favicon.png" && e.path === "3,5,"));
	});
	add("Déplacer cette fois 'Dossier6' et 'file.txt' vers la racine", function() {
		return $.post("/items/move?itemIds=6,0").then(assertEmpty);
	});
	add("Vérifier que 'Dossier3' ne contient plus que 'Dossier5'", function() {
		return $.get("/items/list?recursive=false&sortBy=id&sortAscending=false&parentId=3").then((result) => assertArray(result, 1, (e) => e.id === 5));
	});

	var stringOf520KB = "0123456789".repeat(52).repeat(1024);
	var uploadDate = new Date(2019, 0, 15, 22, 0, 0, 0);
	add("QUOTA / Descendre le quota disque à 1Mo", function() {
		return $.post("/user/update/adm?name=&admin=true&quota=1").then((result) => assertObject(result, (o) => o.quota === 1));
	});
	add("QUOTA / Vérifier que le quota autorise de dupliquer 'file.txt' en 'fichier7.txt'", function() {
		return $.post("/items/duplicate?itemId=0&name=fichier7.txt").then((result) => assertEquals(result, "7"));
	});
	add("QUOTA / Vérifier que le quota autorise d'uploader 510KB dans 'file.txt'", function() {
		return new TestUpload(null, uploadDate).addFile(stringOf520KB, "text/plain", "file.txt").send().shouldSucceedWithIds([0]);
	});
	add("QUOTA / Vérifier la date de modification de 'file.txt'", function() {
		return $.get("/items/info/0").then((result) => assertObject(result, (r) => r.id === 0 && r.updateDate === uploadDate.getTime()));
	});
	add("QUOTA / Vérifier que le quota empêche de dupliquer à nouveau 'file.txt'", function() {
		return shoudBeAnError($.post("/items/duplicate?itemId=0&name=fichier8.txt"), 507);
	});
	add("QUOTA / Vérifier que le quota empêche d'uploader à nouveau 510KB dans 'fichier7.txt'", function() {
		return new TestUpload().addFile(stringOf520KB, "text/plain", "fichier7.txt").send().shouldFailWithErrorCode(507);
	});
	add("QUOTA / Repasser le quota disque à 100Mo", function() {
		return $.post("/user/update/adm?name=&admin=true&quota=100").then((result) => assertObject(result, (o) => o.quota === 100));
	});

	add("ICONURL / Modifier l'icône de 'Dossier3' avec une adresse locale complète", function() {
		return $.post("/items/rename?itemId=3&name=Dossier3&iconURL=${serverAbsoluteUrl}/favicon.png").then(assertEmpty);
	});
	add("ICONURL / Vérifier la présence de l'icône et l'absence de cache", function() {
		return $.get("/items/info/3").then((result) => assertObject(result, (r) => r.id === 3 && r.iconURL === "${serverAbsoluteUrl}/favicon.png" && !r.iconURLCache));
	});
	add("ICONURL / Modifier l'icône de 'Dossier4' avec une adresse locale relative", function() {
		return $.post("/items/rename?itemId=4&name=Dossier4&iconURL=/favicon.ico").then(assertEmpty);
	});
	add("ICONURL / Vérifier la présence de l'icône et l'absence de cache", function() {
		return $.get("/items/info/4").then((result) => assertObject(result, (r) => r.id === 4 && r.iconURL === "/favicon.ico" && !r.iconURLCache));
	});
	add("ICONURL / Modifier l'icône de 'Dossier6' avec une adresse distante", function() {
		return $.post("/items/rename?itemId=6&name=Dossier6&iconURL=https://techgp.fr/webapps/webapps-cipher.png").then(assertEmpty);
	});
	add("ICONURL / Vérifier la présence de l'icône et la récupération de l'icône en cache", function() {
		return $.get("/items/info/6").then((result) => assertObject(result, (r) => r.id === 6 && r.iconURL === "https://techgp.fr/webapps/webapps-cipher.png" && r.iconURLCache && r.iconURLCache.indexOf("data:image/png;base64,") === 0));
	});
	add("ICONURL / Tenter de modifier l'icône de 'Dossier5' avec une adresse incorrecte", function() {
		return $.post("/items/rename?itemId=5&name=Dossier5&iconURL=https://techgp.fr/webapps/webapps-blablabla.png").then(assertEmpty);
	});
	add("ICONURL / Vérifier la présence de l'icône mais l'abscence de l'icône en cache", function() {
		return $.get("/items/info/5").then((result) => assertObject(result, (r) => r.id === 5 && r.iconURL === "https://techgp.fr/webapps/webapps-blablabla.png" && !r.iconURLCache));
	});
	add("ICONURL / Utiliser l'image 2 comme miniature du dossier parent 'Dossier5'", function() {
		return $.post("/files/useAsFolderIcon/2").then(assertEmpty);
	});
	add("ICONURL / Vérifier que la miniature de 'Dossier5' est bien l'image 2", function() {
		return $.get("/items/info/5").then((result) => assertObject(result, (o) => o.iconURL === '/files/thumbnail/2?size=32'));
	});

	var autocompleteResult;
	add("DOWNLOAD / Vérifier l'auto-complétion des vidéos YouTube", function() {
		return $.get("/download/autocomplete", { url: "https://www.youtube.com/watch?v=8TCxE0bWQeQ" }).then((result) => assertArray(result, 4, (r) => { autocompleteResult = r; return r.name && r.value && r.label && r.value.indexOf("http") === 0; }));
	});
	add("DOWNLOAD / Vérifier que l'autocomplétion YouTube échoue si la vidéo est inconnue", function() {
		return $.get("/download/autocomplete", { url: "https://www.youtube.com/watch?v=hg-i47g1TKY" }).then((result) => assertArray(result, 0));
	});
	add("DOWNLOAD / Télécharger une vidéo", function() {
		return $.post("/download/add", { url: autocompleteResult.value, name: autocompleteResult.name }).then((result) => assertEquals(result, "8"));
	});
	add("DOWNLOAD / Vérifier les informations sur l'élément téléchargé", function() {
		return $.get("/items/info/8").then((result) => assertObject(result, (r) => r.id === 8 && r.name === autocompleteResult.name && r.mimetype.indexOf("video/") === 0
				&& ((r.status === "download" && typeof r.progress === "number") || (r.status === "success" && r.length === 1081707))));
	});
	add("DOWNLOAD / Actualiser un fichier téléchargé", function() {
		return wait(3).then(() => $.post("/download/refresh?itemId=8")).then((result) => assertEquals(result, "8"));
	});
	add("DOWNLOAD / Vérifier que les informations sur l'élément téléchargé n'ont pas changé", function() {
		return $.get("/items/info/8").then((result) => assertObject(result, (r) => r.id === 8 && r.name === autocompleteResult.name && r.mimetype.indexOf("video/") === 0
				&& ((r.status === "download" && typeof r.progress === "number") || (r.status === "success" && r.length === 1081707))));
	});
	add("DOWNLOAD / Marquer le téléchargement comme vu", function() {
		return wait(3).then(() => $.post("/download/done?itemId=8")).then(assertEmpty);
	});
	add("DOWNLOAD / Vérifier que les informations sur l'élément téléchargé ont été nettoyées", function() {
		return $.get("/items/info/8").then((result) => assertObject(result, (r) => r.id === 8 && r.name === autocompleteResult.name && r.mimetype.indexOf("video/") === 0 && !r.status));
	});

	var metadataDatetime = Date.now();
	add("METADATA / Créer un fichier de test pour les méta-données", function() {
		return $.post("/files/touch?name=fichier.test").then((result) => assertEquals(result, "9"));
	});
	add("METADATA / Vérifier que les méta-données sont pour le moment vide", function() {
		return $.get("/items/info/9").then((result) => assertObject(result, (r) => r.id === 9 && r.name === "fichier.test" && !r.testserver && !r.testinteger));
	});
	add("METADATA / Recalculer les méta-données gérées côté serveur", function() {
		return $.post("/items/metadata?itemId=9&refresh=true&metadata=[]").then(assertEmpty);
	});
	add("METADATA / Vérifier l'apparition d'une méta-donnée", function() {
		return $.get("/items/info/9")
			.then((result) => assertObject(result, (r) => r.id === 9 && r.name === "fichier.test" && r.testserver === 42 && !r.testinteger))
			.then(undefined, (error) => $.Deferred().reject("Résultat inattendu. Pensez à activer la TestFacet pour l'exécution des tests"));
	});
	add("METADATA / Demander à conserver 3 méta-données", function() {
		return $.post("/items/metadata?itemId=9&refresh=false&metadata=" + JSON.stringify([
			{ action:"set", name:"testboolean", type:"boolean", value:true },
			{ action:"set", name:"testinteger", type:"integer", value:123 },
			{ action:"set", name:"testlong", type:"long", value:456 }
		])).then(assertEmpty);
	});
	add("METADATA / Vérifier l'apparition des 3 méta-données", function() {
		return $.get("/items/info/9").then((result) => assertObject(result, (r) => r.id === 9 && r.name === "fichier.test" && r.testserver === 42 && r.testboolean === true && r.testinteger === 123 && r.testlong === 456 && !r.testdouble));
	});
	add("METADATA / En supprimer 1 et en ajouter les 3 autres méta-données", function() {
		return $.post("/items/metadata?itemId=9&refresh=false&metadata=" + JSON.stringify([
			{ action:"set", name:"testdouble", type:"double", value:123456.789 },
			{ action:"remove", name:"testinteger" },
			{ action:"set", name:"testdatetime", type:"datetime", value:metadataDatetime },
			{ action:"set", name:"teststring", type:"string", value:"Nimbus" }
		])).then(assertEmpty);
	});
	add("METADATA / Vérifier les modifications apportées aux méta-données", function() {
		return $.get("/items/info/9").then((result) => assertObject(result, (r) => r.id === 9 && r.name === "fichier.test" && r.testserver === 42 && r.testboolean === true && !r.testinteger && r.testdouble === 123456.789 && r.testdatetime === metadataDatetime && r.teststring === "Nimbus"));
	});

	add("PREFERENCES / Vérifier les préférences par défaut", function() {
		return $.get("/preferences.html").then((result) => assertString(result,
				"<input data-translate=\"placeholder\" id=\"name\" type=\"text\" class=\"form-control\" placeholder=\"PreferencesNamePlaceholder\" value=\"\" />", true,
				"<input type=\"checkbox\" class=\"custom-control-input\" id=\"showItemTags\" checked>", true,
				"<input type=\"checkbox\" class=\"custom-control-input\" id=\"showItemDescription\" checked>", true,
				"<input type=\"checkbox\" class=\"custom-control-input\" id=\"showItemThumbnail\" checked>", true,
				"visibleItemColumns.val([]);", true));
	});
	add("PREFERENCES / Modifier les préférences", function() {
		return $.post("/preferences/save", {
			name: "Administrateur", // changement
			password: "aaa", passwordConfirmation: "aaa", // changement
			showItemDescription: true, // showItemTags et showItemThumbnail passent à false
			visibleItemColumns: ["length", "createDate", "updateDate"] // changement
		}).then(assertEmpty);
	});
	add("PREFERENCES / Vérifier que le formulaire est correct", function() {
		return shoudBeAnError($.post("/preferences/save", {
			name: "AAAAAA",
			password: "aaa", passwordConfirmation: "bbb", // erreur
			showItemDescription: false,
			visibleItemColumns: ["createDate", "updateDate"]
		}), 400);
	});
	add("PREFERENCES / Vérifier que les préférences sont bien prises en compte", function() {
		return $.get("/preferences.html").then((result) => assertString(result,
				"<input data-translate=\"placeholder\" id=\"name\" type=\"text\" class=\"form-control\" placeholder=\"PreferencesNamePlaceholder\" value=\"Administrateur\" />", true,
				"<input type=\"checkbox\" class=\"custom-control-input\" id=\"showItemTags\" >", true,
				"<input type=\"checkbox\" class=\"custom-control-input\" id=\"showItemDescription\" checked>", true,
				"<input type=\"checkbox\" class=\"custom-control-input\" id=\"showItemThumbnail\" >", true,
				"visibleItemColumns.val(['length','createDate','updateDate']);", true));
	});
	add("PREFERENCES / Choisir les préférences par défaut de l'adm", function() {
		return $.post("/preferences/save", {
			name: "Administrateur",
			password: "adm", passwordConfirmation: "adm",
			showItemTags: true, showItemDescription: true, showItemThumbnail: true,
			visibleItemColumns: ["length", "createDate", "updateDate", "shared", "mimetype"]
		}).then(assertEmpty);
	});

	add("Déconnecter ramène sur la page de connexion", function() {
		return $.get("/logout").then(assertLoginPage);
	});
	add("Bloquer à nouveau l'accès à la page principale une fois déconnecté", function() {
		return $.get("/main.html").then(assertLoginPage);
	});
}

//==========
//========== Exécution et affichage du résultat de chaque test
//==========

var tests = [];
var success = $('.alert');
var tbody = $("table > tbody");
var defer = $.Deferred();
var chain = defer;

fillTests((name, run) => tests.push({ name, run }));

tests.forEach((test, index) => {
	var tr = $("<tr />")
		.append("<td>" + (index + 1) + "</td>")
		.append("<td>" + test.name + "</td>")
		.append("<td></td>")
		.appendTo(tbody);
	chain = chain.then(() => test.run()
		.done((result) => {
			tr.children(":last-child").addClass("text-success").text(result || "OK");
		})
		.fail((error) => {
			var text = error ? (error.responseText || error) : "KO";
			tr.children(":last-child").addClass("text-danger").text(text);
		})
		.always(() => {
			$(document.documentElement).scrollTop(tr.offset().top - 60);
		})
	);
});
chain.then(() => {
	tbody.closest('table').hide();
	success.show();
});
defer.resolve();
</script>
</body>
</html>