<!DOCTYPE html>
<html>
<head>
<title>${appName} - TEST</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/theme/stylesheet.css" />
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
</head>
<body>
<div style="text-align: center"><a href="/test.html" class="btn btn-default">Relancer</a></div>

<table class="table">
	<thead>
		<tr>
			<th>N°</th>
			<th>Test</th>
			<th>Résultat</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<script type="text/javascript">

//==========
//========== Un ensemble de méthode de vérification du résultat des requêtes AJAX
//==========
	
function assertEmpty(result) {
	if (result === "")
		return "OK";
	return $.Deferred().reject("'" + result + "' devrait être vide");
}
function assertEquals(result, text) {
	if (result === text)
		return "OK";
	return $.Deferred().reject("'" + result + "' devrait valoir '" + text + "'");
}
function assertContains(result, text) {
	if (result.indexOf(text) >= 0)
		return "OK";
	return $.Deferred().reject("'" + result + "' devrait contenir '" + text + "'");
}
function assertString(result, shouldContain, shouldNotContain) {
	if (typeof result !== 'string')
		return $.Deferred().reject("'" + result + "' devrait être un texte");
	if (shouldContain && result.indexOf(shouldContain) === -1)
		return $.Deferred().reject("'" + result + "' devrait contenir '" + shouldContain + "'");
	if (shouldNotContain && result.indexOf(shouldNotContain) >= 0)
		return $.Deferred().reject("'" + result + "' ne devrait pas contenir '" + shouldNotContain + "'");
	return "OK";
}
function assertObject(result, check) {
	if (typeof result !== 'object')
		return $.Deferred().reject("'" + result + "' devrait être un objet");
	if (!check(result)) {
		console.log(result);
		return $.Deferred().reject("'" + result + "' n'est pas le résultat souhaité");
	}
	return "OK";
}
function assertArray(result, length, checkFirst) {
	if (!Array.isArray(result))
		return $.Deferred().reject("'" + result + "' devrait être un tableau");
	if (result.length !== length)
		return $.Deferred().reject("'" + result + "' devrait contenir " + length + " élément(s)");
	if (checkFirst && !checkFirst(result[0])) {
		console.log(result);
		return $.Deferred().reject("'" + result + "' n'est pas le résultat souhaité");
	}
	return "OK";
}
function assertLoginPage(result) {
	return assertContains(result, "<form action=\"/login.html\"");
}
function assertStream(content, status, jqHR, mimetype, filename, length) {
	var ct = jqHR.getResponseHeader("Content-Type");
	var cd = jqHR.getResponseHeader("Content-Disposition");
	var cl = jqHR.getResponseHeader("Content-Length");
	if (mimetype && (ct !== mimetype))
		return $.Deferred().reject("'Content-Type' vaut '" + ct + "' mais devrait être '" + mimetype + "'");
	if (filename && (!cd || cd.indexOf("; filename=\"" + filename + "\"") === -1))
		return $.Deferred().reject("'Content-Disposition' vaut '" + cd + "' mais le fichier devrait être '" + filename + "'");
	if (typeof length === "number" && cl !== length.toString())
		return $.Deferred().reject("'Content-Length' vaut '" + cl + "' mais la longueur devrait être '" + length + "'");
	return "OK";
}
function assertRange(url, header, value) {
	return $.ajax({
		url: url,
		headers: {"Range": "bytes=" + header}
	}).then((result) => assertEquals(result, value));
}
function shoudBeAnError(ajax) {
	return ajax.then(
		(result) => $.Deferred().reject("Devrait lancer une erreur"),
		(error) => "OK"
	);
}
function shouldUpload(content, mimetype, filename, id) {
	var blob = new Blob([content], { type: mimetype });
	var formData = new FormData();
	formData.append("parentId", ""); // à la racine
	formData.append("files", blob, filename);
	return $.ajax({
		method: "POST",
		url: "/files/upload",
		data: formData,
		dataType: "json",
		contentType: false,
		processData: false,
		cache: false,
		timeout: 0
	}).then((result) => assertArray(result, 1, (newId) => newId === id));
}

//==========
//========== La suite des tests AJAX pour vérifier le comportement du serveur
//==========
	
function fillTests(add) {
	add("Utiliser par défaut le thème Bootstrap", function() {
		return $.get("/theme/stylesheet.css").then((result) => assertString(result, "https://getbootstrap.com/", "https://bootswatch.com"));
	});
	add("Personnaliser le thème", function() {
		return $.get("/theme/update?theme=flatly").then(assertEmpty);
	});
	add("Utiliser ensuite le thème personnalisé", function() {
		return $.get("/theme/stylesheet.css").then((result) => assertContains(result, "https://bootswatch.com"));
	});

	add("Bloquer l'accès à la page principale sans identification", function() {
		return $.get("/main.html").then(assertLoginPage);
	});
	add("Créer un premier compte quand la base est vide", function() {
		return $.post("/login.html?login=adm&password=adm").then((result) => assertContains(result, "<a href=\"/logout\">Logout</a>"));
	});
	add("Recupérer la liste des utilisateurs", function() {
		return $.get("/user/list").then((result) => assertArray(result, 1, (u) => u.login === "adm" && u.admin === true));
	});

	add("Créer un utilisateur", function() {
		return $.post("/user/insert/u?password=u").then((result) => assertObject(result, (o) => o.login === "u" && !o.name && !o.admin && !o.quota && !o.password));
	});
	add("Bloquer la création si doublon de login", function() {
		return shoudBeAnError($.post("/user/insert/u?password=u"));
	});
	add("Bloquer la création si login absent", function() {
		return shoudBeAnError($.post("/user/insert/?password=u"));
	});
	add("Bloquer la création si password absent", function() {
		return shoudBeAnError($.post("/user/insert/e?password="));
	});

	add("Modifier un utilisateur", function() {
		return $.post("/user/update/u?name=Utilisateur&password=u&quota=3&admin=false").then((result) => assertObject(result, (o) => o.login === "u" && o.name === "Utilisateur" && !o.admin && o.quota === 3 && !o.password));
	});
	add("Bloquer la modification si login absent", function() {
		return shoudBeAnError($.post("/user/update/?name=Utilisateur&password=u&quota=3&admin=false"));
	});
	add("Bloquer la modification si login invalide", function() {
		return shoudBeAnError($.post("/user/update/uuu?name=Utilisateur&password=u&quota=3&admin=false"));
	});

	add("Autoriser l'accès à la gestion des utilisateurs aux admins", function() {
		return $.get("/users.html").then((result) => assertContains(result, "<table id=\"users\""));
	});
	add("Se reconnecter en utilisateur standard", function() {
		return $.post("/login.html?login=u&password=u").then((result) => assertContains(result, "<a href=\"/logout\">Logout</a>"));
	});
	add("Bloquer l'accès à la gestion des utilisateurs aux non admins", function() {
		return $.get("/users.html").then(assertLoginPage);
	});
	add("Se reconnecter en administrateur", function() {
		return $.post("/login.html?login=adm&password=adm").then((result) => assertContains(result, "<a href=\"/logout\">Logout</a>"));
	});

	add("Supprimer un utilisateur", function() {
		return $.post("/user/delete/u").then((result) => assertObject(result, (o) => o.login === "u"));
	});
	add("Bloquer la suppression si login absent", function() {
		return shoudBeAnError($.post("/user/delete/"));
	});
	add("Bloquer la suppression si login invalide", function() {
		return shoudBeAnError($.post("/user/update/uuu"));
	});

	add("Créer un fichier 'fichier.txt' vide avec id 0 à la racine", function() {
		return $.post("/files/touch?name=fichier.txt").then((result) => assertEquals(result, "0"));
	});
	add("Streamer le fichier 'fichier.txt' de longueur 0", function() {
		return $.get("/files/stream/0").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "fichier.txt", 0));
	});
	add("Télécharger le fichier 'fichier.txt' de longueur 0", function() {
		return $.get("/files/download/0").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "fichier.txt", 0));
	});
	add("Naviguer vers le fichier 'fichier.txt' de longueur 0", function() {
		return $.get("/files/browse/fichier.txt").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "fichier.txt", 0));
	});
	add("Vérifier les méta-données d'un fichier texte vide", function() {
		return $.get("/items/info/0").then((result) => assertObject(result, (r) => r.id === 0 && r.name === "fichier.txt" && r.length === 0 && r.mimetype === "text/plain"));
	});

	var totoTxtContent = "Un fichier\ntexte";
	add("Uploader un fichier texte à la racine qui aura pour id 1", function() {
		return shouldUpload(totoTxtContent, "text/plain", "toto.txt", 1);
	});
	add("Streamer le fichier 'toto.txt' de longueur définie", function() {
		return $.get("/files/stream/1").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "toto.txt", totoTxtContent.length));
	});
	add("Télécharger le fichier 'toto.txt' de longueur définie", function() {
		return $.get("/files/download/1").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "toto.txt", totoTxtContent.length));
	});
	add("Naviguer vers le fichier 'toto.txt' de longueur définie", function() {
		return $.get("/files/browse/toto.txt").then((content, status, jqHR) => assertStream(content, status, jqHR, "text/plain", "toto.txt", totoTxtContent.length));
	});
	add("Vérifier les méta-données d'un fichier texte non vide", function() {
		return $.get("/items/info/1").then((result) => assertObject(result, (r) => r.id === 1 && r.name === "toto.txt" && r.length === totoTxtContent.length && r.mimetype === "text/plain" && r.lines === 2));
	});

	add("Uploader une image qui aura pour id 2", function() {
		// Found here : https://stackoverflow.com/questions/23150333/html5-javascript-dataurl-to-blob-blob-to-dataurl
		var base64 = "iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABP0lEQVQ4jd3SP07DMBTH8UcS23ET+U/rurKjplaGXoAF5R7deoaeoUdhYOsEZ+jCwMYNkCohBEIcgB8TlWCAZmDhSZ/xffWGR/Sv5oxzvpZS7qSUByHEIc/zHRGtiejs12Wl1NZ7jxgjYozw3kNrDSEEiGj7Y8Rau26aBikldF2HruuQUkLTNLDWoixLcM63nPPLoihesyy7JKKLYyCldN22LRaLxRdt2yKEgPF4DOfcg3MOxhhIKVGW5dUxEGN8/Dz9uxACZrMZvPfvIQR476GUAmPs7RgIITxNp1OcwjkHpRTm8/kNERHVdb2aTCYvxhicQmsNpdRzVVX3RLSiuq73o9EIp5JSQgiBoijAGNuT1vqWc44hGGPI8xxVVd1S3/cba+1dlmUYwhhz1/f9hgBYAEsA5wMtAdhBv/4n8wHh/sScXBuiFwAAAABJRU5ErkJggg==";
		var bstr = atob(base64);
		var n = bstr.length; // 376
		var content = new Uint8Array(n);
	    while (n--) {
	    	content[n] = bstr.charCodeAt(n);
	    }
		return shouldUpload(content, "image/png", "favicon.png", 2);
	});
	add("Vérifier que l'image 'favicon.png' a la bonne taille", function() {
		return $.get("/files/stream/2").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", 376));
	});
	add("Récupérer une miniature en 32x32 de 'favicon.png'", function() {
		return $.get("/files/thumbnail/2").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", undefined));
	});
	add("Récupérer une miniature en 64x64 de 'favicon.png'", function() {
		return $.get("/files/thumbnail/2?size=64").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", undefined));
	});
	add("Naviguer vers l'image 'favicon.png'", function() {
		return $.get("/files/browse/favicon.png").then((content, status, jqHR) => assertStream(content, status, jqHR, "image/png", "favicon.png", 376));
	});
	add("Vérifier les méta-données d'une image", function() {
		return $.get("/items/info/2").then((result) => assertObject(result, (r) => r.id === 2 && r.name === "favicon.png" && r.length === 376 && r.mimetype === "image/png" && r.width === 16 && r.height === 16 && r.depth === 32));
	});

	add("Vérifier le streaming avec Range 3", function() {
		return assertRange("/files/stream/1", "3", totoTxtContent.substr(0,4));
	});
	add("Vérifier le streaming avec Range -3", function() {
		return assertRange("/files/stream/1", "-3", totoTxtContent.substr(-3));
	});
	add("Vérifier le streaming avec Range 3-", function() {
		return assertRange("/files/stream/1", "3-", totoTxtContent.substring(3));
	});
	add("Vérifier le streaming avec Range 3-6", function() {
		return assertRange("/files/stream/1", "3-6", totoTxtContent.substring(3,7));
	});

	add("Vérifier que la corbeille est vide", function() {
		return $.get("/trash/count").then((result) => assertEquals(result, "0"));
	});
	add("Supprimer (corbeille) le fichier 'fichier.txt'", function() {
		return $.post("/trash/delete?itemIds=0").then(assertEmpty);
	});
	add("Vérifier que la corbeille contient 1 élément", function() {
		return $.get("/trash/count").then((result) => assertEquals(result, "1"));
	});
	add("Supprimer (corbeille) les fichiers 'toto.txt' et 'favicon.png'", function() {
		return $.post("/trash/delete?itemIds=1,2").then(assertEmpty);
	});
	add("Vérifier que la corbeille contient 3 éléments", function() {
		return $.get("/trash/count").then((result) => assertEquals(result, "3"));
	});
	add("Restaurer le fichier 'fichier.txt'", function() {
		return $.post("/trash/restore?itemIds=0").then(assertEmpty);
	});
	add("Vérifier le contenu de la corbeille", function() {
		return $.get("/trash/items").then((result) => assertArray(result, 2, (first) => first.name === "favicon.png" && result[1].name === "toto.txt"));
	});
	add("Supprimer (définitivement) le contenu de la corbeille", function() {
		return $.post("/trash/erase?itemIds=1,2").then(assertEmpty);
	});
	add("Vérifier que la corbeille est à nouveau vide", function() {
		return $.get("/trash/count").then((result) => assertEquals(result, "0"));
	});

	add("Vérifier que seul un fichier 'fichier.txt' reste dans le cloud", function() {
		return $.get("/items/list?recursive=true").then((result) => assertArray(result, 1, (first) => first.name === "fichier.txt"));
	});
	add("Déconnecter ramène sur la page de connexion", function() {
		return $.get("/logout").then(assertLoginPage);
	});
	add("Bloquer à nouveau l'accès à la page principale une fois déconnecté", function() {
		return $.get("/main.html").then(assertLoginPage);
	});

}

//==========
//========== Exécution et affichage du résultat de chaque test
//==========

var tests = [];
var tbody = $("table > tbody");
var defer = $.Deferred();
var chain = defer;

fillTests((name, run) => tests.push({ name, run }));

tests.forEach((test, index) => {
	var tr = $("<tr />")
		.append("<td>" + (index + 1) + "</td>")
		.append("<td>" + test.name + "</td>")
		.append("<td></td>")
		.appendTo(tbody);
	chain = chain.then(() => test.run()
		.done((result) => {
			tr.children(":last-child").addClass("text-success").text(result || "OK");
		})
		.fail((error) => {
			var text = error ? (error.responseText || error) : "KO";
			tr.children(":last-child").addClass("text-danger").text(text);
		})
	);
});
defer.resolve();
</script>
</body>
</html>