<#import "common.ftl" as common>
<!DOCTYPE html>
<html>
<head>
	<@common.head title="TrashTitle" translated=true />
	<@common.styles />
	<@common.scripts />
</head>
<body class="nimbus-hidden">

<table id="items" class="table" style="width: auto; max-width: 100%; margin: 40px auto 0; table-layout: unset; ">
	<thead class="thead-light">
		<tr>
			<th style="min-width: 300px; ">
				<input id="select-all" type="checkbox" class="nimbus-hidden" />
				<span data-translate="text">TrashNameColumn</span>
			</th>
			<th data-translate="text" style="min-width: 110px; text-align: right; ">TrashLengthColumn</th>
			<th data-translate="text" style="min-width: 150px; ">TrashCreateDateColumn</th>
			<th data-translate="text" style="min-width: 150px; ">TrashDeleteDateColumn</th>
			<th data-translate="text" class="d-none d-lg-table-cell">TrashPathColumn</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
		<tr class="nimbus-hidden" id="empty-message">
			<td colspan="5">
				<div data-translate="text" class="alert alert-light mb-0" role="alert">TrashEmptyMessage</div>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="text-align: right; ">
				<a class="btn btn-link" href="${backURL}" id="back-button" style="float: left;">
					<i class="material-icons">chevron_left</i>
					<span data-translate="text">TrashBackButton</span>
				</a>
				<button class="btn btn-outline-primary nimbus-hidden" id="restore-button" style="margin: 0 5px; ">
					<i class="material-icons">restore_from_trash</i>
					<span data-translate="text">TrashRestoreButton</span>
				</button>
				<button class="btn btn-outline-danger nimbus-hidden" id="erase-button" style="margin: 0 5px; ">
					<i class="material-icons">delete_forever</i>
					<span data-translate="text">TrashEraseButton</span>
				</button>
				<button class="btn btn-danger nimbus-hidden" id="clear-button" style="margin: 0 5px; ">
					<i class="material-icons">delete_sweep</i>
					<span data-translate="text">TrashClearButton</span>
				</button>
			</td>
		</tr>
	</tfoot>
</table>

<script>
//Initialiser la page
NIMBUS.init([], function() {
	execute();
});

function processSelection(url) {
	var rows = $('#items > tbody > tr.table-active');
	var ids = rows.get().map(function(tr) {
		return tr.getAttribute('data-id');
	}).join(',');

	$.post(url, {
		itemIds: ids
	}).then(function() {
		rows.remove();
		$('#select-all').prop('check', false);
		$('#restore-button,#erase-button').addClass('nimbus-hidden');
		if (document.querySelector('#items > tbody > tr') === null) {
			$('#select-all,#clear-button').addClass('nimbus-hidden');
			$('#empty-message').removeClass('nimbus-hidden');
		}
	});
}

function execute() {
	// L'IHM est prête, on l'affiche
	$(document.body).removeClass('nimbus-hidden');

	// Donner le focus au bouton retour, par précaution
	$('#back-button').focus();

	// Chargement du contenu de la corbeille
	$.get('/trash/items').then(function(items) {
		$('#items > tbody').append(items.map(function(item) {
			return $('<tr />').attr('data-id', item.id.toString())
				.append($('<td />').text(item.name).attr('title', item.path).css('white-space', 'normal'))
				.append($('<td style="text-align: right; "/>').text(NIMBUS.formatLength(item.length)))
				.append($('<td />').text(NIMBUS.formatDatetime(item.createDate)))
				.append($('<td />').text(NIMBUS.formatDatetime(item.deleteDate)))
				.append($('<td class="d-none d-lg-table-cell" />').text(item.path))
				[0];
		}));
		if (items.length > 0) {
			$('#select-all,#clear-button').removeClass('nimbus-hidden');
		} else {
			$('#empty-message').removeClass('nimbus-hidden');
		}
	});

	// Sélection / désélection
	$('#items > tbody').on('click', 'tr', function(event) {
		var tr = $(event.target).closest('tr').toggleClass('table-active');
		var hasSelection = tr.is('.table-active') || tr.siblings('.table-active').length > 0;
		$('#restore-button,#erase-button').toggleClass('nimbus-hidden', !hasSelection);
	});

	// Sélection / désélection totale
	$('#select-all').on('change', function(event) {
		$('#items > tbody > tr').toggleClass('table-active', event.target.checked);
		$('#restore-button,#erase-button').toggleClass('nimbus-hidden', !event.target.checked);
	});

	// Préparation du bouton qui vide la corbeille
	$('#clear-button').click(function() {
		var ids = $('#items > tbody > tr').get().map(function(tr) {
			return tr.getAttribute('data-id');
		}).join(',');

		$.post('/trash/erase', {
			itemIds: ids
		}).then(function() {
			$('#items > tbody').empty();
			$('#select-all,#clear-button,#restore-button,#erase-button').addClass('nimbus-hidden');
			$('#empty-message').removeClass('nimbus-hidden');
		})
	});

	// Préparation du bouton de suppression définitive
	$('#erase-button').click(function() {
		processSelection('/trash/erase');
	});

	// Préparation du bouton de restauration
	$('#restore-button').click(function() {
		processSelection('/trash/restore');
	});
}
</script>

</body>
</html>
