<!DOCTYPE html>
<html class="nimbus-viewer nimbus-hideable-toolbars">
<head>
<title data-translate="text">VideoTitle</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/preferences/theme.css" />
<link type="text/css" rel="stylesheet" href="/libs/material-icons/material-icons-custom.css" />
<link type="text/css" rel="stylesheet" href="/nimbus.css" />
<style>
.play-toggle.active :first-child { display: none; }
.play-toggle:not(.active) :last-child { display: none; }
.volume-toggle.active :first-child { display: none; }
.volume-toggle:not(.active) :last-child { display: none; }
</style>
<script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/libs/popper/popper.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/gp/gp.js"></script>
<script type="text/javascript" src="/nimbus.js"></script>
<script type="text/javascript" src="/langs/${lang}.js"></script>
</head>
<body class="nimbus-hidden">
	<header>
		<div class="float-left">
			<a href="#" class="btn btn-link back" style="display: none;"><i class="material-icons">arrow_back</i></a>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-link play-toggle" data-translate="title" title="VideoPause">
				<i class="material-icons">pause_circle_outline</i>
				<i class="material-icons">play_circle_outline</i>
			</button>
			<button type="button" class="btn btn-link play-menu" data-translate="title" title="VideoPlayMenu">
				<i class="material-icons">fast_forward</i>
			</button>
			<div class="btn-group nimbus-hidden" id="play-options">
				<button type="button" class="btn btn-link play-move" data-offset="-30" data-translate="title" title="VideoReplay30"><i class="material-icons">replay_30</i></button>
				<button type="button" class="btn btn-link play-move" data-offset="-10" data-translate="title" title="VideoReplay10"><i class="material-icons">replay_10</i></button>
				<button type="button" class="btn btn-link play-move" data-offset="-5" data-translate="title" title="VideoReplay5"><i class="material-icons">replay_5</i></button>
				<button type="button" class="btn btn-link speed-slower" data-translate="title" title="VideoSpeedSlower"><i class="material-icons">fast_rewind</i></button>
				<button type="button" class="btn btn-link speed-initial" data-translate="title" title="VideoSpeedInitial">x1</button>
				<button type="button" class="btn btn-link speed-faster" data-translate="title" title="VideoSpeedFaster"><i class="material-icons">fast_forward</i></button>
				<button type="button" class="btn btn-link play-move" data-offset="5" data-translate="title" title="VideoForward5"><i class="material-icons">forward_5</i></button>
				<button type="button" class="btn btn-link play-move" data-offset="10"  data-translate="title" title="VideoForward10"><i class="material-icons">forward_10</i></button>
				<button type="button" class="btn btn-link play-move" data-offset="30" data-translate="title" title="VideoForward30"><i class="material-icons">forward_30</i></button>
			</div>
			<span class="nimbus-toolbar-separator"></span>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-link volume-toggle" data-translate="title" title="VideoVolumeOff">
				<i class="material-icons">volume_up</i>
				<i class="material-icons">volume_off</i>
			</button>
			<button type="button" class="btn btn-link volume-menu" data-translate="title" title="VideoVolumeMenu">
				<i class="material-icons">tune</i>
			</button>
			<input type="range" class="nimbus-hidden" id="volume-slider" min="0" max="100" step="1" style="max-width: 100%; width: 300px; " />
		</div>

		<div class="btn-group nimbus-hidden">
			<span class="nimbus-toolbar-separator"></span>
			<button id="subtitles-button" type="button" class="btn btn-link" data-toggle="dropdown" data-translate="title" title="VideoSubtitles" aria-haspopup="true" aria-expanded="false"><i class="material-icons">subtitles</i></button>
			<div id="subtitles-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="subtitles-button">
				<button class="dropdown-item active" data-translate="text">VideoSubtitlesDisabled</button>
			</div>
		</div>

		<div class="float-right">
			<button type="button" class="btn btn-link ratio" data-translate="title" title="VideoAspectRatio"><i class="material-icons">aspect_ratio</i></button>
			<button type="button" class="btn btn-link fullscreen" data-translate="title" title="VideoFullscreen"><i class="material-icons">fullscreen</i></button>
			<button type="button" class="btn btn-link exit-fullscreen nimbus-hidden" data-translate="title" title="VideoExitFullscreen"><i class="material-icons">fullscreen_exit</i></button>
		</div>
	</header>
	<main style="overflow: hidden;">
		<video style="width: 100%; height: 100%; object-fit: contain; " loop="loop"></video>
		<div class="alert alert-danger nimbus-hidden" role="alert" data-translate="text">VideoPlayError</div>
	</main>
	<footer>
		<div style="float: left; padding-right: 10px; font-size: small; font-family: mono; color: white; ">
			<span class="speed"></span>
		</div>
		<div style="float: right; padding-left: 10px; font-size: small; font-family: mono; color: white; ">
			<span class="position"></span> / <span class="duration text-muted"></span>
		</div>
		<div class="progress" style="cursor: pointer; height: auto; height: 1em; margin: 3px 0;">
			<div class="progress-bar" role="progressbar" style="width: 0;  transition: none; " aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</footer>

<script>
// Quelques variables
var video = document.querySelector('video');
var fullscreenElement = document.body;
fullscreenElement.requestFullscreen = fullscreenElement.requestFullscreen || fullscreenElement.mozRequestFullScreen || fullscreenElement.webkitRequestFullscreen || fullscreenElement.msRequestFullscreen;
document.exitFullscreen = document.exitFullscreen || document.mozCancelFullScreen || document.webkitExitFullscreen || document.msExitFullscreen;

//Initialiser la page
NIMBUS.init(['video.js'], function() {
	// En haut à gauche, le bouton "Retour"
	$('.back').toggle(!!'${fromUrl}').attr('title', '${fromTitle}').attr('href', '${fromUrl}');

	// Gestion de la lecture
	var playOptions = $('#play-options');
	$('.play-toggle').click(function() {
		if (video.paused)
			video.play();
		else
			video.pause();
	});
	$('.play-menu').popover({
		selector: true, // pour que le "title" du bouton reste présent
		html: true,
		placement: 'bottom',
		trigger: 'click',
		template: '<div class="popover" role="tooltip" style="max-width: none; "><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
		content: function() {
			return playOptions.removeClass('nimbus-hidden');
		}
	}).on('shown.bs.popover', function() {
		playOptions.find('.speed-initial').focus();
	});
	playOptions.on('blur', 'button', function(event) {
		if (!event.relatedTarget || !$(event.relatedTarget).parent().is('#play-options'))
			$('.play-menu').popover('hide');
	});
	playOptions.on('click', 'button.play-move', function(event) {
		var offset = parseInt($(event.target).closest('[data-offset]').attr('data-offset'));
		video.currentTime += offset;
	});
	playOptions.on('click', 'button.speed-slower', function(event) {
		var decrement = (Math.floor(video.playbackRate) + 1) / 10;
		video.playbackRate = Math.max(0.1, video.playbackRate - decrement);
	});
	playOptions.on('click', 'button.speed-faster', function(event) {
		var increment = (Math.floor(video.playbackRate) + 1) / 10;
		video.playbackRate = Math.min(4, video.playbackRate + increment);
	});
	playOptions.on('click', 'button.speed-initial', function(event) {
		video.playbackRate = video.defaultPlaybackRate || 1;
	});

	// Gestion du volume
	var volumeSlider = $('#volume-slider');
	$('.volume-toggle').click(function() {
		video.muted = !video.muted;
	})
	$('.volume-menu').popover({
		selector: true, // pour que le "title" du bouton reste présent
		html: true,
		placement: 'bottom',
		trigger: 'click',
		content: function() {
			return volumeSlider.removeClass('nimbus-hidden').val((video.volume * 100).toFixed(0));
		}
	}).on('shown.bs.popover', function() {
		volumeSlider.focus();
	});
	volumeSlider.on('input', function(event) {
		video.volume = parseInt(volumeSlider.val()) / 100;
	});
	volumeSlider.on('blur', function() {
		$('.volume-menu').popover('hide');
	});

	// En haut à droite, les boutons pour le plein-écran
	$('.ratio').click(function() {
		var options = ['fill', 'contain', 'cover', 'scale-down'];
		video.style.objectFit = options[(options.indexOf(video.style.objectFit) + 1) % options.length];
	});
	$('.fullscreen').toggleClass('nimbus-hidden', !fullscreenElement.requestFullscreen).click(function() {
		fullscreenElement.requestFullscreen();
		$('.fullscreen').addClass('nimbus-hidden').next().toggleClass('nimbus-hidden', !document.exitFullscreen);
	});
	$('.exit-fullscreen').click(function() {
		document.exitFullscreen();
		$('.exit-fullscreen').addClass('nimbus-hidden').prev().toggleClass('nimbus-hidden', !fullscreenElement.requestFullscreen);
		$('.nimbus-viewer').removeClass('nimbus-hidden-toolbars');
	});

	// Clic sur la partie centrale pour afficher/cacher les barres d'outils
	$('main').click(function(event) {
		$('.nimbus-viewer').toggleClass('nimbus-hidden-toolbars');
	});

	// Gestion de la vidéo
	// https://www.w3schools.com/tags/ref_av_dom.asp
	// https://www.w3schools.com/tags/ref_eventattributes.asp
	video.onerror = function() {
		$(video).remove().next().removeClass('nimbus-hidden');
		$('.nimbus-viewer').removeClass('nimbus-hideable-toolbars').addClass('nimbus-static-toolbars');
		$('.back').parent().siblings().remove();
		$('footer').empty();
	};
	video.onloadedmetadata = function(event) {
		$('.progress-bar').attr('aria-valuemax', video.duration);
		$('.duration').text(NIMBUS.formatDuration(video.duration));
	};
	video.ontimeupdate = function(event) {
		$('.position').text(NIMBUS.formatDuration(video.currentTime));
		$('.progress-bar').css('width', (video.currentTime * 100 / video.duration) + '%').attr('aria-valuenow', video.currentTime);
	};
	video.onplay = function() {
		$('.play-toggle').attr('title', NIMBUS.translate('VideoPause')).removeClass('active');
	};
	video.onpause = function() {
		$('.play-toggle').attr('title', NIMBUS.translate('VideoResume')).addClass('active');
	};
	video.onvolumechange = function(event) {
		$('.volume-toggle').attr('title', NIMBUS.translate(video.muted ? 'VideoVolumeOn' : 'VideoVolumeOff')).toggleClass('active', video.muted);
	};
	video.onratechange = function(event) {
		$('.speed').text('x' + video.playbackRate.toFixed(1)).parent().toggle(video.playbackRate !== 1);
	};

	// Gestion de la barre de progression
	var progress = $('.progress');
	progress.on('mousemove', function(event) {
		var currentX = event.clientX - document.querySelector('.progress-bar').offsetLeft;
		var currentMS = currentX * video.duration / document.querySelector('.progress').clientWidth;
		progress.attr('title', NIMBUS.formatDuration(currentMS));
	});
	progress.click(function(event) {
		var maxMS = video.duration;
		var currentX = event.clientX - document.querySelector('.progress-bar').offsetLeft;
		var currentMS = currentX * video.duration / document.querySelector('.progress').clientWidth;
		video.currentTime = currentMS;
	});

	// On lance la vidéo
	video.src = '/files/stream/${itemId}';
	video.play();

	// Get video info to get subtitles
	$.get('/items/info/${itemId}').then(function(item) {
		var lastDotIndex = item.name.lastIndexOf('.');
		var baseName = item.name.substring(0, lastDotIndex);
		$.get('/items/list', {
			parentId: item.parentId,
			searchText: baseName,
			searchBy: 'name',
			folders: false,
			deleted: false,
			extensions: 'vtt'
		}).then(function(results) {
			var menu = $('#subtitles-menu').on('click', 'button', function(event) {
				var button = $(event.target).closest('button');
				var track = button.data('track');
				for (var i = 0; i < video.textTracks.length; i++) {
					var t = video.textTracks[i];
					t.mode = (track && t === track.track) ? 'showing' : 'hidden';
				}
				button.addClass('active').siblings().removeClass('active');
			});
			function addTrack(name, lang, src) {
				// Enregistrer le sous-titre de la vidéo
				var track = $('<track kind="subtitles" />')
					.attr('label', name || NIMBUS.translate('VideoSubtitlesDefault'))
					.attr('srclang', lang || 'fr')
					.attr('src', src)
					.appendTo(video)
					.get(0);
				// Afficher le menu de sélection des sous-titres
				menu.parent().removeClass('nimbus-hidden');
				// Ajouter une entrée pour chaque sous-titre
				$('<button class="dropdown-item" />')
					.data('track', track)
					.text(name || NIMBUS.translate('VideoSubtitlesDefault'))
					.appendTo(menu);
			}
			results.forEach(function(result) {
				// <track src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
				var name = result.name.replace(baseName, '');
				var lang = name.substring(0, name.lastIndexOf('.')).replace('.', '').replace('_', '').replace('-', '');
				addTrack(lang, lang, '/files/stream/' + result.id);
			});
		});
	});

	// L'IHM est prête, on l'affiche
	$(document.body).removeClass('nimbus-hidden');

	// Manipulation au clavier
	$(document.body).keystrokes({
		'Home': () => video.currentTime = 0,
		'PageUp': () => video.currentTime -= 5,
		'Shift-PageUp': () => video.currentTime -= 10,
		'PageDown': () => video.currentTime += 5,
		'Shift-PageDown': () => video.currentTime += 10,
		'+': () => video.volume = Math.min(video.volume + 0.1, 1),
		'Shift-+': () => video.volume = 1,
		'-': () => video.volume = Math.max(video.volume - 0.1, 0),
		'Shift--': () => video.volume = 0,
		'ArrowRight': () => playOptions.find('button.speed-faster').click(),
		'ArrowLeft': () => playOptions.find('button.speed-slower').click(),
		'Enter': () => playOptions.find('button.speed-initial').click(),
		'Space': () => $('.play-toggle').click(),
		'F11': () => $('.fullscreen').hasClass('nimbus-hidden') ? $('.exit-fullscreen').click() : $('.fullscreen').click(),
	});

});
</script>

</body>
</html>
